.lightGreenBg{
    background-color: #d7ecc1;
}
.lightBlueBg{
    background-color: #c1dfec;
}
.lightYellowBg{
    background-color: #f2eebb;
}
.smallText {
    font-size:12px;
}
.lightBrownBG{
    background-color: #777777 !important;
    border-color: #616161 !important;
}
.lightDrkCreameBg {
    background-color: #f0debc;
}
.lightPinkBg {
    background-color: #f3d8d9;
}
.lightGrayBg {
    background-color: #eeeeee;
}
.cardHeaderBlueBg {
    background-color: #17adc2 !important;
}
.cardBodyBlueBg {
    background-color: #b2e4eb !important;
}
.cardHeaderGreenBg {
    background-color: #7dc546 !important;
}
.cardBodyGreenBg {
    background-color: #d4ecc1 !important;
}
.cardHeaderVioletBg {
    background-color: #a43794 !important;
}
.cardBodyVioletBg {
    background-color: #e1bcdb !important;
}
.cardHeaderYellowBg {
    background-color: #f4ae32 !important;
}
.cardBodyYellowBg {
    background-color: #fbe4bb !important;
}
.cardHeaderDBlueBg {
    background-color: #3c7bb4 !important;
}
.cardBodyDBlueBg {
    background-color: #bed3e6 !important;
}
.cardHeaderDGrayBg{
    background-color: #787878 !important;
}
.cardBodyDGrayBg{
    background-color: #eeeeee !important;
}
.cardBodyDBlueBg label, .cardBodyDBlueBg span, .cardBodyYellowBg label, .cardBodyYellowBg span, .cardBodyVioletBg label, .cardBodyVioletBg span, .cardBodyGreenBg label, .cardBodyGreenBg span, .cardBodyBlueBg label, .cardBodyBlueBg span{
    color: #333333 !important;
}
.bdrBtmOnly{
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
#tblBillingVaccineInfo .table thead th, #tblBillingVaccineInfo .table td{
    border-bottom: none !important;
    border-top: none !important;
}
.table, input {
    font-size: 14px !important;
    color: #333333 !important;
}
.error-msg {
    color: red;
  }
   .has-error label{
    color:red!important;
    }
    .has-error input{
    border:1px solid red !important;
    } 
    .has-error select{
    border:1px solid red !important;
    } 
    div.divider {
        margin-top: 5px !important;
        margin-right: 0px ;
        margin-bottom: 5px !important;
        margin-left: 0px;
        position: relative;
        display: block;
        min-height: 20px;
    }