<form [formGroup]="clinicDetailsForm">

  <div class="card cardHeaderBlueBg">
    <div class="card-heading card-heading-transparent">
      <h2 class="card-title text-white">Store Information</h2>
    </div>
    <div class="card-block bdrBtmOnly cardBodyBlueBg">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group row">
            <label for="assignedStore" class="col-lg-3 col-md-12 col-sm-12 col-12 col-form-label">Assigned Store:</label>
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
              <input type="text" formControlName="storeID" class="form-control" id="assignedStore" pInputText pKeyFilter="num">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card cardHeaderGreenBg">
    <div class="card-heading card-heading-transparent">
      <h2 class="card-title text-white">Opportunity Information</h2>
    </div>

    <div class="card-block bdrBtmOnly cardBodyGreenBg">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group row">
            <label for="clientName" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Client Name:</label>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
              <span>{{coClinicDetails.BusinessInformation.businessName}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
            <div class="form-group row">
              <label for="email" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Contact Email: </label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="email" class="form-control" id="email" formControlName="email" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$">
              </div>
            </div>
          </div>
        <div class="col-md-6 col-sm-6 col-12" [ngClass]="displayFieldCss('firstName')">
          <div class="form-group row">
            <label for="firstName" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Contact First Name:</label>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
              <input type="text" class="form-control required" id="firstName" formControlName="firstName" pInputText pKeyFilter="alpha">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12" [ngClass]="displayFieldCss('lastName')">
          <div class="form-group row">
            <label for="lastName" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
              Contact Last Name:</label>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
              <input type="text" class="form-control required" id="lastName" formControlName="lastName" pInputText pKeyFilter="alpha">
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12" [ngClass]="displayFieldCss('phone')">
          <div class="form-group row">
            <label for="phone" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
              Contact Phone:</label>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
              <input type="text" class="form-control required" id="phone" formControlName="phone" pInputText pKeyFilter="num" minLength="10"
                maxLength="10">
            </div>
          </div>
        </div>


        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group row">
            <label for="jobTitle" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
              Contact Job Title:</label>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
              <input type="text" class="form-control" id="jobTitle" formControlName="jobTitle" pInputText pKeyFilter="alpha">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card cardHeaderVioletBg">
    <div class="card-heading card-heading-transparent">
      <h2 class="card-title text-white">Billing & Vaccine Information</h2>
    </div>
    <div class="card-block bdrBtmOnly cardBodyVioletBg">
      <div class="row mb-20">
        <div class="col-md-4 col-sm-4 col-12" [ngClass]="displayFieldCss('naClinicPlanId')">
          <div class="form-group row">
            <label for="planID" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Plan ID:</label>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
              <input type="text" class="form-control" id="planID" formControlName="naClinicPlanId" pInputText pKeyFilter="alphanum">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12" [ngClass]="displayFieldCss('recipientId')">
          <div class="form-group row">
            <label for="idRecipient" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
              ID Recipient:</label>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
              <input type="text" class="form-control" id="idRecipient" formControlName="recipientId">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
          <div class="form-group row">
            <label for="clientName" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Group ID:</label>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
              <input type="text" readonly class="form-control-plaintext" id="clientName" formControlName="naClinicGroupId">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div formArrayName="ImmunizationDetails">
            <div class="d-block d-sm-none" *ngFor="let immunization of clinicDetailsForm.controls.ImmunizationDetails['controls']; let i=index" name="ImmunizationDetails" formGroupName="{{i}}">
              <hr/>
             <div class="row">
                <div class="col-md-6 col-6">
                   <strong>Immunization</strong>
                </div>
                <div class="col-md-6  col-6">
                   <span>{{immunization.get('immunizationName').value}}</span>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6 col-6">
                   <strong>Rates</strong>
                </div>
                <div class="col-md-6  col-6">
                   <span>{{immunization.get('price').value}}</span>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6 col-6">
                   <strong>Payment Method</strong>
                </div>
                <div class="col-md-6  col-6">
                   <span>{{immunization.get('paymentTypeName').value}}</span>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6 col-6">
                   <strong>Est Vol</strong>
                </div>
                <div class="col-md-6  col-6">
                   <span [ngClass]="displayFieldCssForArray('estimatedQuantity', i)">
                      <input type="text" name="immunization[estimatedQuantity]" pInputText pKeyFilter="num" class="form-control required" formControlName="estimatedQuantity">
                   </span>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6 col-6">
                   <h5>Total Administered</h5>
                </div>
                <div class="col-md-6  col-6">
                   <p [ngClass]="displayFieldCssForArray('totalImmAdministered', i)">
                      <input type="text" name="immunization[totalImmAdministered]" pInputText class="form-control required" formControlName="totalImmAdministered" (keypress)="onlyNumbers($event)" (paste)="$event.preventDefault()">
                   </p>
                </div>
             </div>
          </div>
          <div class="d-none d-sm-block table-responsive" id="tblBillingVaccineInfo">

              <table class="table table-sm border-0">
                <thead class="cardHeaderVioletBg text-white  border-0">
                  <tr>
                    <th>Immunization</th>
                    <th>Rate</th>
                    <th>Payment Method</th>
                    <th>Est Vol</th>
                    <th>Total Administered</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let immunization of clinicDetailsForm.controls.ImmunizationDetails['controls']; let i=index" name="ImmunizationDetails"
                    formGroupName="{{i}}">
                    <td>{{immunization.get('immunizationName').value}}</td>
                    <td>{{immunization.get('price').value}}</td>
                    <td>{{immunization.get('paymentTypeName').value}}</td>
                    <td [ngClass]="displayFieldCssForArray('estimatedQuantity', i)">
                      <input type="text" name="immunization[estimatedQuantity]" pInputText pKeyFilter="num" class="form-control required" formControlName="estimatedQuantity">
                    </td>
                    <td [ngClass]="displayFieldCssForArray('totalImmAdministered', i)">
                      <input type="text" name="immunization[totalImmAdministered]" pInputText class="form-control required" formControlName="totalImmAdministered" (keypress)="onlyNumbers($event)" (paste)="$event.preventDefault()">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="form-group">
              <label for="addlComments">Additional Comments/Instructions:</label>
              <textarea class="form-control" id="addlComments" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card cardHeaderYellowBg">
    <div class="card-heading card-heading-transparent">
      <button type="button" (click)="addLocation(undefined)" class="btn cardHeaderYellowBgBtn btn-sm float-right">Add A Clinic Location</button>
      <h2 class="card-title text-white">Clinic Information</h2>
    </div>
    <div formArrayName="locationDetails">
      <div *ngFor="let clinicLocation of clinicDetailsForm.controls.locationDetails['controls'];let i=index" [formGroupName]="i"
        class="card-block bdrBtmOnly cardBodyYellowBg">
        <div class="row" *ngIf="i>0">
          <div class="col-md-12 col-sm-12">
            <div class="divider double-line">
            </div>
          </div>
        </div>
        <div class="row" *ngIf="i > 0">
          <div class="col-md-12 col-sm-12">
            <span class="glyphicon glyphicon-remove pull-right" (click)="removeLocation(i)"></span>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 form-group" *ngIf='i>=1'>
           <div class="float-right">
             <label class="checkbox">
                    <input type="checkbox" formControlName="previousContact"  (change)="copyPreviousContactInfo(i, $event.target.checked)">
                    <i></i> Copy Previous Contact Info
            </label> 
            <br/>
             <label class="checkbox">
                    <input type="checkbox" formControlName="previousLocation" (change)="copyPreviousLocation(i, $event.target.checked)">
                    <i></i> Copy Previous Address
            </label>
        </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-12">
            <div class="form-group row">
              <label for="naClinicLocation" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Location:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="text" readonly class="form-control-plaintext" id="naClinicLocation" name="naClinicLocation" formControlName="naClinicLocation"
                  pInputText pKeyFilter="alpha">
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-12">
            <div class="form-group row" [ngClass]="displayFieldCssForArray('naClinicAddress1', i)">
              <label for="naClinicAddress1" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Address 1:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="text" class="form-control" id="naClinicAddress1" formControlName="naClinicAddress1" class="form-control required">

              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-12">
            <div class="form-group row">
              <label for="naClinicAddress2" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Address 2:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="text" class="form-control" id="naClinicAddress2" name="naClinicAddress2" formControlName="naClinicAddress2">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-12" [ngClass]="displayFieldCssForArray('clinicDate', i)">
            <div class="form-group row">
              <label for="clinicDate" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Date:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <p-calendar class="primeng-control" readonlyInput="true" formControlName="clinicDate" [minDate]="minDateValue" [maxDate]="maxDateValue"></p-calendar>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-12" [ngClass]="displayFieldCssForArray('naClinicStartTime', i)">
            <div class="form-group row">
              <label for="naClinicStartTime" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
                Start Time:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <p-calendar class="primeng-control" formControlName="naClinicStartTime" [defaultDate]="defaultStartTime" [stepHour]="1" [stepMinute]="30"
                  [timeOnly]="true" hourFormat="12"></p-calendar>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-12">
            <div class="form-group row" [ngClass]="displayFieldCssForArray('naClinicEndTime', i)">
              <label for="naClinicEndTime" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
                End Time:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <p-calendar class="primeng-control" formControlName="naClinicEndTime" [defaultDate]="defaultStartTime" [stepHour]="1" [stepMinute]="30"
                  [timeOnly]="true" hourFormat="12"></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-12">
            <div class="form-group row" [ngClass]="displayFieldCssForArray('naContactFirstName', i)">
              <label for="naContactFirstName" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">First Name:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="text" class="form-control required" id="naContactFirstName" name="naContactFirstName" formControlName="naContactFirstName"
                  pInputText >
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-12" [ngClass]="displayFieldCssForArray('naContactLastName',i)">
            <div class="form-group row">
              <label for="naContactLastName" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
                Last Name:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="text" class="form-control required" id="naContactLastName" name="naContactLastName" formControlName="naContactLastName"
                  pInputText >
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-12" [ngClass]="displayFieldCssForArray('naClinicContactPhone',i)">
            <div class="form-group row">
              <label for="naClinicContactPhone" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
                Phone#:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="text" class="form-control required" id="naClinicContactPhone" name="naClinicContactPhone" formControlName="naClinicContactPhone"
                  pInputText pKeyFilter="num" minlength="10" maxlength="10">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-12" [ngClass]="displayFieldCssForArray('naContactEmail',i)">
            <div class="form-group row">
              <label for="naContactEmail" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Email:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="email" class="form-control" id="naContactEmail" name="naContactEmail" formControlName="naContactEmail" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$">
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-12" [ngClass]="displayFieldCssForArray('naClinicCity',i)">
            <div class="form-group row">
              <label for="naClinicCity" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
                City:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="text" class="form-control required" id="naClinicCity" name="naClinicCity" formControlName="naClinicCity" pInputText
                  pKeyFilter="alpha">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-12" [ngClass]="displayFieldCssForArray('naClinicState',i)">
            <div class="form-group row">
            <label  for="naClinicState" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">State:</label>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="fancy-form">
               <select class="form-control required" formControlName="naClinicState" name="naClinicState"  id="naClinicState" >
                  <option value="">Select</option>
                  <option *ngFor="let state of states" [ngValue]="state.id">{{state.id}}</option>
               </select>
               <i class="fancy-arrow"></i>
            </div>
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-12" [ngClass]="displayFieldCssForArray('naClinicZip',i)">
            <div class="form-group row">
              <label for="naClinicZip" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Zip:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="text" class="form-control required" id="naClinicZip" name="naClinicZip" formControlName="naClinicZip" pInputText
                  pKeyFilter="num" minlength="5" maxlength="5">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-12">
            <div class="form-group row">
              <label for="confirmedClientName" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Confirmed By:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <input type="text" class="form-control" id="confirmedClientName" placeholder="Clinic Contact Name" formControlname="confirmedClientName"
                  name="confirmedClientName">
              </div>
            </div>
          </div>
        </div>
        <div>
          <h4>Outreach Type</h4>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-6 col-sm-6 col-12 form-group" [ngClass]="displayFieldCssOutReachType('coOutreachTypeId',i)">
            <!-- radio -->
            <label class="radio">
              <input class="form-control required" type="radio" value="1" formControlName="coOutreachTypeId" (change)="onOtherRadioClicked($event.target.value,i)">
              <i></i> {{coOutReachTypes[0].description}}
            </label>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12 form-group" [ngClass]="displayFieldCssOutReachType('coOutreachTypeId',i)">
            <!-- radio -->
            <label class="radio">
              <input type="radio" class="form-control required" value="2" formControlName="coOutreachTypeId" (change)="onOtherRadioClicked($event.target.value,i)">
              <i></i> {{coOutReachTypes[1].description}}
            </label>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12  form-group" [ngClass]="displayFieldCssOutReachType('coOutreachTypeId',i)">

            <!-- radio -->
            <label class="radio">
              <input type="radio" class="form-control required" value="3" formControlName="coOutreachTypeId" (change)="onOtherRadioClicked($event.target.value,i)">
              <i></i> {{coOutReachTypes[2].description}}
            </label>
          </div>
          <div class="col-lg-1 col-md-2 col-sm-6 col-12  form-group" [ngClass]="displayFieldCssOutReachType('coOutreachTypeId',i)">
            <!-- radio -->
            <label class="radio">
              <input type="radio" class="form-control required" value="4" formControlName="coOutreachTypeId" (change)="onOtherRadioClicked($event.target.value,i)">
              <i></i> {{coOutReachTypes[3].description}}
            </label>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 form-group" *ngIf="clinicLocation.controls.coOutreachTypeId.value=='4'" [ngClass]="displayFieldCssOutReachType('coOutreachTypeDesc',i)">
            <input type="text" name="coOutreachTypeDesc" pInputText formControlName="coOutreachTypeDesc" value="" class="form-control required">
          </div>

        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div formArrayName="immunizations">
              <div *ngFor="let immunization of clinicLocation.controls.immunizations.controls; let im=index" name="immunization">
                <div *ngIf="i>0">
                  <div class="form-group row" formGroupName="{{im}}">
                    <label for="inputPassword" class="col-lg-8 col-md-12 col-sm-12 col-12 col-form-label">Estimated {{immunization.get('immunizationName').value}}
                      <br/> {{immunization.get('paymentTypeName').value}}</label>
                    <div class="col-lg-4 col-md-12 col-sm-12" [ngClass]="displayFieldCssForLocImm('estimatedQuantity',i,im)">
                      <input type="text" pInputText pKeyFilter="num" formControlName="estimatedQuantity" name="location[est_shots]" maxlength="5"
                        class="form-control required">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Pharmacist & Post Clinic Information -->

  <div class="card cardHeaderDBlueBg">
    <div class="card-heading card-heading-transparent">
      <h2 class="card-title text-white">Pharmacist & Post Clinic Information</h2>
    </div>

    <div class="card-block bdrBtmOnly cardBodyDBlueBg">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
          <div class="form-group row">
            <label for="pharmacistName" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Rx Host:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="pharmacistName" formControlName="pharmacistName" name="pharmacistName" placeholder="Enter Rx Name">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
          <div class="form-group row">
            <label for="pharmacistPhone" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
              Rx Phone#:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="pharmacistPhone" formControlName="pharmacistPhone" name="pharmacistPhone">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
          <div class="form-group row">
            <label for="totalHours" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
              Clinic Hours:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="totalHours" name="totalHours" formControlName="totalHours" placeholder="Total # of Hours at Clinic">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="form-group">

            <label for="feedbackNotes">Feedback/ Notes:</label>
            <textarea class="form-control" id="feedbackNotes" formControlName="feedbackNotes" name="feedbackNotes" rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pharmacist & Post Clinic Information -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12 text-center">
      <button type="submit" disabled="{{validate}}" (click)="confirmClinic(clinicDetailsForm.value)" class="btn btn-primary btn-lg m-5">Confirmed</button>
      <button type="submit" disabled="{{validate}}" class="btn btn-primary btn-lg m-5" (click)="completeClinic()">Completed</button>
      <button type="submit" disabled="{{validate}}" class="btn btn-primary btn-lg m-5" (click)="cancelClinic()">Cancel</button>
      <button type="submit" class="btn btn-primary btn-lg m-5">Save Changes</button>
    </div>
  </div>

  <div class="card cardHeaderDGrayBg">
    <div class="card-heading card-heading-transparent">
        <h2 class="card-title text-white">History Log</h2>
    </div>
    <div class="card-block bdrBtmOnly cardBodyDGrayBg">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">

              <div class="d-block d-sm-none" *ngFor="let hist of coClinicDetails.HistoryLog.HistoryLogItems; let i=index">
                   
                <div class="row">
                   <div class="col-md-6 col-6">
                      <strong>Date</strong>
                   </div>
                   <div class="col-md-6  col-6">
                      <span>{{hist.date}}</span>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-6 col-6">
                      <strong>Action</strong>
                   </div>
                   <div class="col-md-6  col-6">
                      <span>{{hist.action}}</span>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-6 col-6">
                      <strong>Updated Field</strong>
                   </div>
                   <div class="col-md-6  col-6">
                      <span>{{hist.updatedField}}</span>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-6 col-6">
                      <strong>Update</strong>
                   </div>
                   <div class="col-md-6  col-6">
                      <span>{{hist.update}}</span>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-6 col-6">
                      <h5>User</h5>
                   </div>
                   <div class="col-md-6  col-6">
                      <span>{{hist.user}}</span>
                   </div>
                </div>
                <hr *ngIf="i != (coClinicDetails.HistoryLog.HistoryLogItems.length)-1"/>
             </div>

             <div class="d-none d-sm-block table-responsive mt-10" id="tblBillingVaccineInfo">
                    <table class="table table-sm">
                        <thead class="cardHeaderDGrayBg text-white">
                            <tr>
                                <th>Date</th>
                                <th>Action</th>
                                <th>Updated Field</th>
                                <th>Update</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hist of coClinicDetails.HistoryLog.HistoryLogItems;">
                                <td>{{hist.date}}</td>
                                <td>{{hist.action}}</td>
                                <td>{{hist.updatedField}}</td>
                                <td>{{hist.update}}</td>
                                <td>{{hist.user}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

  <p-accordion>
    <p-accordionTab header="Advanced Options" id="accorAdvOpt">
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Delete Agreement</button>
      </div>
    </p-accordionTab>
  </p-accordion>
</form>