<p-dialog header="{{dialogSummary}}" [(visible)]="display" [closable]="false" [closeOnEscape]="false" modal="modal" width="350" [responsive]="true">
    <p>{{dialogMsg}}</p>
        <p-footer>
            <button type="button" class="pull-right" pButton (click)="okClicked()" label="Ok"></button>
        </p-footer>
</p-dialog>
<div class="card card-default">
  	<div class="card-heading">
        <h2 class="card-title">Contracting Client Information</h2>
      </div>
	<div class="card-block">
		<form name="clientForm" [formGroup]="clientlegalform" novalidate>
    <div class="row">
       <div class="col-12 col-md-6">
          <span style="font-size:20px;" class="text-danger">{{errorMessage}}</span>  
           <div  class="m-20">
           <h5><b>{{client_info}}:</b></h5>
         <div class="form-group row" [ngClass]="displayFieldCss('clientname')" >
         <label for="staticEmail" class="col-sm-4 col-form-label">{{client_name}}:</label>
         <div class="col-sm-8">
             <input type="text" class="form-control required" formControlName ="clientname" id="firstName"
               name="client">  
         </div>
       </div>
        <div class="form-group row"  [ngClass]="displayFieldCss('headername')">
         <label for="inputPassword" class="col-sm-4 col-form-label">{{header_name}}:</label>
         <div class="col-sm-8">
             <input type="text" class="form-control required" id="staticEmail" formControlName="headername" name="name">        
         </div>
       </div>
       <div class="form-group row" [ngClass]="displayFieldCss('titlename')" >
           <label for="staticEmail" class="col-sm-4 col-form-label">{{title_name}}:</label>
           <div class="col-sm-8">
             <input type="text" class="form-control required" id="staticEmail" 
             formControlName="titlename"  name="title">
           </div>
         </div> 
     </div>
    </div>
    <div class="col-12 col-md-6">
         <div  class="m-20">
       <h5><b>{{legal_notice}}:</b></h5>
      
           <div class="form-group row" [ngClass]="displayFieldCss('attentionto')" >
             <label for="staticEmail" class="col-sm-4 col-form-label">{{attention}}:</label>
             <div class="col-sm-8">
                 <input type="text" formControlName="attentionto"  class="form-control required" id="staticEmail" 
                 name="attention_to"> 
             </div>
           </div>
           <div class="form-group row"  [ngClass]="displayFieldCss('address1')" >
               <label for="staticEmail" class="col-sm-4 col-form-label">{{address1}}:</label>
               <div class="col-sm-8">
                   <input type="text" class="form-control required" formControlName="address1"  id="staticEmail"  name="address1"> 
                   <app-field-error-display [displayError]="isFieldValid('address1')">
                 </app-field-error-display>  
               </div>
             </div>
             <div class="form-group row">
                 <label for="staticEmail" class="col-sm-4 col-form-label">{{address2}}:</label>
                 <div class="col-sm-8">
                     <input type="text" class="form-control"
                       id="staticEmail" formControlName="address2" name="address2">
                 </div>
               </div>
               <div class="form-group row" [ngClass]="displayFieldCss('cityname')">
                   <label for="staticEmail" class="col-sm-4 col-form-label">{{city}}:</label>
                   <div class="col-sm-8">
                       <input type="text" class="form-control required"
                       formControlName="cityname"  id="staticEmail" required  name="city">
                       
                   </div>
                 </div> 
           <div class="form-group row" [ngClass]="displayFieldCss('statename')">
             <label for="inputPassword" class="col-sm-4 col-form-label">{{state}}:</label>
             <div class="col-sm-8">
                 <select id="Id"  class="form-control required" formControlName="statename"  
                   name="state">  
                   <option value="">Select</option>
                   <option *ngFor="let state of states" [ngValue]="state.id">{{state.id}}</option>
                     </select> 
             </div>
           </div>
           <div class="form-group row" [ngClass]="displayFieldCss('zipcode')">
               <label for="inputPassword" class="col-sm-4 col-form-label">{{zipcode}}:</label>
               <div class="col-sm-8">
                  <input type="zip" formControlName="zipcode"  class="form-control required" minlength="5" maxlength="5" pInputText pKeyFilter="num" >
               </div>
             </div>
       </div>
       </div>
  </div>
 </form>
</div>
</div>