<div class="card card-default">
    <div class="card-heading">
        <select *ngIf="viewlog" class="float-right" id="contactLog" [(ngModel)]="selected" (change)="onChange(selected)">
            <option value="0">--Select Business--</option>
            <option [ngValue]="list" *ngFor="let list of GetAssignedBusinessesData">
                {{list.businessName}}
            </option>
        </select>
        <span class="float-left" *ngIf="view_log_history">
            <b>{{selectedBusinessName}}</b>
        </span>
    </div>



    <div class="card-block">
        <b>{{logTitle}}</b>
        <p-accordion [multiple]="true" *ngFor="let listData of contactLogData;let i = index">
            <div *ngFor="let listData1 of contactLogData[i].value;let j = index">
                <p-accordionTab class="logTitle1" header="{{contactLogData[i].value[j].contactDate | date: 'MMMM d, y'}} -
                    ({{contactLogData[i].value[j].outreachEffortCode}}) {{contactLogData[i].value[j].outreachStatus}}">

                    <div *ngIf="contactLogData[i].value[j].outreachStatus=='Completed'"> Clinic Location : {{selectedBusinessName}} - {{contactLogData[i].value[j].clinicLocation}}
                    </div>
                    <div *ngIf="contactLogData[i].value[j].outreachStatusId=='3' && contactLogData[i].value[j].isDeleted==true">
                        <a href="/communityoutreach/approveagreement/{{contactLogData[i].value[j].contactLogPk}}" routerLinkActive="active" style="color:blue">
                            <u>Community Off-Site Clinic Agreement</u>
                        </a>
                    </div>
                    <div *ngIf="contactLogData[i].value[j].outreachStatusId=='12'">
                        <a (click)="GoTo(contactLogData[i].value[j],'Community Outreach')" style="color:blue">
                            <u>{{contactLogData[i].value[j].outreachStatus}}</u>
                        </a>
                    </div>
                    <div *ngIf="contactLogData[i].value[j].outreachStatusId=='2'">
                        <a (click)="GoTo(contactLogData[i].value[j],'Follow Up')" style="color:blue">
                            <u>{{contactLogData[i].value[j].outreachStatus}}</u>
                        </a>
                    </div>
                    <div *ngIf="contactLogData[i].value[j].outreachStatusId=='8'">
                        {{contactLogData[i].value[j].outreachStatus}}
                    </div>
                    <div *ngIf="contactLogData[i].value[j].outreachStatusId=='3' && contactLogData[i].value[j].outreachEffortCode=='SR'">
                        <a (click)="GoTo(contactLogData[i].value[j],'Event Scheduled')" style="color:blue">
                            <u>{{contactLogData[i].value[j].outreachStatus}}</u>
                        </a>
                    </div>
                    <div *ngIf="contactLogData[i].value[j].outreachStatusId=='3' && contactLogData[i].value[j].outreachEffortCode=='IP'
                         && contactLogData[i].value[j].outreachStatus=='Contract Initiated' && !contactLogData[i].value[j].isScheduledClinics">
                        <a (click)="GoTo(contactLogData[i].value[j],'Contract Initiated')" style="color:blue">
                            <u>{{contactLogData[i].value[j].outreachStatus}}</u>
                        </a>
                    </div>
                    Contact Name: {{contactLogData[i].value[j].contactName}}
                    <br/> Store ID: {{contactLogData[i].value[j].storeId}}
                    <div *ngIf="contactLogData[i].value[j].totalImmAdministered">Immunizations Administered : {{contactLogData[i].value[j].totalImmAdministered}} - {{contactLogData[i].value[j].immunizationName}}
                        <br/>
                    </div>
                    <div *ngIf="contactLogData[i].value[j].totalHours">Length of Clinic (hours): {{contactLogData[i].value[j].totalHours}}</div>
                    <br/>Feedback/Notes: {{contactLogData[i].value[j].feedback}}
                    <div *ngIf="(contactLogData[i].value[j].outreachStatus!=null || contactLogData[i].value[j].outreachStatus=='Contract Initiated')
                    && contactLogData[i].value[j].isDeleted==true && contactLogData[i].value[j].outreachStatusId=='3'">
                        Deleted By: {{contactLogData[i].value[j].deletedBy}}
                        <br/> Deleted Date: {{contactLogData[i].value[j].dateDeleted | date: 'MM/dd/yyyy'}} {{contactLogData[i].value[j].dateDeleted
                        | date:'hh:mma'}}
                    </div>
                    <br/>
                    <br/> Created By: {{contactLogData[i].value[j].createdBy}}
                    <div *ngIf="contactLogData[i].value[j].outreachStatus!=null">
                        Entered {{contactLogData[i].value[j].created | date: 'MM/dd/yyyy'}} at {{contactLogData[i].value[j].created | date:'hh:mma'}}
                        <span *ngIf="(contactLogData[i].value[j].isDeleted==false && !contactLogData[i].value[j].isScheduledClinics)">
                            <a (click)="removeLogEntry(contactLogData[i].value[j].contactLogPk)" style="color:blue">
                                <u>Remove Log Entry</u>
                            </a>
                        </span>
                        <br/>
                    </div>
                    <!-- <div>
                        Entered {{contactLogData[i].value[j].created | date: 'MM/dd/yyyy'}}
                        <span *ngIf="contactLogData[i].value[j].isDeleted==true">
                            at {{contactLogData[i].value[j].created | date:'hh:mma'}}</span>
                        <br/>
                    </div> -->
                    <br/>
                </p-accordionTab>
            </div>

        </p-accordion>

        <b>{{loghistory}}</b>
        <p-accordion [multiple]="true" *ngFor="let listData of contactLogHistory;let i = index">
            <p-accordionTab class="logTitle1">
                <p-header> {{contactLogHistory[i].value[0].contactDate | date: 'MMMM d, y'}} - ({{contactLogHistory[i].value[0].outreachEffortCode}})
                    <span *ngIf="outreach_effort_code"> {{contactLogHistory[i].value[0].outreachEffort}} - </span>
                    {{contactLogHistory[i].value[0].outreachStatus}}</p-header>
                <div *ngFor="let listData1 of contactLogHistory[i].value;let j = index">
                    <div *ngIf="contactLogHistory[i].value[j].clinicLocation"> Clinic Location : {{selectedBusinessName}} - {{contactLogHistory[i].value[j].clinicLocation}}
                        <br/>
                    </div>
                    <div *ngIf="contactLogHistory[i].value[j].outreachStatusId=='3' 
                    && contactLogHistory[i].value[j].outreachEffortCode=='IP'
                    && contactLogHistory[i].value[j].outreachStatus=='Contract Initiated'">
                        <a (click)="GoTo(contactLogHistory[i].value[j],'Contract Initiated')" style="color:blue">
                            <u>Community Off-Site Clinic Agreement</u>
                        </a>
                    </div>
                    Contact Name: {{contactLogHistory[i].value[j].contactName}}
                    <br/> Store ID: {{contactLogHistory[i].value[j].storeId}}
                    <div *ngIf="contactLogHistory[i].value[j].totalImmAdministered">Immunizations Administered : {{contactLogHistory[i].value[j].totalImmAdministered}} - {{contactLogHistory[i].value[j].immunizationName}}</div>
                    <div *ngIf="contactLogHistory[i].value[j].totalHours">Length of Clinic (hours): {{contactLogHistory[i].value[j].totalHours}}</div>
                    <br/>Feedback/Notes: {{contactLogHistory[i].value[j].feedback}}
                    <br/>
                    <br/> Created By: {{contactLogHistory[i].value[j].createdBy}}
                    <div>
                        Entered {{contactLogHistory[i].value[j].created | date: 'MM/dd/yyyy'}} at {{contactLogHistory[i].value[j].created | date:'hh:mma'}}
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>



</div>
<!-- <div *ngFor="let item of contactLogHistory | groupBy:'contactDate' ">
    
        Department {{arr[contactDate]['0'].businessPk}}
    
       </div>   -->

<!-- <div class="card-block">
        <b>{{loghistory}}</b>
        <p-accordion *ngFor="let item of employees">
             <p-accordionTab class="logTitle1" header="{{item.department}}">
                OutreachStatus: {{item.address}}
                <br/> ContactName: {{item.lastName}}
                <br/> StoreID: {{item.firstName}}
             </p-accordionTab> 
        </p-accordion>
    </div> -->
<!-- <div>
        <h2>Group by department</h2>
        <div *ngFor="let item of employees | groupBy:'department' ">
         Department {{ item.address }} has {{ item.value.length }} employees
        </div>
        <h2>Group by address</h2>
        <div *ngFor="let item of employees | groupBy:'address' ">
         Address "<i>{{ item.key }}</i>" has {{ item.value.length}} employees
        </div>
      </div> -->
<!-- <div class="toggle toggle-transparent-body">

	<div class="toggle active">
		<label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
		<div class="toggle-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
		</div>
	</div>

	<div class="toggle">
		<label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
		<div class="toggle-content">
			<p>Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
		</div>
	</div>

	<div class="toggle">
		<label>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</label>
		<div class="toggle-content">
			<p>Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
		</div>
	</div>

</div> -->

<p-dialog class="blueBgDark" header="Choose an action" [(visible)]="displayLog" modal="modal" modal="true" [responsive]="true"
    [contentStyle]="{'max-width':'640px'}">
    <p>Are you sure you want to delete?</p>
    <p-footer>
        <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="cancelConfirmation()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="deleteLogEntry()">Yes</button>
        </div>
    </p-footer>
</p-dialog>

<hintscomponent [dispHintDialog]="showHints" [title]="pageName"></hintscomponent>