.bg-resource{
    background: #2a7db5 !important;;
}
.text-blue{
    color: #2a7db5 !important;;
}
.list-group-item {
    padding: 5px 10px !important;
}

.btn-lst {
    padding: 4px 4px !important;
    line-height: 0 !important;
}