<div class="row">
        <div class="col-md-8">
           <div class="card card-default mb-10">
              <div class="card-block">
                 <h3 class="mb-0 blueText">Prepare</h3>
                 <ul>
                    <li>Review the content of <a href="http://www.walgreens.com/pharmacy/immunization/seasonal_flu.jsp" target="_blank">Walgreens.com/pharmacy/immunization/seasonal_flu.jsp</a>,
                       in detail.
                    </li>
                    <li>Print copies of the <a href="controls/ResourceFileHandler.ashx?Path=2017_18/ImmunizationsSalesSheet.pdf" target="_blank">Immunization Services sell sheet.</a> to bring to potential clients.</li>
                 </ul>
                 <h3 class="mb-0 blueText">Job Aids and Training Videos</h3>
                 <ul>
                    <li>Additional collateral material is available to print on StoreNet and the Opportunity Directory.</li>
                    <li>Review the list of corporately contracted worksites to prevent duplication of efforts.</li>
                    <li>Work with your district manager to keep track of businesses that have been contacted by store managers in your community to decrease duplicate efforts and avoid confusion.</li>
                 </ul>
                 <h3 class="mb-0 blueText">Billing/Invoicing</h3>
                 <ul>
                    <li>If a check is received from the client please forward it to PO Box 90478Chicago, IL 60696-0478, including the client and group number information to ensure everything is matched appropriately.</li>
                    <li>For any questions related to Invoicing issues please email the accounting team at <a href="mailto:DirectBillteam@walgreens.com" >DirectBillteam@walgreens.com</a></li>
                 </ul>
                 <h3 class="mb-0 blueText">Provide Updates</h3>
                 <ul>
                    <li>Be proactive and provide updates as you go. District and Region leadership will
                       be checking the status on your outreach efforts.
                    </li>
                    <li>Consider splitting your business list between store and pharmacy management. Work
                       together on completing the initial outreach efforts and share ‘Job Aids’ on
                       what approach worked best.
                    </li>
                    <li>Schedule weekly meetings to review past week’s status and develop a completion plan
                       to reach out to remaining businesses.
                    </li>
                 </ul>
                 <h3 class="mb-0 blueText">Practice (See sample call script below) </h3>
                 <ul>
                    <li>In opening a phone conversation, identify your name, title and store location. Immediately
                       identify your purpose for calling, explaining the Walgreens Immunization program
                       and how their business can benefit from Flu as well as other immunization services.
                    </li>
                    <li>Ask for a few minutes of their very busy time and be prepared to stress the important
                       messages in the <a href="controls/ResourceFileHandler.ashx?Path=2017_18/ImmunizationsSalesSheet.pdf" target="_blank">Immunization Services sell sheet</a> as to why Walgreens is the ideal
                       provider for a small business such as theirs.
                    </li>
                    <li>Ask if they‘ve ever explored options to provide an onsite benefit for their employees.
                       Refer them to <a href="http://www.walgreens.com/pharmacy/immunization/seasonal_flu.jsp" target="_blank">Walgreens.com/pharmacy/immunization/seasonal_flu.jsp</a> to understand the benefit of immunizing their employees.
                    </li>
                    <li>Let them know we can bill an existing employee benefit, or set-up an employer-funded/Direct Bill  program.</li>
                    <li>Attempt to schedule a follow-up appointment to review the materials and program options.</li>
                    <li id="smapleCallScript">If a formal meeting is not a possible, try to schedule a future follow-up phone
                       call and mail the <a href="controls/ResourceFileHandler.ashx?Path=2017_18/ImmunizationsSalesSheet.pdf" target="_blank">Immunization Services sell sheet</a> to the business.
                    </li>
                 </ul>
              </div>
           </div>
           <div class="card card-default bg-light mb-10">
              <div class="card-block">
                 <h3 class="mb-10">
                    Sample Call Script 
                 </h3>
                 <h3 class="mb-0 blueText">Initial contact with business:</h3>
                 <ul>
                    <li>Hi, my name is _____and I’m a Walgreens Store Manager/Pharmacy
                       Manager at ___ (intersection of your store).
                    </li>
                 </ul>
                 <ul>
                    <li>Can I please speak to ______ (contact name provided in business directory).</li>
                 </ul>
                 <ul>
                    <li>I’d like to tell you about our flu shot clinic program and other available immunizations
                       for small businesses. 
                    </li>
                 </ul>
                 <ul>
                    <li>
                       Ask for a few minutes of their very busy time and be prepared to stress four important
                       reasons why Walgreens is the ideal flu shot provider for a small business:
                       <ul style="list-style-type: circle;">
                          <li>We offer a flu shot service, which can be coupled with other immunization services.</li>
                          <li>With Walgreens immunization solutions, you’ll have convenient access to preventive
                             care for employees, spouses and dependents.
                          </li>
                          <li>Walgreens may be able to process immunizations as a pharmacy benefit or a medical
                             benefit.
                          </li>
                          <li>Online technologies allow you to easily schedule on-site health center events or
                             create custom marketing materials, such as posters and flyers, to promote this new
                             benefit.
                          </li>
                       </ul>
                    </li>
                 </ul>
                 <ul>
                    <li>If they have time to talk, continue with the conversation below. If they do not
                       have time, attempt to schedule a follow up appointment to review the materials and
                       program options. If a formal meeting is not possible, try to schedule a future follow-up
                       call.
                    </li>
                 </ul>
                 <h3 class="mb-0 blueText">If the employer agrees to conversation, continue through
                    remaining questions below.
                 </h3>
                 <p> Let them know we can bill an existing employee benefit, or set-up an employer-funded
                    program. 
                 </p>
                 <ul>
                    <li><strong>Insurance Billing:</strong> Walgreens can bill patient’s insurance directly
                       and the patient would be responsible for the copay. Walgreens can bill many pharmacy
                       and medical plans.
                    </li>
                 </ul>
                 <ul>
                    <li><strong>Cash Payment:</strong> Payment for the vaccine can be collected from the
                       patient receiving the immunization at the time of vaccination by cash or via check
                       from the employer/location.
                    </li>
                 </ul>
                 <ul>
                    <li><strong>Direct Bill:</strong> Employer/Location will pay for employee flu shots.
                       They will receive an invoice directly from Walgreens for the number of immunizations
                       provided. No payment will be collected at the time of the immunization.
                    </li>
                 </ul>
                 <h3 class="mb-0 blueText">Ask them if they are interested in proceeding with
                 Walgreens Immunizations Clinic.</h3>
                 <ul>
                    <li>If yes, explain the process of completing the community off-site agreement and next
                       steps.
                    </li>
                 </ul>
                 <ul>
                    <li>If no, refer them to <a href="http://www.walgreens.com/pharmacy/immunization/seasonal_flu.jsp" target="_blank">Walgreens.com/pharmacy/immunization/seasonal_flu.jsp</a> to try our new flu ROI estimator tool and
                       review the FAQs on the site explaining Walgreens program.
                    </li>
                 </ul>
                 <h3 class="mb-0 blueText">Provide your contact information for future follow-up
                 or questions and thank them for their time.</h3>
              </div>
           </div>
        </div>
        <div class="col-md-4">
           <ul class="list-group mb-10">
              <li class="list-group-item bg-resource text-white">Marketing Materials</li>
              <li class="list-group-item">Immunization Sell Sheet
                 <span class="float-right">
                 <button (click)="showDownloadDialog()" type="button" class="btn btn-primary btn-sm btn-lst">
                 <i class="fa fa-download"></i>
                 </button>
                 </span>
              </li>
              <li class="list-group-item">Flu Shot Flyer (B/W) - English <span class="float-right">
                 <button (click)="showDownloadDialog()" type="button" class="btn btn-primary btn-sm btn-lst">
                 <i class="fa fa-download"></i>
                 </button>
                 </span>
              </li>
              <li class="list-group-item">Flu Shot Flyer (B/W) - Spanish<span class="float-right">
                 <button (click)="showDownloadDialog()" type="button" class="btn btn-primary btn-sm btn-lst">
                 <i class="fa fa-download"></i>
                 </button>
                 </span>
              </li>
              <li class="list-group-item">Flu Shot Flyer (B/W) - Duane Reade<span class="float-right">
                 <button (click)="showDownloadDialog()" type="button" class="btn btn-primary btn-sm btn-lst">
                 <i class="fa fa-download"></i>
                 </button>
                 </span>
              </li>
              <li class="list-group-item">Flu Shot Flyer (Color) - English<span class="float-right">
                 <button (click)="showDownloadDialog()" type="button" class="btn btn-primary btn-sm btn-lst">
                 <i class="fa fa-download"></i>
                 </button>
                 </span>
              </li>
              <li class="list-group-item">Flu Shot Flyer (Color) - Spanish<span class="float-right">
                 <button (click)="showDownloadDialog()" type="button" class="btn btn-primary btn-sm btn-lst">
                 <i class="fa fa-download"></i>
                 </button>
                 </span>
              </li>
              <li class="list-group-item">Flu Shot Flyer (Color) - Duane Reade<span class="float-right">
                 <button (click)="showDownloadDialog()" type="button" class="btn btn-primary btn-sm btn-lst">
                 <i class="fa fa-download"></i>
                 </button>
                 </span>
              </li>
           </ul>
           <ul class="list-group">
              <li class="list-group-item bg-resource text-white">Beneficial Resources
              </li>
              <li class="list-group-item">
                 Walgreens W9
                 <span class="float-right">
                 <button (click)="showDownloadDialog()" type="button" class="btn btn-primary btn-sm btn-lst">
                 <i class="fa fa-download"></i>
                 </button>
                 </span>
              </li>
              <li class="list-group-item">
                 Offsite Patient Clinic Sign Up Sheet - Editable
                 <span class="float-right">
                 <button (click)="showDownloadDialog()" type="button" class="btn btn-primary btn-sm btn-lst">
                 <i class="fa fa-download"></i>
                 </button>
                 </span>
              </li>
              <li class="list-group-item">
                 Pharmacy Offsite Checklist
                 <span class="float-right">
                 <button (click)="showDownloadDialog()" type="button" class="btn btn-primary btn-sm btn-lst">
                 <i class="fa fa-download"></i>
                 </button>
                 </span>
              </li>
              <li class="list-group-item">
                        Sample Call Script
                        <span class="float-right">
                        <button (click)="scrollDownSample()" type="button" class="btn btn-primary btn-sm btn-lst">
                        <i style="padding-left: 3px;" class="fa fa-chevron-right"></i>
                        </button>
                        </span>
                     </li>
           </ul>
        </div>
     </div>
     <p-dialog class="blueBgDark" header="Choose an action" [(visible)]="displayDownload" modal="modal">
     <ul class="list-group">
        <li class="pb-1">
           <button type="button" class="btn btn-primary btn-lg btn-block">PDF</button>
        </li>
        <li class="pb-1">
           <button type="button" class="btn btn-primary btn-lg btn-block">PDF Notes</button>
        </li>
        <li class="pb-1">
           <button type="button" class="btn btn-primary btn-lg btn-block">PowerPoint</button>
        </li>
        <li class="pb-1">
           <button type="button" class="btn btn-primary btn-lg btn-block">Excel</button>
        </li>
     </ul>
     </p-dialog>