<div class="container">
      <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" height="200" #cd>
            <p-footer class="float-right">
                  <button type="button" pButton icon="fa-check" label="Continue" (click)="cd.accept()"></button>
                  <button type="button" pButton icon="fa-close" label="Cancel" (click)="cd.reject()"></button>
            </p-footer>
      </p-confirmDialog>
      <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                  <form [formGroup]="addBusinessForm" (ngSubmit)="onAddEditBusinessSubmit()">
                        <p-growl [(value)]="msgs"></p-growl>
                        <p *ngIf="AddBusinessView">
                              To add a business to your Outreach Contact Log, complete the form below as fully as possible. If the business is already
                              assigned to another Walgreens locations, you may not be able to add the business to your own
                              Contact Log.
                        </p>
                        <div class="card card-default">
                              <div class="card-block">
                                    <div class="row">
                                          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                                <div class="form-group" [ngClass]="displayFieldCss('BusinessName')">
                                                      <label for="BusinessName">*Business Name </label>
                                                      <input type="text" pInputText name="BusinessName" class="form-control" formControlName="BusinessName" required>
                                                </div>
                                          </div>
                                          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                                <div class="form-group" [ngClass]="displayFieldCss('Industry')">
                                                      <label for="Industry">*Industry</label>
                                                      <input type="text" pInputText formControlName="Industry" name="Industry" class="form-control" required>
                                                </div>
                                          </div>
                                          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                                <div class="form-group" [ngClass]="displayFieldCss('Phone')">
                                                      <label for="Phone">*Phone #</label>
                                                      <input type="text" pInputText minlength="12" maxlength="12" on-focusout="onPhoneFocus()" name=" " formControlName="Phone"
                                                            (keyup)="format()" (change)="format()" value="{{phoneValue}}" class="form-control"
                                                            required>
                                                </div>
                                          </div>
                                          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                                <div class="form-group">
                                                      <label for="TollFree" pInputText pKeyFilter="num">Toll Free #</label>
                                                      <input type="text" name="TollFree" class="form-control" formControlName="TollFree">
                                                </div>
                                          </div>
                                          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                                <div class="form-group">
                                                      <label for="EmploymentSize">Employment Size</label>
                                                      <input type="text" pInputText pKeyFilter="num" name="EmploymentSize" formControlName="EmploymentSize" class="form-control">
                                                </div>
                                          </div>
                                          <div class="hideMeOnIpad mb-20 col-lg-12"></div>
                                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                <div class="form-group">
                                                      <label for="FirstName" pInputText pKeyFilter="alpha">Contact First Name </label>
                                                      <input type="text" name="FirstName" class="form-control" formControlName="FirstName">
                                                </div>
                                          </div>
                                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                <div class="form-group">
                                                      <label for="LastName" pInputText pKeyFilter="alpha">Contact Last Name </label>
                                                      <input type="text" name="LastName" formControlName="LastName" class="form-control">
                                                </div>
                                          </div>
                                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                <div class="form-group">
                                                      <label for="JobTitle">Job Title</label>
                                                      <input type="text" pInputText formControlName="JobTitle" name="JobTitle" class="form-control">
                                                </div>
                                          </div>
                                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                <div class="form-group">
                                                      <label for="EMail" pInputText>Contact E-Mail</label>
                                                      <input type="email" name="EMail" class="form-control" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$"
                                                            formControlName="EMail">
                                                </div>
                                          </div>
                                          <div class="hideMeOnIpad mb-20 col-lg-12"></div>
                                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                <div class="form-group" [ngClass]="displayFieldCss('Address1')">
                                                      <label for="Address1">*Address 1</label>
                                                      <input type="text" on-focusout="onBlurMethod1()" formControlName="Address1" name="Address1" class="form-control" required>
                                                </div>
                                          </div>
                                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                                <div class="form-group">
                                                      <label for="Address2">Address 2</label>
                                                      <input type="text" on-focusout="onBlurMethod1()" formControlName="Address2" name="Address2" class="form-control">
                                                </div>
                                          </div>
                                          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                                <div class="form-group" [ngClass]="displayFieldCss('City')">
                                                      <label for="City">*City</label>
                                                      <input type="text" on-focusout="onBlurMethod1()" pInputText formControlName="City" name="City" class="form-control" required>
                                                </div>
                                          </div>
                                          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                                <div class="form-group" [ngClass]="displayFieldCss('state')">
                                                      <label for="state">*State</label>
                                                      <div class="fancy-form">
                                                            <select class="form-control required" on-focusout="onBlurMethod1()" formControlName="state" name="state" required>
                                                                  <option value="">Select </option>
                                                                  <option *ngFor="let stat of states" [value]="stat">{{stat}}</option>
                                                            </select>
                                                            <i class="fancy-arrow"></i>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                                                <div class="form-group" [ngClass]="displayFieldCss('ZipCode')">
                                                      <label for="ZipCode">*ZipCode</label>
                                                      <input type="text" on-focusout="onBlurMethod1()" pInputText pKeyFilter="num" formControlName="ZipCode" class="form-control"
                                                            name="ZipCode" minlength="5" maxlength="5" required>
                                                </div>
                                          </div>
                                    </div>
                                    <br/>
                                    <br/>
                                    <div class="row">
                                          <div class="col-md-3 col-sm-6 col-12">
                                                <div class="form-group">
                                                      <label for="assignedStore">
                                                            <b>Assigned Store</b>
                                                      </label>
                                                      <input type="text" formControlName="assignedStore" class="form-control" id="assignedStore">
                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-4 col-12 offset-md-1">
                                                <div class="form-group">
                                                      <label for="exampleFormControlInput1">
                                                            <b>Outreach Programs</b>
                                                      </label>
                                                      <label class="checkbox w100">
                                                            <input type="checkbox" formControlName="ImmunizationProgram" name="ImmunizationProgram">
                                                            <i></i> Immunization Program
                                                      </label>
                                                      <br/>
                                                      <label class="checkbox ">
                                                            <input type="checkbox" formControlName="SeniorOutreach" name="SeniorOutreach">
                                                            <i></i>Senior Outreach
                                                      </label>
                                                </div>
                                          </div>
                                          <div class="col-md-4 col-sm-6 col-12">
                                                <div class="form-group">
                                                      <label for="exampleFormControlInput1">
                                                            <b>Auto Initiate:</b>
                                                      </label>
                                                      <label class="checkbox">
                                                            <input type="checkbox" class="form-control" formControlName="CommunityOutreach" name="CommunityOutreach" (change)="onCommunityOutreachChange()">
                                                            <i></i> Community Outreach
                                                      </label>
                                                      <label class="checkbox">
                                                            <input type="checkbox" class="form-control" formControlName="CharityHHSVoucher" name="CharityHHSVoucher">
                                                            <i></i> Charity Program
                                                      </label>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 offset-md-4 text-center">
                                                <button type="button" (click)="Cancel()" class="btn btn-primary">Cancel</button>
                                                <button type="submit" class="btn btn-primary">{{buttonName}}</button>
                                          </div>
                                    </div>
                                    <div class="row">
                                          <table *ngIf="duplicate_business1.length > 1" class="table table-sm">
                                                <thead class="thead-dark">
                                                      <tr>
                                                            <th></th>
                                                            <th>Store Id</th>
                                                            <th>Business Name</th>
                                                            <th>Address</th>
                                                            <th>Phone</th>
                                                            <th>Outreach Effort</th>
                                                      </tr>
                                                </thead>
                                                <tbody>
                                                      <tr *ngFor="let clinic of duplicate_business1;">
                                                            <td>
                                                                  <input type="radio" id="reject" name="approve" (click)="setradio(clinic)">
                                                            </td>
                                                            <td>{{clinic.storeid}}</td>
                                                            <td>{{clinic.businessName}}</td>
                                                            <td>{{clinic.address}}</td>
                                                            <td>{{clinic.phone}}</td>
                                                            <td>Immunization Program</td>
                                                      </tr>
                                                </tbody>
                                          </table>
                                    </div>
                                    <!--*ngIf="duplicate_business1.length > 1"-->
                                    <div class="row" *ngIf="duplicate_business1.length > 1">
                                          <div class="col-md-4 col-sm-4 offset-md-4 text-center">
                                                <button type="button" (click)="Cancel()" class="btn btn-primary">Cancel</button>
                                                <button type="button" (click)="AddToStore()" class="btn btn-primary">Add</button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </form>
            </div>
      </div>
</div>