.lightGreenBg{
    background-color: #d7ecc1;
    }
    .lightBlueBg{
    background-color: #c1dfec;
    }
    .lightYellowBg{
        background-color: #f2eebb;
    }
    .smallText {
        font-size:12px;
    }
    .lightBrownBG{
        background-color: #777777 !important;
        border-color: #616161 !important;
    }
    
    .lightDrkCreameBg {
        background-color: #f0debc;
    }
    
    .lightPinkBg {
        background-color: #f3d8d9;
    }
    .lightGrayBg {
    background-color: #eeeeee;
    }