<div class="container">
    <p-confirmDialog header="Confirmation"  [closable]="false" [closeOnEscape]="false"  [responsive]="true"  width="600"  #cd>
        <p-footer class="float-right">
            <button type="button" pButton icon="fa-check" label="Continue" (click)="cd.accept()"></button>
            <button type="button" pButton icon="fa-close" label="Cancel" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
      <p-dialog header="{{dialogSummary}}" [(visible)]="display" [closable]="false" [closeOnEscape]="false" modal="modal" width="350" [responsive]="true">
        <p>{{dialogMsg}}</p>
            <p-footer>
                <button type="button" class="pull-right" pButton (click)="okClicked()" label="Ok"></button>
            </p-footer>
    </p-dialog>
    <p-dialog header="{{dialogSummary}}" [(visible)]="interimDisplay" [closable]="false" [closeOnEscape]="false" modal="modal" width="350" [responsive]="true">
        <p>{{dialogMsg}}</p>
            <p-footer>
                <button type="button" class="pull-right" pButton (click)="okInterimClicked()" label="Ok"></button>
            </p-footer>
    </p-dialog>

  <div class="row process-wizard process-wizard-primary">

    <div class="col-6 col-md-6 col-lg-6 col-sm-6 process-wizard-step" [ngClass]="{'active': step===1, 'complete': step>=1}">
      <div class="text-center process-wizard-stepnum">Step 1</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a (click)="GoToStep(1)" class="process-wizard-dot"></a>
      <div class="process-wizard-info text-center">Immunizations & Payment Methods</div>
    </div>

    <div class="col-6 col-md-6 col-lg-6 col-sm-6 process-wizard-step" [ngClass]="{'active': step===2, 'complete': step>=2}">
      <!-- complete -->
      <div class="text-center process-wizard-stepnum">Step 2</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a (click)="GoToStep(2)" class="process-wizard-dot"></a>
      <div class="process-wizard-info text-center">Clinic Locations</div>
    </div>
  </div>
  <div class="tab-content mt-60 container">
      <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===1}" id="step1" *ngIf='step===1'>
        <app-immunizations [outReachProgramType]="OutReachProgramType"></app-immunizations>
    
      </div>
    
      <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===2}" id="step2" *ngIf='step===2'>
         <app-locations-list [outReachProgramType]="OutReachProgramType"></app-locations-list>					
      </div>
      <!-- [ngClass]="{'disabled': step===2}" -->
<ul class="pager">
    <li class="previous"><button class="btn btn-primary btn-lg" name="previous" id="previous" (click)="step > 1 ? GoToStep(step - 1) : null" [ngClass]="{'disabled': step===1}">Back</button></li>
    <li class="text-center"><button class="btn btn-primary btn-sm"  (click)="cancelCommOutReach()">Cancel</button></li>	
    <!-- <li class="text-center"><button class="btn btn-primary btn-lg" *ngIf="step < 2" (click)="coSaveBtnClicked()" >Save</button></li>   -->
    <li class="next"><button class="btn btn-primary btn-lg" name="next" id="next" (click)="GoToStep(step + 1)" >{{nextBtnTitle}}</button></li>
  </ul>
</div>

<p-dialog class="blueBgDark" header="{{dialogSummary}}" [(visible)]="savePopUp" modal="modal" modal="true" [responsive]="true"
    [contentStyle]="{'max-width':'640px'}">
    <p>{{dialogMsg}}</p>
    <p-footer>
        <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="doNotSave()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="Continue()">Ok</button>
        </div>
    </p-footer>
</p-dialog>


<hintscomponent [dispHintDialog]="showHints" [stepNumber]="step" [title]="pageName" ></hintscomponent>