<div id="header" class="navbar-toggleable-md static header-md clearfix">
    <!-- TOP NAV -->
    <header id="topNav">
      <div class="container">
        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <!-- BUTTONS -->
        <ul class="float-right nav nav-pills nav-second-main">
          <!-- SEARCH -->
  
          <!-- /SEARCH -->
        </ul>
        <!-- /BUTTONS -->
        <!-- Logo -->
        <a class="logo hidden-sm-down float-left pt-10" href="index.html">
          <img src="assets/images/walgreens_1901_logo.png"  />
  
        </a>
        <a class="logo hidden-md-up float-left" href="index.html">
          <img src="assets/images/_smarty/Walgreens_mobile_logo.png" style="width:32px; height: 35px;" />
        </a>
      
      </div>
    </header>
    <!-- /Top Nav -->
  </div>
<section class=" mb-40" id="slider" style="height:365px !important; background:url('assets/images/wags_icons/walgreens.jpg')">
  <div class="display-table mt-60">
    <div class="display-table-cell vertical-align-middle">
    </div>
  </div>

</section>
<!-- /SLIDER -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" style="margin-top:13px;" src="assets/images/wags_icons/immunizationWags.jpg" />
    </div>
    <div class="col-md-6">
      <p>
        <span style="font-size:32px; font-weight:bold;">Thank You!</span>
        <br/>
        <span style="font-size:28px;">Your Community Offsite
          <br/> Immunization Clinic Agreement
          <br/> has been submitted successfully.</span>
      </p>
      <p style="font-size: 16px;">A Completed Vaccine Administration Record form will be required for each participant before receiving an immunization.
        Making these available prior to the clinic will allow participants to be immunized more efficiently.
        <br/>
        <br/>
        <a href="{{pdfVarFormEn}}" class="text-info" style="text-decoration:underline;" target="_blank">VAR - Informed Conset for Vaccination Form
        </a>
        <br/>
        <a href="{{pdfVarFormEsp}}" class="text-info" style="text-decoration:underline;" target="_blank">VAR - Informed Conset for Vaccination Form (Spanish)</a>
        <br/>
        <br/> Please ask all participants to provide a photocopy of their insurance card for processing purposes.</p>
    </div>
  </div>
</div>
