
    <!-- <p-dialog header="{{dialogSummary}}" [(visible)]="display" modal="modal" width="600" [responsive]="true">
        <p>{{dialogMsg}}</p>
            <p-footer>
                <button type="button" class="pull-right" (click)="display=false" label="Ok"></button>
            </p-footer>
    </p-dialog> -->
<div [formGroup]="locationForm">
    <p-messages [(value)]="msgs"></p-messages>
<div class="row">
    <div class="col-md-8 col-sm-8  form-group text-left">
        <label class="checkbox">
     <input type="checkbox" formControlName="isNoClinic" >
     <!-- <span class="switch-label" data-on="YES" data-off="NO"></span> -->
     <i></i> No Clinic (Voucher Distribution Only)
     </label>
    </div>
    <div class="col-md-4 col-sm-4 form-group" *ngIf='clinicNumber>=1'>
            <!-- <h5>Setup Options</h5> -->
   <!-- <div >
     <label class="checkbox" >
            <input type="checkbox" formControlName="previousContact"  (change)="copyPreviousContactInfo(clinicNumber, $event.target.checked)">
            <i></i> Copy Previous Contact Info
    </label> 
    <br/>
     <label class="checkbox" *ngIf='!isStoreIsfromRestrictedState()'>
            <input type="checkbox" formControlName="previousLocation" (change)="copyPreviousLocation(clinicNumber, $event.target.checked)">
            <i></i> Copy Previous Address
    </label>
                         
</div> -->
</div>
</div>
<div class="row">
        <div class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss('contactFirstName')">
                <label>Local Contact First Name</label>
                <input type="text" name="location[contactFirstName]" pInputText  formControlName="contactFirstName" class="form-control required">
                <!-- <app-field-error-display [displayError]="isFieldValid('localContactFirstName')"></app-field-error-display> -->
        </div>
        <div class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss('contactLastName')">
                        <label>Local Contact Last Name</label>
                        <input type="text" name="location[contactLastName]" pInputText  formControlName="contactLastName" class="form-control required">
                        <!-- <app-field-error-display [displayError]="isFieldValid('localContactLastName')"></app-field-error-display> -->
                </div>
    <div class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss('contactPhone')">
        <label>Local Contact Phone</label>
        <input type="text" name="location[contactPhone]" pInputText pKeyFilter="pint"  minlength="10" maxlength="10" formControlName="contactPhone" class="form-control " required>
        <!-- <app-field-error-display [displayError]="isFieldValid('localContactPhone')"></app-field-error-display> -->
    </div>
    <div class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss('contactEmail')">
        <label>Local Contact Email</label>
        <input type="email" name="location[contactEmail]" pattern= "^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$" formControlName="contactEmail" value="" class="form-control " required>
        <!-- <app-field-error-display [displayError]="isFieldValid('localContactEmail')"></app-field-error-display> -->
    </div>

</div>
<div class="row">
        <div class="col-md-3 col-sm-4 form-group" [ngClass]="displayFieldCss('address1')">
                <label>Address1</label>
                <input type="text" [readonly]="isStoreIsfromRestrictedState()==true?true:false" name="location[address1]" pInputText formControlName="address1" value="" class="form-control " required>
                <!-- <app-field-error-display [displayError]="isFieldValid('address1')"></app-field-error-display> -->
            </div>
    <div class="col-md-3 col-sm-4 form-group" [ngClass]="displayFieldCss('address2')">
        <label>Address2</label>
        <input type="text" [readonly]="isStoreIsfromRestrictedState()==true?true:false" name="location[address2]" pInputText formControlName="address2" value="" class="form-control " >
        <!-- <app-field-error-display [displayError]="isFieldValid('address2')"></app-field-error-display> -->
    </div>
    <div class="col-md-2 col-sm-4 form-group" [ngClass]="displayFieldCss('city')">
            <label>City</label>
            <input type="text" [readonly]="isStoreIsfromRestrictedState()==true?true:false" name="location[city]" pInputText formControlName="city" value="" class="form-control "required>
            <!-- <app-field-error-display [displayError]="isFieldValid('city')"></app-field-error-display> -->
        </div>
    
        <div class="col-md-2 col-sm-4 form-group" [ngClass]="displayFieldCss('state')">
                <label>State</label>
                <div class="fancy-form">
                    <select [attr.disabled]="isStoreIsfromRestrictedState()==true ? true : null" class="form-control required" pInputText formControlName="state" name="location[state]">
                   <option value="">Select</option>
                   <option *ngFor="let state of states" [ngValue]="state.id">{{state.id}}</option>               
                </select>
                    <i class="fancy-arrow"></i>
                </div>
                <!-- <app-field-error-display [displayError]="isFieldValid('state')"></app-field-error-display> -->
            </div>
        <div class="col-md-2 col-sm-4 form-group" [ngClass]="displayFieldCss('zipCode')">
                <label>Zip</label>
                <input type="zip" [readonly]="isStoreIsfromRestrictedState()==true?true:false" formControlName="zipCode"  class="form-control required" minlength="5" maxlength="5" pInputText pKeyFilter="pint" >
                <!-- <app-field-error-display [displayError]="isFieldValid('zipCode')"></app-field-error-display> -->
            </div>
</div>
<div class="row">  
        <div class="col-md-3 col-sm-4 form-group" [ngClass]="displayFieldCss('clinicDate')">
                <label>Clinic Date</label>
                <p-calendar class="primeng-control" readonlyInput="true" formControlName="clinicDate" [defaultDate]="defaultDate" [minDate]="minDateValue" [maxDate]="maxDateValue" (onSelect)="onClinicDateSelected($event)"></p-calendar>
                <!-- <app-field-error-display [displayError]="isFieldValid('clinicDate')" ></app-field-error-display> -->
            </div>  
        <div class="col-md-2 col-sm-4 form-group" [ngClass]="displayFieldCss('startTime')">
                <label>Start Time</label>
                <p-calendar class="primeng-control" formControlName="startTime" [defaultDate]="defaultDate" [stepHour]="1" [stepMinute]="30"
                    [timeOnly]="true" [showTime]="true" hourFormat="12"></p-calendar>
                    <!-- <app-field-error-display [displayError]="isFieldValid('startTime')"></app-field-error-display> -->
            </div>
        <div class="col-md-2 col-sm-4 form-group" [ngClass]="displayFieldCss('endTime')">
                <label>End Time</label>
                <p-calendar class="primeng-control" formControlName="endTime" [defaultDate]="defaultDate" [stepHour]="1" [stepMinute]="30"
                    [timeOnly]="true" [showTime]="true" hourFormat="12"></p-calendar>
                <!-- <app-field-error-display [displayError]="isFieldValid('endTime')"></app-field-error-display>                 -->
            </div>


            <!--  -->
        <div class="col-md-2 col-sm-4 form-group" [ngClass]="displayFieldCss('localEstmdShots')"> 
                <label>Est. Shots</label>
                <input type="text"  formControlName="localEstmdShots" name="location[EstmdShots]" pInputText pKeyFilter="pint"  class="form-control">
                <!-- <app-field-error-display [displayError]="isFieldValid('localEstmdShots')"></app-field-error-display>  -->
            </div>
            <!--  -->
            <div class="col-md-2 col-sm-4 form-group"   [ngClass]="displayFieldCss('localvouchersDist')">
                <label style=" white-space: nowrap;">Vouchers Distributed</label>
                 <input type="text" name="location[vouchersDist]" formControlName="localvouchersDist" pInputText pKeyFilter="pint"  class="form-control ">
                <!-- <app-field-error-display [displayError]="isFieldValid('localvouchersDist')"></app-field-error-display>  -->
            </div>

</div>

