.error-msg {
    color: red;
  }
   .has-error label{
    color:red!important;
    }
    .has-error input{
    border:1px solid red !important;
    } 
    .has-error select{
    border:1px solid red !important;
    } 

