<p-dialog [(visible)]="dispHintDialog" id="HintDlg" modal="true" [responsive]="true" minY="20" [contentStyle]="{'max-width':'500px'}">
  <!-- <div>{{title}}</div> -->
  <div [innerHtml]="hintHdng"></div>
  <div [innerHtml]="hintMsg"></div>
  <div class="row">
    <div class="col-md-8">
      <div class="float-left">
        <label class="checkbox">
          <input type="checkbox" value="1" data-dismiss="modal" [(ngModel)]="turnOnOffHints" (change)="turnOffHints($event)">
          <i></i>
          <b>Turn Hints Off</b>
        </label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="float-right">
        <br/>
        <button type="button" class="btn btn-primary hintConfBtn" *ngIf="backButton" (click)="back(1)">Back</button>
        <button type="button" class="btn btn-primary hintConfBtn" *ngIf="nextButton" (click)="next(1)">Next</button>
      </div>
    </div>
  </div>
</p-dialog>