<!-- FOOTER -->
<footer id="footer">
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <!-- Footer Logo -->
        <img class="footer-logo img-fluid" src="/assets/images/wags_footer.png" alt="" />

        <!-- Small Description -->
        <h4>NEED HELP</h4>
        <p>Need help navigating the portal?
          <br/>Turn Hints on and hint boxes will appear to guide you through.</p>
        <div class="row">
          <div class="col-12 col-lg-3 col-md-12 col-sm-12">
  
            <p-inputSwitch id="hintCheckBox" [(ngModel)]="turnOffHints" (click)="checking($event)" onLabel="ON" offLabel="OFF"></p-inputSwitch>
          </div>
          <div class="col-12 col-lg-9 col-md-12 col-sm-12">
            <span class="float-left">Turn hints on?</span>
          </div>
          <br/>
          <br/>
        </div>

      </div>
      <div class="col-md-3">

        <!-- Links -->
        <h4>COMMUNITY OUTREACH</h4>
        <ul class="footer-links list-unstyled">
          <li *ngFor="let link of menu; let i = index;">
            <a routerLink="{{link.url}}">
              {{link.title}}
            </a>
          </li>         
          </ul>
          <!-- /Links -->

      </div>
      <div class="col-md-3">
        <!-- Latest Blog Post -->
        <h4 class="letter-spacing-1">QUESTIONS OR CONCERNS</h4>
        <p>
          Please open ticket with the
          <a href="https://helpctr.walgreens.com/docugen/viewmenu/immunization_services" target="_blank">Immunization Service Desk</a>
        </p>
        <p>
          Accessed directly through
          <a href="http://snetapp.walgreens.com/SNETGatewayLBWeb/walgreens/snet/utl/StoreNetMain.html" target="_blank">Immunization Service Storenet</a> (Storenet > Patient Care > Immunization Services)
        </p>
        <p>
          Click the Immunization Service Desk hyperlink under the "Questions" header located on the main page.
        </p>
      </div>
      <div class="col-md-3">
        <!-- Newsletter Form -->
        <h4 class="letter-spacing-1">VACCINE SHIPMENT STATUS</h4>
        <p>All scheduled corporate, charity (HHS Voucher), community outreach and local clinics will be monitored on weekly
          basis by the Purchasing Team to ensure that the hosting store is shipped the proper Flu Vaccine. For status of
          shipment please to to Storenet > Patient Care > Immunization Services > Immunization Reports</p>
      </div>
    </div>
  </div>
</footer>
<!-- /FOOTER -->