<!-- <section class="h-500" id="slider" style="background:url('assets/images/wags_icons/walgreens_store.jpg')">
  <div class="overlay dark-6"></div>

  <div class="display-table">
    <div class="display-table-cell vertical-align-middle">
      
      <div class="container text-center">
        
        <h1 class="m-0 wow fadeInUp" data-wow-delay="0.4s">
            COMMUNITY OUTREACH 
          
          <span class="rotate " data-animation="fade" data-speed="1500">
              PORTAL
          </span>
        </h1>       

      </div>

    </div>
  </div>

</section>

<p>
  <strong>  You appear to be an unauthorized user.</strong><br>
  <strong>  Please use your Walgreens Community Outreach link to access this site.</strong>
</p> -->
