<div id="header" class="navbar-toggleable-md static header-md clearfix">
    <!-- TOP NAV -->
    <header id="topNav">
      <div class="container">
        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <!-- BUTTONS -->
        <ul class="float-right nav nav-pills nav-second-main">
          <!-- SEARCH -->
  
          <!-- /SEARCH -->
        </ul>
        <!-- /BUTTONS -->
        <!-- Logo -->
        <a class="logo hidden-sm-down float-left pt-10"  routerLink="/landing">
          <img src="assets/images/walgreens_1901_logo.png"  />
  
        </a>
        <a class="logo hidden-md-up float-left"  routerLink="/landing">
          <img src="assets/images/_smarty/Walgreens_mobile_logo.png" style="width:32px; height: 35px;" />
        </a>
        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
          <nav class="nav-main">
            <ul id="topMain" class="nav nav-pills nav-main">
               <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <!-- THEMATIC -->
                  <a class="dropdown-toggle noicon" routerLink="/signout">
                  <b>SIGN OUT</b>
                  </a>
               </li>
            </ul>
         </nav>
        </div>
      </div>
    </header>
    <!-- /Top Nav -->
  </div>
  <section class="h-500" id="slider" style="background:url('assets/images/wags_icons/walgreens_store.jpg')">
    <div class="overlay dark-6"></div>
  
    <div class="display-table mt-60">
      <div class="display-table-cell vertical-align-middle">
        
        <div class="container text-center">
          
          <h1 class="m-0 wow fadeInUp" data-wow-delay="0.4s">
              COMMUNITY OUTREACH 
            <!--
              TEXT ROTATOR
              data-animation="fade|flip|flipCube|flipUp|spin"
            -->
            <span class="rotate " data-animation="fade" data-speed="1500">
                PORTAL
            </span>
          </h1>
  
          <!-- <p class="lead font-lato fs-30 wow fadeInUp" data-wow-delay="0.7s">
            Over <span class="countTo" data-speed="4000">550</span> html files! 
            <span class="theme-color fw-400 font-style-italic">Admin included</span> &amp; RTL
          </p> -->
          
          <a class="btn btn-default btn-lg" (click)="GoToOpportunities()">COMMUNITY OUTREACH</a>
          <a class="btn btn-default btn-lg" *ngIf="!isDashboard" (click)="GoToDashboard()">MY DASHBOARD</a>
  
        </div>
  
      </div>
    </div>
  
  </section>
  <!-- /SLIDER -->
  <!-- -->
  <section class="pt-10 pb-0">
    <div class="container">
  
      <!-- FEATURED BOXES 3 -->
      <div class="row">
        <div class="col-md-4 col-12 mb-30">
          <div class="text-center">
            <a (click)="GoTo()">  <img src="assets/images/wags_icons/immunization_program_icon.png" style="height:90px;width:90px"></a>
            <!-- <i class="ico-light ico-lg ico-rounded ico-hover et-circle-compass" style="background:url('assets/images/wags_icons/immunization_program_icon.png')"></i> -->
            <h4>Immunization Program</h4>
            <p>Managing Immunization related
              programs with small businesses as
              well as the corporately contracted worksites.
              </p>
          </div>
        </div>
  
        <div class="col-md-4 col-12 mb-30">
          <div class="text-center">
            <a (click)="GoTo()"><img src="assets/images/wags_icons/senior_outreach.png" style="height:90px;width:90px"></a>
            <!-- <i class="ico-light ico-lg ico-rounded ico-hover et-piechart"></i> -->
            <h4>Senior Outreach</h4>
            <p>Developing relationships with people over 60
              through regularly scheduled outreach.
              </p>
            
          </div>
        </div>
  
        <div class="col-md-4 col-12 mb-30">
          <div class="text-center">
              <img src="assets/images/wags_icons/patient_care.png" style="height:90px;width:90px">
            <!-- <i class="ico-light ico-lg ico-rounded ico-hover et-strategy"></i> -->
            <h4>Patient Care & Advocacy</h4>
            <p>Managing HIV and Hepatitis C testing and screening services. Coming soon. 
              </p>
          </div>
        </div>   
        
      </div>
      <!-- /FEATURED BOXES 3 -->
  
    </div>
  </section>
  <!-- / -->
  
  <!-- 3 Cols -->
  <section class="b-0" style="background-color:#fbfbfb;">
    <div class="container">
      <div class="row">
      
        <div class="col-md-4">
          <div class="heading-title heading-border-bottom heading-color mb-10">
            <h3>Off-Site Clinic Reminders</h3>
          </div>
          <p class="text-justify">Local off-site clinics should have a minimum of 25 vaccines/clinic in order to ensure it is a good use of team member time.</p>
          <ul>
            <li>If your employer-based client cannot guarantee a 25 min shot for flu, you can offer additional vaccines (like pneumococcal, Tdap, etc.)</li> to the employer. Combination clinics are a great way to get patients up to date on all their vaccines at once!
            <li>Please remember all frozen vaccines should not be transported to off-site clinics (Varivax, Zostavax)</li>
            </ul>
        </div>
  
        <div class="col-md-4">
          <div class="heading-title heading-border-bottom heading-color  mb-10">
            <h3>Shingrix Off-Site Clinic Scheduling</h3>
          </div>
          <p class="text-justify">Due to Shingrix inventory on backorder for the coming weeks, please schedule Shingrix off-site clinics for a few months from now to ensure enough inventory will be available for the clinic. Offer clients a combination Shingrix + Flu clinic for this coming flu season to make it easier for their employees!</p>
        </div>
  
        <div class="col-md-4">
          <div class="heading-title heading-border-bottom heading-color  mb-10">
            <h3>14 Day Notice</h3>
          </div>
          <p  class="text-justify">To ensure that your client receives a contract for off-sites and that your store can get sufficient inventory, all clinics should be scheduled 14 days in advance.
            </p><ul><li>
              The Support Center needs 14 days in order to ensure proper clinic set up and to ship flu inventory to your store(s).</li></ul>
  
        </div>
  
      </div>
      
    </div>
  </section>
  <!-- /3 Cols -->
  
  
  <!--
    .box-pink
    .box-blue
    .box-orange
    .box-yellow
    .box-purple
    .box-red
    .box-brown
    .box-green
    .box-black
    .box-gray
    .box-teal
  -->
  <div class="row box-gradient box-teal">
    <div class="col-12 col-sm-3">
      <!-- <i class="fa fa-child fa-4x"></i> -->
      <img src="assets/images/wags_icons/logged_contacts_icon.png" style="height:90px;width:90px">
      <h2 class="countTo font-raleway" data-speed="3000">{{opportunitiesContacted}}</h2>
      <p>Outreach Opportunities Contacted</p>
    </div>
  
    <div class="col-12 col-sm-3">
      <!-- <i class="fa fa-smile-o fa-4x"></i> -->   
      <img src="assets/images/wags_icons/scheduled_clinics_icon.png" style="height:90px;width:90px">
      <h2 class="countTo font-raleway" data-speed="3000">{{clinicsScheduled}}</h2>
      <p>Clinics Scheduled</p>
    </div>
  
    <div class="col-12 col-sm-3">
      <!-- <i class="fa fa-heart fa-4x"></i> -->
      <img src="assets/images/wags_icons/vaccines_administered_icon.png" style="height:90px;width:90px">
      <h2 class="countTo font-raleway" data-speed="3000">{{vaccinesAdministered}}</h2>
      <p>Vaccines Administered</p>
    </div>
  
    <div class="col-12 col-sm-3">
      <!-- <i class="fa fa-female fa-4x"></i> -->
      <img  src="assets/images/wags_icons/senior_events_icon.png" style="height:90px;width:90px">
      <h2 class="countTo font-raleway" data-speed="3000">{{srEventsScheduled}}</h2>
      <p>Senior Events Scheduled</p>
    </div>
  </div>
  
    
  <!-- FOOTER -->
  <app-footer></app-footer>
  <!-- /FOOTER -->