<div class="row">
    <div class="col-md-6 col-12">
       <div class="card cardHeaderBlueBg">
          <div class="card-heading card-heading-transparent">
             <h2 class="card-title text-white">HCS Action Items</h2>
          </div>
          <div class="card-block bdrBtmOnly cardBodyBlueBg p-10">
             <div class="whiteBG p-10">
                <table class="table table-sm mb-0">
                   <thead>
                      <tr>
                         <th>Action Item</th>
                         <th>HCS</th>
                         <th>Store</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let hcs of HCSAction;">
                         <td>{{hcs.actionItem}}</td>
                         <td>
                            <a href="">
                               <u *ngIf="hcs.hcsCount>0; else hcscount">{{hcs.hcsCount}}</u>
                               <ng-template #hcscount>{{hcs.hcsCount}}</ng-template>
                            </a>
                         </td>
                         <td>
                            <a href="">
                               <u *ngIf="hcs.storeCount>0; else scount">{{hcs.storeCount}}</u>
                               <ng-template #scount>{{hcs.storeCount}}</ng-template>
                            </a>
                         </td>
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-12">
       <div class="card cardHeaderGreenBg">
          <div class="card-heading card-heading-transparent">
             <h2 class="card-title text-white">Metrics</h2>
          </div>
          <div class="card-block bdrBtmOnly cardBodyGreenBg p-10">
             <div class="whiteBG p-10">
                <table class="table table-sm mb-0">
                   <thead>
                      <tr>
                         <th>Reports</th>
                         <th>Quantity</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let metric of HCSMetrics;">
                         <td>{{metric.metricName}}</td>
                         <td>{{metric.metricCount}}</td>
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col-md-12 col-12">
       <div class="card cardHeaderVioletBg">
          <div class="card-heading card-heading-transparent">
             <span class="float-right" (clickOutside)="onClickedOutside($event)">
                <a class="text-white m-5" (click)="storeSearchHCS()">
                <i class="fa fa-search"></i>
                </a>
                <div *ngIf="showVarHCS" class="oSearchHCS">
                   <input placeholder="Search Opportunities" type="text" class="form-control"
                      />
                </div>
                <a (click)="showDialogclinicHCSInfo()" class="text-white m-5">
                <i class="fa fa-info"></i>
                </a>
             </span>
             <h2 class="card-title text-white">Clinics</h2>
          </div>
          <div class="card-block bdrBtmOnly cardBodyVioletBg p-10">
             <div class="whiteBG p-10" id="Clinics">
                <p-tabView (onChange)="SetTabHCS($event)">
                   <p-tabPanel header="Assigned to HCS" class="activeTabPrimeNg">
                      <div class="row mt-20">
                         <div class="col-md-3">
                            <div class="form-group row">
                               <label for="inputPassword" class="col-lg-3 col-md-12 col-sm-12 col-form-label">Filter:</label>
                               <div class="col-lg-9 col-md-12 col-sm-12">
                                  <select class="form-control">
                                     <option>Select</option>
                                     <option>Region</option>
                                     <option>Area</option>
                                     <option>District</option>
                                     <option>Store</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-2">
                            <div class="form-group row">
                               <label for="inputPassword" class="col-lg-4 col-md-12 col-sm-12 col-form-label">ID #:</label>
                               <div class="col-lg-6 col-md-12 col-sm-12">
                                  <input class="form-control" type="text">
                               </div>
                            </div>
                         </div>
                      </div>
                      <p-dataTable [value]="HCSClinicDetails" [rows]="10" [(selection)]="selectedData" dataKey="clinicPk" [responsive]="true" [paginator]="true"
                      [headerCheckboxToggleAllPages]="true">
                      <p-column styleClass="w30" selectionMode="multiple"></p-column>
                      <p-column field="businessName" header="Clinic Name"></p-column>
                      <p-column field="clinicType" header="Type"></p-column>
                      <p-column styleClass="w90"  field="accountAddress" header="Clinic Location"></p-column>
                      <p-column field="naClinicDate" header="Clinic Date"></p-column>
                      <p-column field="storeId" header="Store #"></p-column>
                      <p-column styleClass="w90"  field="storeAddress" header="Store Location"></p-column>
                      <p-column styleClass="col-button w30">
                         <ng-template let-user="rowData" pTemplate="body">
                            <a (click)="showDialogClinic()">
                            <i class="fa fa-bars"></i>
                            </a>
                         </ng-template>
                      </p-column>
                      <ng-template pTemplate="paginatorRight">
                         <span class="BulkActionSpan">
                            <div class="row">
                               <div class="col-md-12">
                                  <div class="row">
                                     <div class="col-md-9">
                                        <div class="form-group row">
                                           <label for="inputPassword" class="col-sm-4 col-form-label">Bulk Action:</label>
                                           <div class="col-sm-8">
                                              <select class="form-control">
                                                 <option>Select</option>
                                                 <option> Reassign </option>
                                                 <option> Assign & Email to HCS </option>
                                                 <option> Assign & Email to DM </option>
                                                 <option> Approve & Email to Store </option>
                                              </select>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-md-3">
                                        <button type="button" class="btn activeVioletBg">Submit Entry</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </span>
                      </ng-template>
                      </p-dataTable>          
                   </p-tabPanel>
                   <p-tabPanel header="Assigned to DM">
                      <div class="row mt-20">
                         <div class="col-md-3">
                            <div class="form-group row">
                               <label for="inputPassword" class="col-lg-3 col-md-12 col-sm-12 col-form-label">Filter:</label>
                               <div class="col-lg-9 col-md-12 col-sm-12">
                                  <select class="form-control">
                                     <option>Select</option>
                                     <option>Region</option>
                                     <option>Area</option>
                                     <option>District</option>
                                     <option>Store</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-2">
                            <div class="form-group row">
                               <label for="inputPassword" class="col-lg-4 col-md-12 col-sm-12 col-form-label">ID #:</label>
                               <div class="col-lg-6 col-md-12 col-sm-12">
                                  <input class="form-control" type="text">
                               </div>
                            </div>
                         </div>
                      </div>
                      <p-dataTable [value]="HCSClinicDetails" [rows]="10" [(selection)]="selectedData" dataKey="clinicPk" [responsive]="true" [paginator]="true"
                      [headerCheckboxToggleAllPages]="true">
                      <p-column styleClass="w30" selectionMode="multiple"></p-column>
                      <p-column field="businessName" header="Clinic Name"></p-column>
                      <p-column field="clinicType" header="Type"></p-column>
                      <p-column styleClass="w90" field="accountAddress" header="Clinic Location"></p-column>
                      <p-column field="naClinicDate" header="Clinic Date"></p-column>
                      <p-column field="storeId" header="Store #"></p-column>
                      <p-column styleClass="w90" field="storeAddress" header="Store Location"></p-column>
                      <p-column styleClass="w30" styleClass="col-button w30">
                         <ng-template let-user="rowData" pTemplate="body">
                            <a (click)="showDialogClinic()">
                            <i class="fa fa-bars"></i>
                            </a>
                         </ng-template>
                      </p-column>
                      <ng-template pTemplate="paginatorRight">
                         <span class="BulkActionSpan">
                            <div class="row">
                               <div class="col-md-12">
                                  <div class="row">
                                     <div class="col-md-9">
                                        <div class="form-group row">
                                           <label for="inputPassword" class="col-sm-4 col-form-label">Bulk Action:</label>
                                           <div class="col-sm-8">
                                              <select class="form-control">
                                                 <option>Select</option>
                                                 <option> Reassign </option>
                                                 <option> Assign & Email to HCS </option>
                                                 <option> Assign & Email to DM </option>
                                                 <option> Approve & Email to Store </option>
                                              </select>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-md-3">
                                        <button type="button" class="btn activeVioletBg">Submit Entry</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </span>
                      </ng-template>
                      </p-dataTable>  
                   </p-tabPanel>
                   <p-tabPanel header="Assigned to Store">
                      <div class="row mt-20">
                         <div class="col-md-3">
                            <div class="form-group row">
                               <label for="inputPassword" class="col-lg-3 col-md-12 col-sm-12 col-form-label">Filter:</label>
                               <div class="col-lg-9 col-md-12 col-sm-12">
                                  <select class="form-control">
                                     <option>Select</option>
                                     <option>Region</option>
                                     <option>Area</option>
                                     <option>District</option>
                                     <option>Store</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-2">
                            <div class="form-group row">
                               <label for="inputPassword" class="col-lg-4 col-md-12 col-sm-12 col-form-label">ID #:</label>
                               <div class="col-lg-6 col-md-12 col-sm-12">
                                  <input class="form-control" type="text">
                               </div>
                            </div>
                         </div>
                      </div>
                      <p-dataTable [value]="HCSClinicDetails" [rows]="10" [(selection)]="selectedData" dataKey="clinicPk" [responsive]="true" [paginator]="true"
                      [headerCheckboxToggleAllPages]="true">
                      <p-column styleClass="w30" selectionMode="multiple"></p-column>
                      <p-column field="businessName" header="Clinic Name"></p-column>
                      <p-column field="clinicType" header="Type"></p-column>
                      <p-column styleClass="w90" field="accountAddress" header="Clinic Location"></p-column>
                      <p-column field="naClinicDate" header="Clinic Date"></p-column>
                      <p-column field="storeId" header="Store #"></p-column>
                      <p-column styleClass="w90" field="storeAddress" header="Store Location"></p-column>
                      <p-column styleClass="w30" styleClass="col-button w30">
                         <ng-template let-user="rowData" pTemplate="body">
                            <a (click)="showDialogClinic()">
                            <i class="fa fa-bars"></i>
                            </a>
                         </ng-template>
                      </p-column>
                      <ng-template pTemplate="paginatorRight">
                         <span class="BulkActionSpan">
                            <div class="row">
                               <div class="col-md-12">
                                  <div class="row">
                                     <div class="col-md-9">
                                        <div class="form-group row">
                                           <label for="inputPassword" class="col-sm-4 col-form-label">Bulk Action:</label>
                                           <div class="col-sm-8">
                                              <select class="form-control">
                                                 <option>Select</option>
                                                 <option> Reassign </option>
                                                 <option> Assign & Email to HCS </option>
                                                 <option> Assign & Email to DM </option>
                                                 <option> Approve & Email to Store </option>
                                              </select>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-md-3">
                                        <button type="button" class="btn activeVioletBg">Submit Entry</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </span>
                      </ng-template>
                      </p-dataTable>  
                   </p-tabPanel>
                   <p-tabPanel header="Assigned Required to Cancel">
                      <p>There are no Cancelled Clinics requiring your attention at this time.</p>
                      <!-- <div class="row mt-20">
                         <div class="col-md-3">
                           <div class="form-group row">
                             <label for="inputPassword" class="col-sm-3 col-form-label">Filter:</label>
                             <div class="col-sm-9">
                               <select class="form-control">
                                 <option>Select</option>
                                 <option>Region</option>
                                 <option>Area</option>
                                 <option>District</option>
                                 <option>Store</option>
                               </select>
                             </div>
                           </div>
                         </div>
                         <div class="col-md-2">
                           <div class="form-group row">
                             <label for="inputPassword" class="col-sm-4 col-form-label">ID #:</label>
                             <div class="col-sm-6">
                               <input class="form-control" type="text">
                             </div>
                           </div>
                         </div>
                         </div>
                         <p-dataTable [value]="HCSClinicDetails" [rows]="10" [(selection)]="selectedData" dataKey="clinicPk" [responsive]="true" [paginator]="true"
                         [headerCheckboxToggleAllPages]="true">
                         <p-column styleClass="w30" selectionMode="multiple"></p-column>
                         <p-column field="businessName" header="Clinic Name"></p-column>
                         <p-column field="clinicType" header="Type"></p-column>
                         <p-column styleClass="w90" field="accountAddress" header="Clinic Location"></p-column>
                         <p-column field="naClinicDate" header="Clinic Date"></p-column>
                         <p-column field="storeId" header="Store #"></p-column>
                         <p-column styleClass="w90" field="storeAddress" header="Store Location"></p-column>
                         <p-column styleClass="w30" styleClass="col-button">
                           <ng-template let-user="rowData" pTemplate="body">
                             <a (click)="showDialogClinic()">
                               <i class="fa fa-bars"></i>
                             </a>
                           </ng-template>
                         </p-column>
                         
                         
                         <ng-template pTemplate="paginatorRight">
                             <span class="BulkActionSpan">
                                 <div class="row">
                                   <div class="col-md-12">
                                     <div class="row">
                                       <div class="col-md-9">
                                         <div class="form-group row">
                                           <label for="inputPassword" class="col-sm-4 col-form-label">Bulk Action:</label>
                                           <div class="col-sm-8">
                                             <select class="form-control">
                                               <option>Select</option>
                                               <option> Reassign </option>
                                               <option> Assign & Email to HCS </option>
                                               <option> Assign & Email to DM </option>
                                               <option> Approve & Email to Store </option>
                                             </select>
                                           </div>
                                         </div>
                                       </div>
                                       <div class="col-md-3">
                                         <button type="button" class="btn activeVioletBg">Submit Entry</button>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </span>
                         </ng-template>
                         </p-dataTable>   -->
                   </p-tabPanel>
                </p-tabView>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col-md-12 col-12">
       <div class="card cardHeaderYellowBg">
          <div class="card-heading card-heading-transparent">
             <span class="float-right" (clickOutside)="onClickedOutsidee($event)">
                <a class="text-white m-5" (click)="storeSearchHCSLocal()">
                <i class="fa fa-search"></i>
                </a>
                <div *ngIf="showVarHCSLocal" class="oSearchHCS">
                   <input placeholder="Search Opportunities" type="text" class="form-control" />
                </div>
                <a (click)="showDialogLocalInfo()" class="text-white m-5">
                <i class="fa fa-info"></i>
                </a>
             </span>
             <h2 class="card-title text-white">Local Opportunities</h2>
          </div>
          <div class="card-block bdrBtmOnly cardBodyYellowBg p-10">
             <div class="whiteBG p-10" id="LocalOppourtunies">
                <p-tabView (onChange)="SetTabLocal($event)">
                   <p-tabPanel header="Unassigned Local Opportunities" class="activeTabYellowPrimeNg">
                      <div class="row mt-20">
                          <div class="col-md-3">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-lg-3 col-md-12 col-sm-12 col-form-label">Filter:</label>
                              <div class="col-lg-9 col-md-12 col-sm-12">
                                <select class="form-control">
                                  <option>Select</option>
                                  <option>Region</option>
                                  <option>Area</option>
                                  <option>District</option>
                                  <option>Store</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-lg-4 col-md-12 col-sm-12 col-form-label">ID #:</label>
                              <div class="col-lg-6 col-md-12 col-sm-12">
                                <input class="form-control" type="text">
                              </div>
                            </div>
                          </div>
                        </div>
                      <p-dataTable [value]="HCSLocalLeads" [rows]="10" [(selection)]="selectedData" dataKey="clinicPk" [responsive]="true" [paginator]="true"
                      [headerCheckboxToggleAllPages]="true">
                      <p-column styleClass="w30" selectionMode="multiple"></p-column>
                      <p-column field="businessName" header="Opportunity"></p-column>
                      <p-column field="businessAddress" header="Opportunity Location"></p-column>
                      <p-column field="districtId" header="District"></p-column>
                      <p-column field="storeId" header="Store"></p-column>
                      <p-column field="outreachStatus" header="Status"></p-column>
                      <p-column styleClass="w30" styleClass="col-button w30">
                         <ng-template let-user="rowData" pTemplate="body">
                            <a (click)="showLocalDialog()">
                            <i class="fa fa-bars"></i>
                            </a>
                         </ng-template>
                      </p-column>
                      <ng-template pTemplate="paginatorRight" class="float-right">
                         <span class="BulkActionSpan">
                            <div class="row">
                               <div class="col-md-12">
                                  <div class="row">
                                     <div class="col-md-9">
                                        <div class="form-group row">
                                           <label for="inputPassword" class="col-sm-4 col-form-label">Bulk Action:</label>
                                           <div class="col-sm-8">
                                              <select class="form-control">
                                                 <option>Select</option>
                                                 <option> Reassign </option>
                                                 <option> Assign & Email to HCS </option>
                                                 <option> Assign & Email to DM </option>
                                                 <option> Approve & Email to Store </option>
                                              </select>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-md-3">
                                        <button type="button" class="btn activeYellowBg">Submit Entry</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </span>
                      </ng-template>
                      </p-dataTable>
                   </p-tabPanel>
                   <p-tabPanel header="Local Opportunities Assigned to DM">
                      <div class="row mt-20">
                          <div class="col-md-3">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-lg-3 col-md-12 col-sm-12 col-form-label">Filter:</label>
                              <div class="col-lg-9 col-md-12 col-sm-12">
                                <select class="form-control">
                                  <option>Select</option>
                                  <option>Region</option>
                                  <option>Area</option>
                                  <option>District</option>
                                  <option>Store</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-lg-4 col-md-12 col-sm-12 col-form-label">ID #:</label>
                              <div class="col-lg-6 col-md-12 col-sm-12">
                                <input class="form-control" type="text">
                              </div>
                            </div>
                          </div>
                        </div>
                      <p-dataTable [value]="HCSLocalLeads" [rows]="10" [(selection)]="selectedData" dataKey="clinicPk" [responsive]="true" [paginator]="true"
                      [headerCheckboxToggleAllPages]="true">
                      <p-column styleClass="w30" selectionMode="multiple"></p-column>
                      <p-column field="businessName" header="Opportunity"></p-column>
                      <p-column field="businessAddress" header="Opportunity Location"></p-column>
                      <p-column field="districtId" header="District"></p-column>
                      <p-column field="storeId" header="Store"></p-column>
                      <p-column field="outreachStatus" header="Status"></p-column>
                      <p-column styleClass="w30" styleClass="col-button w30">
                         <ng-template let-user="rowData" pTemplate="body">
                            <a (click)="showLocalDialog()">
                            <i class="fa fa-bars"></i>
                            </a>
                         </ng-template>
                      </p-column>
                      <ng-template pTemplate="paginatorRight" class="float-right">
                         <span class="BulkActionSpan">
                            <div class="row">
                               <div class="col-md-12">
                                  <div class="row">
                                     <div class="col-md-9">
                                        <div class="form-group row">
                                           <label for="inputPassword" class="col-sm-4 col-form-label">Bulk Action:</label>
                                           <div class="col-sm-8">
                                              <select class="form-control">
                                                 <option>Select</option>
                                                 <option> Reassign </option>
                                                 <option> Assign & Email to HCS </option>
                                                 <option> Assign & Email to DM </option>
                                                 <option> Approve & Email to Store </option>
                                              </select>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-md-3">
                                        <button type="button" class="btn activeYellowBg">Submit Entry</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </span>
                      </ng-template>
                      </p-dataTable>
                   </p-tabPanel>
                   <p-tabPanel header="Assigned Local Opportunities">
                      <div class="row mt-20">
                          <div class="col-md-3">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-lg-3 col-md-12 col-sm-12 col-form-label">Filter:</label>
                              <div class="col-lg-9 col-md-12 col-sm-12">
                                <select class="form-control">
                                  <option>Select</option>
                                  <option>Region</option>
                                  <option>Area</option>
                                  <option>District</option>
                                  <option>Store</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-lg-4 col-md-12 col-sm-12 col-form-label">ID #:</label>
                              <div class="col-lg-6 col-md-12 col-sm-12">
                                <input class="form-control" type="text">
                              </div>
                            </div>
                          </div>
                        </div>
                      <p-dataTable [value]="HCSLocalLeads" [rows]="10" [(selection)]="selectedData" dataKey="clinicPk" [responsive]="true" [paginator]="true"
                      [headerCheckboxToggleAllPages]="true">
                      <p-column styleClass="w30" selectionMode="multiple"></p-column>
                      <p-column field="businessName" header="Opportunity"></p-column>
                      <p-column field="businessAddress" header="Opportunity Location"></p-column>
                      <p-column field="districtId" header="District"></p-column>
                      <p-column field="storeId" header="Store"></p-column>
                      <p-column field="outreachStatus" header="Status"></p-column>
                      <p-column styleClass="w30" styleClass="col-button w30">
                         <ng-template let-user="rowData" pTemplate="body">
                            <a (click)="showLocalDialog()">
                            <i class="fa fa-bars"></i>
                            </a>
                         </ng-template>
                      </p-column>
                      <ng-template pTemplate="paginatorRight" class="float-right">
                         <span class="BulkActionSpan">
                            <div class="row">
                               <div class="col-md-12">
                                  <div class="row">
                                     <div class="col-md-9">
                                        <div class="form-group row">
                                           <label for="inputPassword" class="col-sm-4 col-form-label">Bulk Action:</label>
                                           <div class="col-sm-8">
                                              <select class="form-control">
                                                 <option>Select</option>
                                                 <option> Reassign </option>
                                                 <option> Assign & Email to HCS </option>
                                                 <option> Assign & Email to DM </option>
                                                 <option> Approve & Email to Store </option>
                                              </select>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-md-3">
                                        <button type="button" class="btn activeYellowBg">Submit Entry</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </span>
                      </ng-template>
                      </p-dataTable>
                   </p-tabPanel>
                </p-tabView>
             </div>
          </div>
       </div>
    </div>
 </div>
 <p-dialog class="blueBgDark" header="Choose an action" [(visible)]="displayClinic" modal="modal" [responsive]="true">
 <ul class="list-group">
    <li class="pb-1">
       <button type="button" (click)="DlgReassignToHCS()" class="btn btn-primary btn-lg btn-block">Reassign to HCS</button>
    </li>
    <li>
       <button type="button" (click)="DlgReassign()" class="btn btn-primary btn-lg btn-block" >Reassign</button>
    </li>
 </ul>
 </p-dialog>
 <p-dialog class="blueBgDark"  header="Choose an action"  [width]="300"  [(visible)]="displaySE"  modal="modal"  [responsive]="true">
 <div class="form-group">
 <label for="exampleFormControlSelect1">  District:
 </label>
 <select class="form-control"  id="exampleFormControlSelect1">
 <option>Select</option>
 <option>Distric 1</option>
 <option>Distric 2</option>
 <option>Distric 3</option>
 </select>
 </div>
 <div class="form-group">
 <label for="exampleFormControlSelect1">  Store:
 </label>
 <select class="form-control"  id="exampleFormControlSelect1">
 <option>Select</option>
 <option>Store 1</option>
 <option>Store 2</option>
 <option>Store 3</option>
 </select>
 </div>
 </p-dialog>
 <p-dialog class="blueBgDark" header="Choose an action" [(visible)]="displayLocal" modal="modal" [responsive]="true">
 <ul class="list-group">
    <li class="pb-1">
       <button type="button" class="btn btn-primary btn-lg btn-block">Reassign</button>
    </li>
    <li>
       <button type="button" class="btn btn-primary btn-lg btn-block" >View Contact Log</button>
       <!-- (click)="GoTo()" -->
    </li>
 </ul>
 </p-dialog>
 <p-dialog [(visible)]="clinicHCSInfo" modal="true" [responsive]="true" [contentStyle]="{'max-width':'800px'}" >
 <p-header>
    Info
 </p-header>
 <p *ngIf="HCSInfoVisible">As the Healthcare Supervisor, please review the Worksite Clinic Assignments below. Click "Edit" to change
    the district and/or the store assignment and then "Save" after reassigning or canceling a clinic. To send
    an automated notification email with the assignments to the store, check the box to the left of the approved
    clinics and click "Approve & Send Selected Store Assignments". Once sent the assigned clinics will appear
    under the Assigned Worksite Clinics if other changes are required. If you would like to have a District
    Manager make the assignment, check the selected clinic and click "Assign & Send Selected to District Manager".
    An automated email will be sent to the district manager asking them to approve and assign the clinic to
    a store. These clinics will now appear under the Worksite Clinics Assigned to District tab, until the district
    assigns the clinic to a store.
 </p>
 <p *ngIf="DMInfoVisible">
    The clinics below have been re-assigned to a district for approval/assignment and the district manager has been notified by email.
    No further action is required unless it becomes necessary to change the assignment or cancel the clinic.
 </p>
 <p *ngIf="StoreInfoVisible">
    The clinics below have been assigned to a store and the assigned store has been notified by email. No further action is required 
    unless it becomes necessary to change the assignment or cancel the clinic.
 </p>
 <p *ngIf="CancelInfoVisible">
    There are no Cancelled Clinics requiring your attention at this time.
 </p>
 </p-dialog>
 <p-dialog [(visible)]="LocalOpportunitiesInfo"   modal="true" [responsive]="true" [contentStyle]="{'max-width':'800px'}" >
 <p-header>
    Info
 </p-header>
 <p *ngIf="UnassignLocalInfoVisible">As the Healthcare Supervisor, you have been assigned the local leads below to review. Based on your assessment, you 
    may call the lead yourself or assign it to either a district manager or a store to have them make the contact. If you contact the lead, click “Edit” to 
    either assign the lead to a store to Initiate a Contract or change the status of the lead to “No Client Interest” or “Business Closed”. After making your 
    edits click “Save”. To send an automated notification email with the assignments to the store, check the box to the left of the approved clinics and 
    click "Send Selected Store Assignments". Once sent, the assigned local lead will appear under the Assigned Local Leads tab if other changes are required. If 
    you would like to Initiate the Contract yourself after assigning the business, you may navigate to the Store interface and initiate the contract as usual.
 </p>
 <p *ngIf="LocalDistrictInfoVisible">
    The local leads below have been re-assigned to a district, to be contacted or assigned to a store, the district manager has been notified by email. No
    further action is required unless it becomes necessary to change the district assignment.
 </p>
 <p *ngIf="AssignedLocalInfoVisible">                        
    The local leads below have been assigned to a store and the assigned store has been notified by email. The status will remain Assigned until the store 
    Initiates a Contract or enters another status. Please follow up by checking on the status of the lead to make sure the store has initiated and sent the 
    contract. If you have assigned local leads by mistake, place a check to the left of the local lead or local leads and click the “Reset to HCS” button below the local leads.
 </p>
 </p-dialog>
 <p-dialog class="blueBgDark" header="Choose an action" [(visible)]="dispDlgReassignToHCS" modal="modal" [responsive]="true"  [width]="320">
 <div class="form-group">
    <label for="exampleFormControlSelect1">ADR</label>
    <select class="form-control" id="exampleFormControlSelect1">
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
    </select>
 </div>
 </p-dialog>
 <p-dialog class="blueBgDark" header="Choose an action" [(visible)]=" dispDlgReassign" modal="modal" [responsive]="true" [width]="320">
 <div class="form-group">
    <label for="exampleFormControlSelect1">Store</label>
    <select class="form-control" id="exampleFormControlSelect1">
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
    </select>
 </div>
 <div class="form-group mt-10">
    <label for="exampleFormControlSelect1">Dealer</label>
    <select class="form-control" id="exampleFormControlSelect1">
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>
    </select>
 </div>
 </p-dialog>