<ng4-loading-spinner>
</ng4-loading-spinner>
<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-12" [ngClass]="{'displayNone':storestatus.statusCountByStore<=0}" *ngFor="let storestatus of store_status; let i=index">
        <div [ngClass]="displayFieldCss1(storestatus.storeTasksStatus)" *ngIf='storestatus.statusCountByStore>=0'>
            <div class={{css_color}}>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-9">
                            <p class="text-left text-white pt-10 smText minH">
                                {{storestatus.storeTasksStatus}}
                            </p>
                        </div>
                        <div class="col-3">
                            <a href="#" class="text-white">
                                <span class="bigText float-right">{{storestatus.statusCountByStore}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="row mb-10">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" [(ngModel)]="searchText" placeholder="Search" class="form-control">
                </div>

            </div>
            <div class="col-md-5 offset-md-3">

                <div class="form-group row" [formGroup]="opportunityForm">
                    <label for="sortBy" class="col-sm-4 mt-5 col-form-label sortByLbl">Sort By</label>
                    <div class="col-sm-8">
                        <select id="sortBy" formControlName="defaultSortBY" class="hideLabel form-control" (change)="selectName($event.target.value);">
                            <!-- <option value="0">Select Sort By</option> -->
                            <option value="1">Employee Count</option>
                            <option value="2">Previous Clients</option>
                            <option value="3">Oldest to Latest Contact</option>
                            <option value="4">Latest to Oldest Contact</option>
                            <option value="5">SR Opportunities</option>
                        </select>
                    </div>
                </div>

                <!-- <app-store-search></app-store-search> -->

            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item bg-blue text-white">Outreach Opportunities
                <span class="float-right">
                    <a class="text-white m-5" (click)="addBusiness()" title="Add an Outreach Opportunity">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a title="Previous Client" class="text-white m-5" (click)="showDialogInfo()">
                        <i class="fa fa-info"></i>
                    </a>
                </span>
            </li>
            <li *ngFor="let opp of opportunitiesData_List | FilterPipe : searchText; let i = index" (click)="showDialog(opp)" style="cursor: pointer;"
                class="list-group-item">

                <div class="d-flex flex-row align-items-center">
                    <div class="p-2 align-self-start">
                        <div *ngIf="opp.isPreviousClient" class="mr-10">
                            <img src="assets/images/wags_icons/high_priority.png" alt="High Priority" class="ui-li-icon ui-corner-none" />

                        </div>
                        <div *ngIf="opp.isMilitaryOpportunity" class="mr-10">
                            <img src="assets/images/wags_icons/military_outreach.png" alt="High Priority" class="ui-li-icon ui-corner-none" />
                        </div>
                        <div *ngIf="(!opp.isMilitaryOpportunity || !opp.isPreviousClient)" class="mr-20">
                            <span>&nbsp;</span>
                        </div>

                    </div>
                    <div class="p-2">
                        <h4 class="list-group-item-heading mb-0">{{opp.businessName}} - {{opp.phone}}
                            <span class="text-black" *ngIf="!opp.isStandardized">*</span>
                        </h4>

                        <p class="small mb-0">

                            Industry: {{opp.industry}} | Employees:
                            <span *ngIf='opp.employmentSize=="-1"'>N/A</span>
                            <span *ngIf='opp.employmentSize>=25'>{{opp.employmentSize}}</span>
                            <span *ngIf='(opp.employmentSize<25 && opp.employmentSize!="-1")'>{{opp.employmentSize}} (Suggest Vouchers)</span>
                            | Last Contact:
                            <span *ngIf='opp.lastContact!="-1"'>{{opp.lastContact |date:'MM/dd/yyyy'}}</span>

                        </p>
                        <p class="small mb-0">
                            <span *ngIf="!opp.outreachEffort.IP.isScheduledClinics">
                                <b [style.color]="getColor1(opp.outreachEffort.IP.outreachStatusTitle,opp.outreachEffort.IP.lastContact)" *ngIf="opp.outreachEffort.IP.outreachProgram!=null">{{opp.outreachEffort.IP.outreachProgram}}:</b>
                            </span>
                            <span *ngIf="opp.outreachEffort.IP.isScheduledClinics" style="color:#3ba401;">
                                <b>{{opp.outreachEffort.IP.outreachProgram}}:</b>
                            </span>
                            <strong *ngIf="opp.outreachEffort.IP.outreachProgram!=null">
                                <span *ngIf="opp.outreachEffort.IP.isScheduledClinics" style="color:#3ba401;">
                                    Scheduled Clinic
                                </span>
                                <span *ngIf="!opp.outreachEffort.IP.isScheduledClinics">
                                    <b [style.color]="getColor1(opp.outreachEffort.IP.outreachStatusTitle,opp.outreachEffort.IP.lastContact)">
                                        {{opp.outreachEffort.IP.outreachStatusTitle}}</b>
                                </span>

                            </strong>
                            <span *ngIf="opp.outreachEffort.IP.outreachProgram!=null && opp.outreachEffort.SR.outreachProgram!=null">|</span>
                            <span>
                                <b [style.color]="getColor1(opp.outreachEffort.SR.outreachStatusTitle,opp.outreachEffort.SR.lastContact)" *ngIf="(opp.outreachEffort.SR.outreachProgram!=null && opp.outreachEffort.SR.outreachStatus!=3)">
                                    {{opp.outreachEffort.SR.outreachProgram}}:</b>
                            </span>
                            <span *ngIf="(opp.outreachEffort.SR.outreachProgram!=null && opp.outreachEffort.SR.outreachStatus==3)">
                                <b style="color:#3ba401;">
                                    {{opp.outreachEffort.SR.outreachProgram}}:</b>
                            </span>
                            <strong *ngIf="opp.outreachEffort.SR.outreachProgram!=null">
                                <span *ngIf="opp.outreachEffort.SR.outreachStatus==3" style="color:#3ba401;">
                                    Event Scheduled</span>
                                <span [style.color]="getColor1(opp.outreachEffort.SR.outreachStatusTitle,opp.outreachEffort.SR.lastContact)" *ngIf="opp.outreachEffort.SR.outreachStatus!=3">
                                    {{opp.outreachEffort.SR.outreachStatusTitle}}</span>
                            </strong>
                        </p>

                    </div>
                    <div class="ml-auto p-2" (click)="showDialog(opp)">
                        <span class="float-right">
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                </div>

            </li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 mt-35">
        <div class="toggle toggle-transparent-body toggle-accordion">
            <p-accordion (onOpen)="getNationalContractClients()">
                <p-accordionTab header="IP National Contracts Do Not Call" class="bg-success pointerFa" [style]="{'padding': '2px;color:#fff !important'}">
                    <span class="small">National Accounts should
                        <u>NOT</u> be reached out to unless you have an assigned clinic to perform for that business.</span>
                    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                        <span style="float: left;">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        </span>
                        <input #gb type="text" pInputText size="25" placeholder="" class="ipNationalCntSearch">
                        <span style="float: right;">
                            <i class="fa fa-trash" style="margin:4px 4px 0 0" (click)="deleteDNC()"></i>
                        </span>
                    </div>

                    <p-dataTable [value]="dnc_clients" [(selection)]="selectedDataList" [rows]="25" [paginator]="true" [globalFilter]="gb" [responsive]="true"
                        id="ipNatConDNC">
                        <p-column field="pk" header="" [style]="{'width':'35px'}" styleClass="col-button" selectionMode="multiple">
                            <ng-template pTemplate="body" let-selectedData="rowData">
                            </ng-template>
                        </p-column>
                        <p-column field="clientName" header="Client Name" [sortable]="true" [style]="{'font-family':'Arial', 'font-size':'13px'}"></p-column>
                    </p-dataTable>
                </p-accordionTab>
            </p-accordion>


            <ul class="list-group mt-10">
                <li class="list-group-item bg-blue text-white">Upcoming Events</li>
                <li *ngFor="let opp of upcoming_events; let i = index" (click)="showEvents(opp)" style="cursor: pointer;" class="list-group-item">

                    <div class="d-flex flex-row align-items-center">

                        <div class="p-2">
                            <h5 class="h5"> {{opp.businessName}}</h5>
                            <div>
                                <p style="margin-bottom:0px;margin-top:0px;" class="sp">
                                    Type:
                                    <span *ngIf="opp.outreachStatusTitle.replace(',','')=='Event Scheduled'">(SR)</span>
                                    <span *ngIf="opp.outreachStatusTitle.replace(',','')!='Event Scheduled'">(IP)</span>
                                    {{opp.clinicType}} | Date: {{opp.eventDate | date:'MM/dd/yyyy'}}


                                </p>
                                <p style="margin-bottom:0px;margin-top:0px;" class="sp">
                                    <b>
                                        Status:
                                        <span>{{opp.outreachStatusTitle.replace(',','')}}</span>
                                    </b>
                                </p>
                                <div class="progress">
                                    <div [ngClass]="getColor2(opp.outreachStatusTitle,opp.eventDate)" *ngIf="opp.outreachStatusTitle.replace(',','')=='Contact Client'"
                                        role="progressbar" style="width: 33.3%;" aria-valuenow=" 33.3" aria-valuemin="0" aria-valuemax="100"></div>

                                    <div *ngIf="opp.outreachStatusTitle.replace(',','')=='Confirmed'" class="progress-bar bg-success" role="progressbar" style="width: 66.6%;"
                                        aria-valuenow="66.6" aria-valuemin="0" aria-valuemax="100"></div>

                                    <div *ngIf="opp.outreachStatusTitle.replace(',','')=='Completed'" class="progress-bar bg-success" role="progressbar" style="width: 100%;"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div *ngIf="opp.outreachStatusTitle.replace(',','')=='Event Scheduled'" class="progress-bar bg-success" role="progressbar"
                                        style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>

                        <div class="ml-auto p-2">
                            <span class="float-right">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </div>
                    </div>




                </li>
            </ul>

            <ul class="list-group mt-10">
                <li class="list-group-item bg-blue text-white">Past Events</li>
                <li *ngFor="let opp of past_events; let i = index" (click)="showEvents(opp)" style="cursor: pointer;" class="list-group-item">

                    <div class="d-flex flex-row align-items-center">

                        <div class="p-2" style="width:100%">
                            <h5 class="h5" style="width:298px"> {{opp.businessName}}</h5>
                            <div>
                                <p style="margin-bottom:0px;margin-top:0px;" class="sp">
                                    Type:
                                    <span *ngIf="opp.outreachStatusTitle.replace(',','')=='Event Scheduled'">(SR)</span>
                                    <span *ngIf="opp.outreachStatusTitle.replace(',','')!='Event Scheduled'">(IP)</span>
                                    {{opp.clinicType}} | Date: {{opp.eventDate | date:'MM/dd/yyyy'}}
                                </p>
                                <p style="margin-bottom:0px;margin-top:0px;" class="sp">
                                    <b>
                                        Status:
                                        <span>{{opp.outreachStatusTitle.replace(',','')}}</span>
                                    </b>
                                </p>
                                <div class="progress">
                                    <div [ngClass]="getColor2(opp.outreachStatusTitle,opp.eventDate)" *ngIf="opp.outreachStatusTitle.replace(',','')=='Contact Client'"
                                        role="progressbar" style="width: 33.3%;" aria-valuenow="33.3" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div *ngIf="opp.outreachStatusTitle.replace(',','')=='Confirmed'" class="progress-bar bg-success" role="progressbar" style="width: 66.6%;"
                                        aria-valuenow="66.6" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div *ngIf="opp.outreachStatusTitle.replace(',','')=='Completed'" class="progress-bar bg-success" role="progressbar" style="width: 100%;"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div *ngIf="opp.outreachStatusTitle.replace(',','')=='Event Scheduled'" class="progress-bar bg-success" role="progressbar"
                                        style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ml-auto p-2">
                            <span class="float-right">
                                <i class="fa fa-chevron-right"></i>
                            </span>

                        </div>
                    </div>


                </li>
            </ul>

        </div>
    </div>
</div>
<p-dialog class="blueBgDark" header="Choose an action" [(visible)]="display" modal="modal" [responsive]="true">
    <ul class="list-group p-0">
        <li class="blueBg">
            <a class="text-white-gray p-10" (click)="showDialogOptConLog()">Log Contact</a>
        </li>
        <li class="blueBg">
            <a class="text-white-gray p-10" (click)="ContactLogInfo(1)">View History</a>
        </li>
        <li class="blueBg">
            <a class="text-white-gray p-10" (click)="EditBusiness()">Opportunity Profile</a>
        </li>
        <li class="blueBg" *ngIf="contract_initiated">
            <a class="text-white-gray p-10" (click)="redirectToPage(3)">View Initiated Contract</a>
        </li>
        <li class="blueBg" *ngIf="community_outreach">
            <a class="text-white-gray p-10" (click)="redirectToPage(12)">View Community Outreach</a>
        </li>
        <li class="blueBg" *ngIf="contract_followup">
            <a class="text-white-gray p-10" (click)="followUpReminders()">Follow-Up Reminders</a>
        </li>
    </ul>
</p-dialog>

<p-dialog class="blueBgDark" header="Choose an action" [(visible)]="displaySE" modal="modal" modal="true" [responsive]="true"
    [contentStyle]="{'max-width':'640px'}">
    <ul class="list-group p-0">
        <li class="blueBg">
            <a class="text-white-gray p-10" (click)="EventDetails()">Event Details</a>
        </li>
        <li class="blueBg">
            <a class="text-white-gray p-10" (click)="ContactLogInfo(2)">View History</a>
        </li>
    </ul>
</p-dialog>
<p-dialog class="blueBgDark" header="Contract Initiated" [(visible)]="dispContractInitiated" modal="modal" [responsive]="true"
    [width]="400">
    <p>An Immunization Event has already been initiated or scheduled for this outreach opportunity. Click the outreach opportunity to view initiated contracts or view the opportunity’s events in the Upcoming or Past Events.</p>
    <button class="float-right" type="button" pButton icon="fa-check" (click)="dispContractInitiated=false" label="OK"></button>
</p-dialog>
<p-dialog header="Info" [(visible)]="displayInfoDlg" modal="modal" [responsive]="true">
    <div>
        <p>
            <strong>IP</strong> - Immunization Program
            <br/>
            <strong>SR</strong> - Senior Outreach
            <br/>
            <strong class="greenText">Green Status</strong> - Contract in progress
            <br/>
            <strong class="yellowText">Yellow Status</strong> - No contact within 7-13 days
            <br/>
            <strong class="redText">Red Status</strong> - No contact for 14+ days
            <br/>
            <img alt="High Priority" class="ui-li-icon ui-corner-none" src="assets/images/wags_icons/high_priority.png"> - Previous Client
            <br/>
            <img alt="Military Outreach" class="ui-li-icon ui-corner-none" src="assets/images/wags_icons/military_outreach.png"> - Military Outreach
            <br/>
            <span>*Business added by a Walgreens user</span>
        </p>
    </div>
</p-dialog>
<form [formGroup]="logcontact" novalidate>
    <p-dialog class="blueBgDark" id="opportunityContactLog" header="Opportunity Contact Log" [(visible)]="dialogOptConLog" modal="true"
        [responsive]="true" [contentStyle]="{'max-width':'800px'}" class="validate">
        <div class="row" [ngClass]="displayFieldCss('select_outreach')">
            <div class="col-md-12 col-sm-12">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <p> Outreach Opportunity:
                            <span>
                                <b>{{business_name}}</b>
                            </span>
                        </p>
                    </div>
                </div>
                <label>Outreach Program:</label>
                <select *ngIf="outreach_status_value==''" name="contact[position]" (change)="onChange($event.target.value)" formControlName="select_outreach"
                    class="form-control pointer required" required>
                    <option value="">--Select Outreach Type--</option>
                    <option *ngFor="let outreach_type of outreach_type_data" value={{outreach_type.category}}>
                        {{outreach_type.outreachStatus}}
                    </option>
                </select>
                <span class="float-left" *ngIf="outreach_status_value!=''">
                    <b>{{outreach_status_value}}</b>
                </span>
            </div>
            <div class="col-md-12 col-sm-12" *ngIf="display_message">
                <div class="border border-info">
                    <div class="text-info p-10">
                        An Immunization Event has already been initiated or scheduled for this outreach opportunity. Click the outreach opportunity to view initiated contracts or view the opportunity’s events in the Upcoming or Past Events.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6" [ngClass]="displayFieldCss('firstName')">
                <label>Contact First Name:</label>
                <input type="text" name="contact[first_name]" formControlName="firstName" value="" class="form-control required">
            </div>

            <div class="col-md-6 col-sm-6" [ngClass]="displayFieldCss('lastName')">
                <label>Contact Last Name:</label>
                <input type="text" name="contact[last_name]" formControlName="lastName" value="" class="form-control required">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <label>Contact Date:</label>
                <p-calendar class="primeng-control"
                (onSelect)="onContactDateSelected($event)" formControlName="defaultDate" readonlyInput="true" [minDate]="minDateValue" [maxDate]="maxDateValue"></p-calendar>
            </div>
            <div *ngIf="job_title" class="col-md-6 col-sm-6" [ngClass]="displayFieldCss('jobTitle')">
                <label>Job Title:</label>
                <input type="text" name="contact[job_title]" formControlName="jobTitle" value="" class="form-control required">
            </div>
        </div>

        <div class="row" [ngClass]="displayFieldCss('outreachstatus')">
            <div class="col-md-12 col-sm-12">
                <label>Outreach Status:</label>
                <select name="contact[outreachstatus]" class="form-control pointer required" (change)="onOutreachStatusChange($event.target.value)"
                    formControlName="outreachstatus" required>
                    <option value="">--Select Outreach Status--</option>
                    <option *ngFor="let status of outreach_status" [ngValue]="status" value={{status.outreachStatusId}}>
                        {{status.outreachStatus}}
                    </option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12" [ngClass]="displayFieldCss('feedback')">
                <label>Feedback/Notes:</label>
                <textarea name="contact[experience]" formControlName="feedback" rows="4" class="form-control required"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="float-right">
                    <button type="button" class="btn btn-primary" (click)="dialogOptConLog=false">Cancel</button>
                    <button type="button" [disabled]="disableButton()" (click)="onSubmit()" class="btn btn-primary">Submit Entry</button>
                </div>
            </div>
        </div>
    </p-dialog>
</form>


<p-dialog class="blueBgDark" header="Choose an action" [(visible)]="displayDNC" modal="modal" modal="true" [responsive]="true"
    [contentStyle]="{'max-width':'640px'}">
    <p>Are you sure you want to delete?</p>
    <p-footer>
        <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="cancelConfirmation()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="deleteConfirmationDNC()">Yes</button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog class="blueBgDark" header="Choose an action" [(visible)]="state_specific_display" modal="modal" modal="true" [responsive]="true"
    [contentStyle]="{'max-width':'640px'}">
    <p>{{dialogMsg}}</p>
    <p-footer>
        <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="okClicked()">Ok</button>
        </div>
    </p-footer>
</p-dialog>

<hintscomponent [dispHintDialog]="showHints"  [title]="pageName" ></hintscomponent>