<!-- <p-confirmDialog header="Confirmation"  [closable]="false" [closeOnEscape]="false"  [responsive]="true"  width="600"  #cd>
    <p-footer class="float-right">
        <button type="button" pButton icon="fa-check" label="Continue" (click)="cd.accept()"></button>
        <button type="button" pButton icon="fa-close" label="Cancel" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog> -->
<p-dialog header="{{dialogSummary}}" [(visible)]="locConfirm250ModalDlg" [closable]="false" [closeOnEscape]="false" modal="modal"
    width="600" [responsive]="true">
    <p [innerHTML]="dialogMsg"></p>
    <p-footer>
        <button type="button" class="pull-right" pButton icon="fa-close" label="Revise Estimate" (click)="rejectGt250Imm()"></button>
        <button type="button" class="pull-right" pButton icon="fa-check" label="Continue" (click)="acceptGt250Imm()"></button>
    </p-footer>
</p-dialog>
<p-dialog header="{{dialogSummary}}" [(visible)]="locConfirm25ModalDlg" [closable]="false" [closeOnEscape]="false" modal="modal"
    width="600" [responsive]="true">
    <p [innerHTML]="dialogMsg"></p>
    <p-footer>
        <button class="pull-right" type="button" pButton icon="fa-close" label="Revise Estimate" (click)="rejectLt25Imm()"></button>
        <button class="pull-right" type="button" pButton icon="fa-check" label="Continue" (click)="acceptLt25Imm()"></button>
    </p-footer>
</p-dialog>
<p-dialog header="{{dialogSummary}}" [(visible)]="coLocConfirm250ModalDlg" [closable]="false" [closeOnEscape]="false" modal="modal"
    width="600" [responsive]="true">
    <p [innerHTML]="dialogMsg"></p>
    <p-footer>
        <button class="pull-right" type="button" pButton icon="fa-close" label="Cancel" (click)="coRejectGt250Imm()"></button>
        <button class="pull-right" type="button" pButton icon="fa-check" label="Continue" (click)="coAcceptGt250Imm()"></button>
    </p-footer>
</p-dialog>

<p-dialog header="{{dialogSummary}}" [(visible)]="locListModalDlg" [closable]="false" [closeOnEscape]="false" modal="modal"
    width="600" [responsive]="true">
    <p [innerHTML]="dialogMsg"></p>
    <p-footer> 
        <button type="button" class="pull-right" pButton (click)="okClickedV2()" label="Ok"></button>
    </p-footer>
</p-dialog>
<form [formGroup]="contractForm" novalidate (ngSubmit)="save()" class="mb-0">
    <div class="text-right mb-5">
            <select *ngIf="is_previous_locations" name="immunizations" class="form-control pointer required" (change)="PreviousLocationChange($event.target.value)">
                    <option value="">Select Location</option>  
                    <option *ngFor="let locations of previous_location_data" 
                     value={{locations.rowId}}>{{locations.clinicAddress}}</option>
                </select>
        <button (click)="addLocation(undefined)" [disabled]="disableButton()" type="button" class="btn btn-primary">Add Location
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
    <div formArrayName="locations" class="mb-0">
        <div  *ngFor="let address of contractForm.controls.locations['controls']; let i=index" [formGroupName]="i" class="card card-default mb-0 mt-10">
            <div class="card-heading card-heading-transparent">
                <span>Location {{i + 1 | locationNumber: i }}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="i > 0" (click)="removeLocation(i)"></span>
            </div>
            <div class="card-block mb-0">
                <app-locations [locFormArray]="contractForm.controls.locations" [group]="contractForm.controls.locations.controls[i]" [locationNumber]="i"
                    [outReachProgramType]="outReachProgramType"></app-locations>
            </div>

        </div>
        <div class="text-right mt-5 mb-5"  *ngIf="contractForm.controls.locations['controls'].length > 1">
            <button (click)="addLocation(undefined)"  type="button"  class="btn btn-primary">Add Location
                <i class="fa fa-plus"  aria-hidden="true"></i>
                    </button>
    </div>
    </div>
</form>