<div id="header"  class="navbar-toggleable-md static header-md clearfix">
        <!-- TOP NAV -->
        <header id="topNav">
           <div class="container">
              <!-- Mobile Menu Button -->
              <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
              <i class="fa fa-bars"></i>
              </button>
              <!-- BUTTONS -->
              <ul class="float-right nav nav-pills nav-second-main" >
              </ul>
              <!-- /BUTTONS -->
              <!-- Logo -->
              <a class="logo hidden-sm-down float-left pt-10">
              <img src="assets/images/walgreens_1901_logo.png" />
              </a>
              <a class="logo hidden-md-up float-left">
              <img src="assets/images/_smarty/Walgreens_mobile_logo.png" style="width:32px; height: 35px;" />
              </a>
              <div class="navbar-collapse collapse float-right nav-main-collapse">
                 <nav class="nav-main">
                    <ul id="topMain" class="nav nav-pills nav-main">           
                    </ul>
                 </nav>
              </div>
           </div>
        </header>
        </div>
        <section class="page-header page-header-xs dark pt-10 pb-10">
           <div class="container">
              <h1 class="small">CONTRACTING CLIENT INFORAMTION</h1>
           </div>
        </section>
        <div class="container">
           <div class="row mt-50">
              <div class="col-md-9" id="approveContract">
                 <div class="card card-default">
                    <div class="card-block">
                       <div class="text-center col-md-4 col-12 mx-auto" id="walgreenLogo">
                          <div class="m-5">
                             <img style="width:228px;height:51px" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/65/Walgreens_Logo.svg/1280px-Walgreens_Logo.svg.png" class="img-fluid"
                                />
                          </div>
                       </div>
                       <div class="text-center col-md-4 col-12 mx-auto">
                          <h5>{{pageTitle}}</h5>
                       </div>
                       <div class="clearfix">&nbsp;</div>
                       <div *ngIf="splanguageSelection">
                          <p class="black-font"><span [innerHTML]="spanishLanguage"></span></p>
                          <p class="black-font"><span [innerHTML]="headerText"></span></p>
                          <p class="black-font"><span [innerHTML]="attachment"></span></p>
                       </div>
                       <div *ngIf="enlanguageSelection">
                          <p class="black-font"><span [innerHTML]="englishLanguage"></span></p>
                          <p class="black-font"><span [innerHTML]="enheader"></span></p>
                          <p class="black-font"><span [innerHTML]="enattachment"></span></p>
                       </div>
                       <h4>{{table1}}</h4>
                       <div class="card card-default">
                          <div class="card-block">
                             <div class="row mt-5" *ngFor="let ca of userRecords; let i = index">
                                <div class="col-sm-4">
                                   <span class="font-weight-bold" *ngIf="i==0">{{imz}}</span>
                                   <label class="font-weight-normal">{{ca.immunizationName}}</label>
                                </div>
                                <div class="col-sm-4">
                                   <span class="font-weight-bold" *ngIf="i==0">{{payment}}</span>
                                   <label class="font-weight-normal">{{ca.paymentTypeName}}</label>
                                   <span *ngIf="ca.sendInvoiceTo == '1'" class="font-weight-bold">{{sendInvoiceTo}}
                                   <label class="font-weight-normal">{{ca.name}}</label>
                                   <label class="font-weight-normal">{{ca.address1}} {{ca.address2}}</label>
                                   <label class="font-weight-normal">{{ca.city}}, {{ca.state}} {{ca.zip}} </label>
                                   <span><br/><br/></span>
                                   <label class="font-weight-normal">{{getPhoneNoInUSFormat(ca.phone)}}</label>
                                   <label class="font-weight-normal">{{ca.email}}</label>
                                   </span>
                                   <span *ngIf="ca.sendInvoiceTo == '1'" class="font-weight-bold">{{isTaxExempt}}
                                   <label class="font-weight-normal">{{( ca.isTaxExempt=='1' || ca.isTaxExempt==1 )?'Yes':'No'}}</label>
                                   {{isCopay}}
                                   <label class="font-weight-normal">{{( ca.isCopay=='1' || ca.isCopay==1)?'Yes':'No'}}</label>
                                   </span>
                                   <span *ngIf="(ca.sendInvoiceTo == '1' || ca.sendInvoiceTo == 1) &&( ca.isCopay=='1' || ca.isCopay==1)" class="font-weight-bold">{{copayValue}}
                                   <label class="font-weight-normal">{{ca.copayValue | currency}}</label>
                                   </span>
                                   <span *ngIf="(ca.sendInvoiceTo == '1' || ca.sendInvoiceTo == 1)" class="font-weight-bold">{{voucherNeeded}}
                                   <label class="font-weight-normal">{{(ca.isVoucherNeeded=='1' || ca.isVoucherNeeded==1 )?'Yes':'No'}}</label>
                                   </span>
                                   <span *ngIf="(ca.sendInvoiceTo == '1' || ca.sendInvoiceTo == 1) && ( ca.isVoucherNeeded=='1' || ca.isVoucherNeeded==1 )" class="font-weight-bold">{{voucherExpiry}}
                                   <label class="font-weight-normal">{{ca.voucherExpirationDate | date:'MM/dd/yyyy'}}</label>
                                   </span>
                                </div>
                                <div class="col-sm-4" *ngIf="ca.price > 0">
                                   <span class="font-weight-bold" *ngIf="i==0">{{rates}}</span>
                                   <label>{{ca.price | currency}}</label>
                                </div>
                                <div class="col-sm-4" *ngIf="ca.price < 0">
                                   <span class="font-weight-bold" *ngIf="i==0">{{rates}}</span>
                                   <label>N/A</label>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="row mt-35">
                          <div class="col-md-12" *ngFor="let clinic of clinicInformation; let i=index">
                             <h4>{{clinicLocation}} {{i + 1 | locationNumber: i }}</h4>
                             <div class="card card-default">
                                <div class="card-block">
                                   <div class="table-responsive">
                                      <table class="table table-sm no-border-tbl">
                                         <tbody>
                                            <tr>
                                               <td>
                                                  <b>{{location}} </b>
                                               </td>
                                               <td>
                                                  <span>{{clinic.address1}} {{clinic.address1}}</span>
                                                  <br/>
                                                  <span>{{clinic.city}}, {{clinic.state}} {{clinic.zipCode}}</span>
                                               </td>
                                               <td *ngIf="!checkIfAnyImmunizationsHasCorpInvoiceAndVoucherNeeded(clinic)">
                                                  <b>{{date}}</b>
                                                  <br/>
                                                  <b>{{time}} </b>
                                               </td>
                                               <td *ngIf="!checkIfAnyImmunizationsHasCorpInvoiceAndVoucherNeeded(clinic)">
                                                  <span>{{clinic.clinicDate | date: 'MM/dd/yyyy'}}</span>
                                                  <br/>
                                                  <span>{{clinic.startTime}} - {{clinic.endTime}}</span>
                                               </td>
                                               <td *ngIf="checkIfAnyImmunizationsHasCorpInvoiceAndVoucherNeeded(clinic)">
                                                  <b *ngIf="checkIfFluImmForCorpInvoiceSelected()">{{fluExpiryDateTxt}}</b>
                                                  <br/>
                                                  <b *ngIf="checkIfNonFluImmForCorpInvoiceSelected()">{{routineExpiryDateTxt}}</b>
                                               </td>
                                               <td *ngIf="checkIfAnyImmunizationsHasCorpInvoiceAndVoucherNeeded(clinic)">
                                                  <span *ngIf="checkIfFluImmForCorpInvoiceSelected()">{{getVoucherExpiryDate()}}</span>
                                                  <br/>
                                                  <span *ngIf="checkIfNonFluImmForCorpInvoiceSelected()">{{getRoutineExpiryDate()}}</span>
                                               </td>
                                               <td>
                                                  <b>{{contact}}</b>
                                                  <br/>
                                                  <b>{{phone}}</b>
                                                  <br/>
                                                  <b>{{email}}</b>
                                               </td>
                                               <td>
                                                  <span>{{clinic.contactFirstName}} {{clinic.contactLastName}}</span>
                                                  <br/>
                                                  <span>{{getPhoneNoInUSFormat(clinic.contactPhone)}}</span>
                                                  <br/>
                                                  <span>{{clinic.contactEmail}}</span>
                                               </td>
                                            </tr>
                                         </tbody>
                                      </table>
                                   </div>
                                   <div class="table-responsive">
                                      <table class="table table-sm">
                                         <thead class="thead-dark">
                                            <tr>
                                               <th>{{imz}}</th>
                                               <th>{{payment}}</th>
                                               <th>{{estShots}}</th>
                                            </tr>
                                         </thead>
                                         <tbody>
                                            <tr *ngFor="let imz of clinic.clinicImzQtyList">
                                               <td>{{imz.immunizationName}}</td>
                                               <td>{{imz.paymentTypeName}}</td>
                                               <td>{{imz.estimatedQuantity}}</td>
                                            </tr>
                                         </tbody>
                                      </table>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <span class="printPgBrk"></span>
                       <span class="printMrgnOrpdng"><br/><br/></span>
                       <div class="row mt-5">
                          <div class="col-md-12">
                             <p>
                                <b>{{inWitnessWhereOff}}</b> {{inWitnessWhereOff2ndLine}}
                             </p>
                          </div>
                          <div class="col-sm-4">
                             <div class="table-responsive">
                                <table class="table table-sm no-border-tbl">
                                   <tbody>
                                      <tr>
                                         <td>
                                            <b>{{businessName}}</b>
                                         </td>
                                         <td>{{client_info.clientname}}</td>
                                      </tr>
                                      <tr>
                                         <td>
                                            <b>{{name}}</b>
                                         </td>
                                         <td>{{client_info.headername}}</td>
                                      </tr>
                                      <tr>
                                         <td>
                                            <b>{{title}}</b>
                                         </td>
                                         <td>{{client_info.titlename}}</td>
                                      </tr>
                                      <tr>
                                         <td>
                                            <b>{{date}}</b>
                                         </td>
                                         <td>{{today | date: 'MM/dd/yyyy'}}</td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                             <div class="mt-43">
                                <br/><br/>
                                <span>
                                <u>{{sendLegalNoticeToClient}}</u>
                                </span>
                                <span><br/>{{attn}}: {{client_info.attentionto}}</span>
                                <br/><span>{{client_info.address1}} 
                                <br/>{{client_info.address2}}
                                <br/>{{client_info.cityname}}, {{client_info.statename}} {{client_info.zipcode}}</span>
                                <br/>   
                             </div>
                          </div>
                          <div class="col-sm-5 offset-md-2 offset-2">
                             <div class="table-responsive">
                                <table class="table table-sm no-border-tbl">
                                   <tbody>
                                      <tr>
                                         <td>
                                            <b>WALGREEN CO.</b>
                                         </td>
                                         <td></td>
                                      </tr>
                                      <tr>
                                         <td>
                                            <b>{{name}}</b>
                                         </td>
                                         <td>{{walGreensInfo.name}}</td>
                                      </tr>
                                      <tr>
                                         <td>
                                            <b>{{title}}</b>
                                         </td>
                                         <td>{{walGreensInfo.title}}</td>
                                      </tr>
                                      <tr>
                                         <td>
                                            <b>{{date}}</b>
                                         </td>
                                         <td>{{walGreensInfo.preparedDate | date: 'MM/dd/yyyy'}}</td>
                                      </tr>
                                      <tr>
                                         <td>
                                            <b>{{district}}</b>
                                         </td>
                                         <td>{{walGreensInfo.districtNumber}}</td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                             <div class="mt-12">
                                <span>
                                <u>{{sendLegalNoticeToWalgreens}}</u>
                                </span><br/>
                                <span>Attn: Health Law - Divisional Vice President</span>
                                <br/><span>Healthcare Innovations Group
                                <br/>200 Wilmot Rd,MS2222
                                <br/>Deerfield, IL 60015</span>
                                <br/>
                                <span>cc: clinicalcontracts@walgreens.com</span>
                                <br/>
                             </div>
                          </div>
                       </div>
                       <div class="row mt-20" id="TandCText">
                          <div class="col-md-12 text-center">
                             <h4>
                                {{wallGreensCommOffsiteTitle1}}
                                <br/>{{wallGreensCommOffsiteTitle2}}
                             </h4>
                          </div>
                          <div class="col-sm-6">
                             <p class="text-justify fontSz10">
                                <b>I.{{wallGreensResponsibilities}} </b>
                                <br/>
                                <br/> 1.1
                                <u>{{wallGreensResponsibilitiesPara1Heading}}</u> {{wallGreensResponsibilitiesCvrdServices}}
                                <br/>
                                <br/> 1.2
                                <u>{{profJudgementHeading}}</u> {{profJudgementText}}
                                <br/>
                                <br/> 1.3
                                <u>{{provHealthCrProfHdng}}</u>{{provHealthCrProfText}}
                                <br/>
                                <br/>
                                <b>II. {{clientsResponsibilites}}</b>
                                <br/>
                                <br/> 2.1
                                <u>{{vouchersHeading}}</u>{{vouchersText}}
                                <br/>
                                <span class="printPgBrk"></span>
                                <span class="printMrgnOrpdng"><br/><br/></span>
                                <br/> 2.2
                                <u>{{offSiteLocation}}</u>
                                <b>**{{important}}**</b> {{offSiteLocationText1}}
                                <b>{{siteMin}}</b><span [innerHTML]="siteMinText"></span>
                                <b>{{siteAvg}}</b>{{siteAvgText}}
                                <br/>
                                <br/>
                                <b>III. {{pmtAndBIlling}}</b>
                                <br/>
                                <br/> 3.1
                                <u>{{payment}}</u>{{paymentText}}
                                <br/>
                                <br/> 3.2
                                <u>{{latePayment}}</u>{{latePaymentText}}
                             </p>
                          </div>
                          <div class="col-sm-6">
                             <p class="text-justify fontSz10">
                                <b> IV. {{termAndTermCaps}} </b>
                                <br/>
                                <br/> 4.1
                                <u>{{termAndTerm}}</u>{{termAndTermText}}
                                <br/>
                                <br/> 4.2
                                <u>{{effectAndTerminiation}}</u>{{effectAndTerminiationText}}
                                <br/>
                                <br/> 4.3
                                <u>{{waiver}}</u>{{waiverText}}
                                <br/>
                                <br/>
                                <b>V. {{insurAndIndemnify}}</b>
                                <br/>
                                <br/> 5.1
                                <u>{{insurance}}</u>{{insuranceText}}
                                <br/>
                                <br/> 5.2
                                <u>{{indemnification}}</u>{{indemnificationText}}
                                <br/>
                                <br/>
                                <span class="printPgBrk"></span>
                                <span class="printMrgnOrpdng"><br/><br/></span>
                                <b>VI.{{generalTerms}}</b>
                                <br/>
                                <br/> 6.1
                                <u>{{confidentiality}}</u>{{confidentialityP1}}
                                <b>{{phi}}</b> or
                                <b>{{phiAb}}</b>{{confidentialityP2}}
                                <br/>
                                <br/> 6.2
                                <u>{{Advertising}}</u>{{AdvertisingText}}
                                <br/>
                                <br/> 6.3
                                <u>{{frcMaj}}</u>{{frcMajText}}
                                <br/>
                                <br/> 6.4
                                <u>{{compliance}}</u>{{complianceText}}
                                <br/>
                                <br/> 6.5
                                <u>{{assignment}}</u>{{assignmentText}}
                                <br/>
                                <br/> 6.6
                                <u>{{notices}}</u>{{noticesText}}
                                <br/>
                                <br/> 6.7
                                <u>{{entireAgr}}</u>{{entireAgrText}}
                             </p>
                          </div>
                          <div class="col-sm-6"><span>V/W Agreement 05082018</span></div>
                          <div class="col-sm-6">
                             <span class="float-right">© {{today|date:'yyyy'}} Walgreen Co. {{rights}}</span>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-3  col-sm-3 col-12" *ngIf="!from_email">
                 <div class="p-15 bg-light">
                    <!-- <h3 class="mb-4" >{{approveAgrmnt}}</h3> -->
                    <div>
                       {{emailAgrmntTo}}
                       <input type="text" name="signature" [readonly]="true" value="" class="form-control required">
                    </div>
                    <div class="row mt-20 mb-10">
                       <div class="col-md-10 mx-auto">
                          <button type="button" class="btn btn-primary btn-block" (click)="cancelView()">{{cancel}}</button>
                       </div>
                    </div>
                    <!-- <div class="row mt-20">
                       <div class="col-md-10 mx-auto">
                       <button *ngIf="showBtnSp" (click)="languageChangeToSpanish()" class="btn btn-outline-secondary  btn-sm">TRANSLATE TO SPANISH</button>
                       <button *ngIf="showBtnEn" (click)="languageChangeToEnglish()" class="btn btn-outline-secondary  btn-sm">TRANSLATE TO ENGLISH</button>
                       </div>
                       </div> -->
                    <div class="row mt-20">
                       <div class="col-md-10 mx-auto">
                          <button type="button" class="btn btn-outline-secondary  btn-sm  btn-block" (click)="printAgreement()">{{printAgreementTxt}}</button>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-3  col-sm-3 col-12" *ngIf="from_email">
                 <div class="p-15 bg-light">
                    <!-- <h3 class="mb-4" >{{approveAgrmnt}}</h3> -->
                    <span class="text-left text-danger">The Walgreens Community Off-Site Agreement has been submitted by</span>
                    <span class="elipsisText text-left text-danger mb-50">{{business_user_email}}</span>
                    <div class="clearfix mb-20"></div>
                    <label class="radio">
                    <input type="radio" disabled name="approve" (click)="setradio('Approve')">
                    <i></i> {{approve}}
                    </label>
                    <div class="mb-10">
                       {{electrSign}}
                       <input type="text" name="signature" disabled value="" class="form-control required">
                    </div>
                    <label class="radio">
                    <input type="radio" id="reject" disabled name="approve" (click)="setradio('Reject')">
                    <i></i> {{reject}}
                    </label>
                    <div>
                       <div *ngIf="isSelected('Reject')">{{notes}}
                          <textarea class="form-control" [readonly]="true" style="height:135px;" rows="5"></textarea>
                       </div>
                    </div>
                    <div class="row mt-20 mb-10">
                       <div class="col-md-10 mx-auto">
                          <button type="button" class="btn btn-primary btn-block" (click)="cancelView()">{{cancel}}</button>
                       </div>
                    </div>
                    <div class="row mt-20" style="display: none;">
                       <div class="col-md-10 mx-auto">
                          <!-- <button *ngIf="showBtnSp" (click)="languageChangeToSpanish()" class="btn btn-outline-secondary  btn-sm">TRANSLATE TO SPANISH</button> -->
                          <button *ngIf="showBtnEn" (click)="languageChangeToEnglish()" class="btn btn-outline-secondary  btn-sm">TRANSLATE TO ENGLISH</button>
                       </div>
                    </div>
                    <div class="row mt-20">
                       <div class="col-md-10 mx-auto">
                          <button type="button" class="btn btn-outline-secondary  btn-sm  btn-block" (click)="printAgreement()">{{printAgreementTxt}}</button>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>