<div class="row">
    <div class="col-md-6">
        <div class="card card-default bg-light mb-10">
            <div class="card-block">


               <h3 class="mb-4">Approved Material Only</h3>
                    <p class="text-left text-primary">Only corporate-approved powerpoint presentaions and material may be used and distributed during community outreach
                       activites. You may not use material you create or modify unless you first receive approval from MaryAnn Desecki
                       by emailing the materials to MedicarePart-D@Walgreens.com
                       <br/>
                       <br/> Any addtional questions, please email MedicarePart-D@Walgreens.com
                    </p>
            
                  </div></div>

        <ul class="list-group mb-10">
            <li class="list-group-item bg-resource text-white">Community Outreach Materials
            </li>
            <li class="list-group-item">
               Senior Outreach- Talking points
               <span class="float-right">
               <button (click)="showDownloadDialog('')" type="button" class="btn btn-primary btn-sm btn-lst">
               <i class="fa fa fa-download"></i>
               </button>
               </span>
            </li>
            <li class="list-group-item">
               Senior Outreach Letter<span class="float-right">
               <button (click)="showDownloadDialog('')" type="button" class="btn btn-primary btn-sm btn-lst">
               <i class="fa fa fa-download"></i>
               </button>
               </span>
            </li>
            <li class="list-group-item">
               AARP State office Contact List<span class="float-right">
               <button (click)="showDownloadDialog('')" type="button" class="btn btn-primary btn-sm btn-lst">
               <i class="fa fa fa-download"></i>
               </button>
               </span>
            </li>
         </ul>
         <ul class="list-group mb-10">
            <li class="list-group-item bg-resource text-white">Med-B Materials
            </li>
            <li   class="list-group-item">
               Med-B Patient FAQ<span class="float-right">
               <button (click)="showDownloadDialog('')" type="button" class="btn btn-primary btn-sm btn-lst">
               <i class="fa fa fa-download"></i>
               </button>
               </span>
            </li>
            <li   class="list-group-item">Med-B Diabetes Testing Supplies Presentation<span class="float-right">
               <button (click)="showDownloadDialog('')" type="button" class="btn btn-primary btn-sm btn-lst">
               <i class="fa fa fa-download"></i>
               </button>
               </span>
            </li>
            <li   class="list-group-item">Med-B Flyer<span class="float-right">
               <button (click)="showDownloadDialog('')" type="button" class="btn btn-primary btn-sm btn-lst">
               <i class="fa fa fa-download"></i>
               </button>
               </span>
            </li>
            <li   class="list-group-item">
               Med-B Flyer(Spanish)<span class="float-right">
               <button (click)="showDownloadDialog('')" type="button" class="btn btn-primary btn-sm btn-lst">
               <i class="fa fa fa-download"></i>
               </button>
               </span>
            </li>
         </ul>

     </div>
  <div class="col-md-6">
        <ul class="list-group">
                <li class="list-group-item bg-resource text-white">Senior Presentations
                    </li>
                <li class="list-group-item" *ngFor="let walData of walgreensResources;  let i=index">{{walData.resourceName}}
                    <span class="float-right">
                        <button (click)="showDownloadDialog(i)" type="button" class="btn btn-primary btn-sm btn-lst">
                            <i class="fa fa fa-download"></i>
                        </button>
                    </span>
                </li>
              </ul>
  </div>
  
</div>
<p-dialog class="blueBgDark" header="Download" [width]="200" [(visible)]="displayDownload" modal="modal">
<ul class="list-group">
        <li  class="pb-1" *ngFor="let resource of selectedResourcesFiles">
               <a href="{{resource.resourcePath}}" target="_blank"><button type="button" class="btn btn-primary btn-lg btn-block" >{{resource.resourceType}}</button></a>
            </li>
</ul>
</p-dialog>