<div class="container">
        <div class="row">
    <div class="col-sm-6 mb-5" >User Type
          <select id="Id" (change)="onChange($event.target.value)" >  
           <option value="RoleName">All</option>  
           <option *ngFor="let list of ddlist" value= "{{list.RoleName}}">  
           {{list.RoleName}}  
           </option>  
           </select>  
    </div>
    <div class="col-sm-6 mb-5">
    <span class="float-right">
   <p-autoComplete id="autoComplete" [(ngModel)]="autoComplete" [suggestions]="autocomplete" 
   (completeMethod)="autocompleteSearch($event)" field="username" [size]="30"
    placeholder="Search User Data" [minLength]="2"  (onClear)= "GetUserProfileData(autoComplete)"
     (onSelect)="select(autoComplete)">   
   </p-autoComplete>
   <button type="button" *ngIf="autoComplete" class="button" pButton (click)="clearSearch()" icon="fa-times"></button>
  </span>
    </div>
  <div>    
    </div>
</div> 
<div class="table-responsive">

  <p-dataTable #dt [value]="getData" id="tableUsers" class="table table-hover table-sm" [rows]="20"[paginator]="true" [rowsPerPageOptions]="[5,10,20]" [resizableColumns]="true"
   [responsive]="true" [editable]="true">
   <p-header> 
        <div class="content-section implementation">
            <a class="dropdown" routerLink="/add-user"
      routerLinkActive="active">
      Add User
      </a>
        </div>
     </p-header>
  <p-column field="firstname" header="First Name" ></p-column>
  <p-column field="lastname" header="Last name" ></p-column>
  <p-column field="username" header="User name" ></p-column>
  <p-column field="rolename" header="Role name"></p-column>
  <p-column field="regionId" header="Region Id" ></p-column>
  <p-column field="areaId" header="Area Id" ></p-column>
  <p-column field="districtId" header="District Id" ></p-column>
  <p-column field="storeId" header="Store Id"></p-column>
   <p-column styleClass="col-button">
        <ng-template let-user="rowData" pTemplate="body">
            <button type="button" class="button" pButton (click)="EditUser(user)" [routerLink]="['./edit_user', 1234]" icon="fa-edit"></button>
            <button type="button" class="button" pButton (click)="DeleteUser(user)" icon="fa-times"></button>
        </ng-template>
    </p-column>
  </p-dataTable>
  </div>  
  </div>
  <p-dialog header="Edit User" [(visible)]="isEdit">
    <app-edit-user></app-edit-user>
</p-dialog>
    <p-confirmDialog header="Delete User" icon="fa fa-question-circle" width="425"></p-confirmDialog>
