<div class="container">
        <p-dialog header="{{dialogSummary}}" [(visible)]="display" [closable]="false" [closeOnEscape]="false" modal="modal" width="350" [responsive]="true">
                <p [innerHTML]="dialogMsg"></p>
                    <p-footer>
                        <button type="button" class="pull-right" pButton (click)="okClicked()" label="Ok"></button>
                    </p-footer>
            </p-dialog>
    <div class="row">
        <div class="col-md-9" id="approveContract">
                <div class="card card-default">
                        <div class="card-block">
          <div class="text-center col-md-4 offset-md-4" id="walgreenLogo">
                <div class="m-5">
                    <img style="width:228px;height:51px" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/65/Walgreens_Logo.svg/1280px-Walgreens_Logo.svg.png" class="img-fluid"
                    />
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div *ngIf="splanguageSelection">
               <p class="black-font"><span [innerHTML]="spanishLanguage"></span></p>
               <p class="black-font"><span [innerHTML]="headerText"></span></p>
               <p class="black-font"><span [innerHTML]="attachment"></span></p>
            </div>
            <div *ngIf="enlanguageSelection">
               <p class="black-font"><span [innerHTML]="englishLanguage"></span></p>
               <p class="black-font"><span [innerHTML]="enheader"></span></p>
               <p class="black-font"><span [innerHTML]="enattachment"></span></p>
            </div>
            <h4>{{table1}}</h4>
            <div class="card card-default">
                <div class="card-block">
                        <div class="mb-5" *ngFor="let ca of userRecords; let i = index">
            <div class="row">
                <div class="col-sm-4">
                    <span class="font-weight-bold" *ngIf="i==0">{{imz}}</span>
                    <label class="font-weight-normal">{{ca.immunizationName}}</label>
                </div>
                <div class="col-sm-4">
                    <span class="font-weight-bold" *ngIf="i==0">{{payment}}</span>
                    <label class="font-weight-normal">{{ca.paymentTypeName}}</label>
                    <span *ngIf="ca.sendInvoiceTo == '1'" class="font-weight-bold">{{sendInvoiceTo}}
                        <span class="font-weight-normal"><br/>{{ca.name}} <br/></span>
                        <span class="font-weight-normal">{{ca.address1}} {{ca.address2}} <br/></span>
                        <span class="font-weight-normal">{{ca.city}}, {{ca.state}} {{ca.zip}} <br/><br/></span>
                        <span class="font-weight-normal">{{getPhoneNoInUSFormat(ca.phone)}}</span>
                        <label class="font-weight-normal">{{ca.email}}</label>
                    </span>
                    <span *ngIf="ca.sendInvoiceTo == '1'" class="font-weight-bold">{{isTaxExempt}}
                        <label class="font-weight-normal">{{( ca.isTaxExempt=='1' || ca.isTaxExempt==1 )?'Yes':'No'}}</label>
                        {{isCopay}}
                        <label class="font-weight-normal">{{( ca.isCopay=='1' || ca.isCopay==1)?'Yes':'No'}}</label>
                    </span>
                    <span *ngIf="(ca.sendInvoiceTo == '1' || ca.sendInvoiceTo == 1) &&( ca.isCopay=='1' || ca.isCopay==1)" class="font-weight-bold">{{copayValue}}
                            <label class="font-weight-normal">{{ca.copayValue | currency}}</label>
                        </span>
                    <span *ngIf="(ca.sendInvoiceTo == '1' || ca.sendInvoiceTo == 1)" class="font-weight-bold">{{voucherNeeded}}
                        <label class="font-weight-normal">{{(ca.isVoucherNeeded=='1' || ca.isVoucherNeeded==1 )?'Yes':'No'}}</label>
                    </span>
                    <span *ngIf="(ca.sendInvoiceTo == '1' || ca.sendInvoiceTo == 1) && ( ca.isVoucherNeeded=='1' || ca.isVoucherNeeded==1 )" class="font-weight-bold">{{voucherExpiry}}
                        <label class="font-weight-normal">{{ca.voucherExpirationDate | date:'MM/dd/yyyy'}}</label>
                    </span>
                </div>
                <div class="col-sm-4" *ngIf="ca.price > 0">
                    <span class="font-weight-bold" *ngIf="i==0">{{rates}}</span>
                    <label>{{ca.price | currency}}</label>
                </div>
                <div class="col-sm-4" *ngIf="ca.price < 0">
                    <span class="font-weight-bold" *ngIf="i==0">{{rates}}</span>
                    <label>N/A</label>
                </div>
            </div>
        </div>  </div>
          
    </div>

            <div class="row mt-35">
                <div class="col-md-12" *ngFor="let clinic of clinicInformation; let i=index">
                    <h4>{{clinicLocation}} {{i + 1 | locationNumber: i }}</h4>
                    <div class="card card-default">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-sm no-border-tbl">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>{{location}} </b>
                                            </td>
                                            <td>
                                                <span>{{clinic.address1}} {{clinic.address2}}</span>
                                                <br/>
                                                <span>{{clinic.city}}, {{clinic.state}} {{clinic.zipCode}}</span>
                                            </td>
                                            <td *ngIf="!checkIfAnyImmunizationsHasCorpInvoiceAndVoucherNeeded(clinic)">
                                                <b>{{date}}</b>
                                                <br/>
                                                <b>{{time}} </b>
                                            </td>
                                            <td *ngIf="!checkIfAnyImmunizationsHasCorpInvoiceAndVoucherNeeded(clinic)">
                                                <span>{{clinic.clinicDate | date: 'MM/dd/yyyy'}}</span>
                                                <br/>
                                                <span>{{clinic.startTime}} - {{clinic.endTime}}</span>
                                            </td>
                                            <td *ngIf="checkIfAnyImmunizationsHasCorpInvoiceAndVoucherNeeded(clinic)">
                                                <b *ngIf="checkIfFluImmForCorpInvoiceSelected()">{{fluExpiryDate}}</b>
                                                <br/>
                                                <b *ngIf="checkIfNonFluImmForCorpInvoiceSelected()">{{routineExpiryDate}}</b>
                                            </td>
                                            <td *ngIf="checkIfAnyImmunizationsHasCorpInvoiceAndVoucherNeeded(clinic)">
                                                <span *ngIf="checkIfFluImmForCorpInvoiceSelected()">{{getVoucherExpiryDate()}}</span>
                                                <br/>
                                                <span *ngIf="checkIfNonFluImmForCorpInvoiceSelected()">{{getRoutineExpiryDate()}}</span>
                                            </td>
                                            <td>
                                                <b>{{contact}}</b>
                                                <br/>  <br *ngIf="(clinic.contactFirstName + clinic.contactLastName)?.length>26"/>
                                                <b>{{phone}}</b>
                                                <br/>
                                                <b>{{email}}</b>
                                            </td>
                                            <td>
                                                <span>{{clinic.contactFirstName}} {{clinic.contactLastName}}</span>
                                                <br/>
                                                <span>{{getPhoneNoInUSFormat(clinic.contactPhone)}}</span>
                                                <br/>
                                                <span>{{clinic.contactEmail}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>{{imz}}</th>
                                            <th>{{payment}}</th>
                                            <th>{{estShots}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let imz of clinic.clinicImzQtyList">
                                            <td>{{imz.immunizationName}}</td>
                                            <td>{{imz.paymentTypeName}}</td>
                                            <td>{{imz.estimatedQuantity}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="printPgBrk"></span>
            <span class="printMrgnOrpdng"><br/><br/></span>
            <div class="row mt-5">
                    <span class="printMrgnOrpdng"><br/><br/></span>
                <div class="col-md-12">
                    <p>
                        <b>{{inWitnessWhereOff}}</b> {{inWitnessWhereOff2ndLine}}</p>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="table-responsive">
                        <table class="table table-sm no-border-tbl">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>{{businessName}}</b>
                                    </td>
                                    <td>{{clientInformation.client}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{name}}</b>
                                    </td>
                                    <td>{{clientInformation.name}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{title}}</b>
                                    </td>
                                    <td>{{clientInformation.title}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{date}}</b>
                                    </td>
                                    <td>{{clientInformation.reviewedDate | date: 'MM/dd/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-40">
                        <span>
                            <u>{{sendLegalNoticeToClient}}</u>
                            <br/>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="table-responsive">
                        <table class="table table-sm no-border-tbl">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>WALGREEN CO.</b>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{name}}</b>
                                    </td>
                                    <td>{{walGreensInfo.name}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{title}}</b>
                                    </td>
                                    <td>{{walGreensInfo.title}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{date}}</b>
                                    </td>
                                    <td>{{walGreensInfo.preparedDate | date: 'MM/dd/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{district}}</b>
                                    </td>
                                    <td>{{walGreensInfo.districtNumber}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-12">
                        <span>
                            <u>{{sendLegalNoticeToWalgreens}}</u>
                            <br/>
                        </span>
                        <span>Attn: Health Law - Divisional Vice President</span><br/>
                        <span>Healthcare Innovations Group
                            <br/>200 Wilmot Rd, MS2222
                            <br/> Deerfield, IL 60164</span>
                        <br/>
                        <span>cc: clinicalcontracts@walgreens.com</span>
                        <br/>
                    </div>

                </div>
            </div>
            <div class="row mt-20" id="TandCText">
                <div class="col-md-12 text-center">
                    <h4>
                      {{wallGreensCommOffsiteTitle1}}
                      <br/>{{wallGreensCommOffsiteTitle2}}
                   </h4>
                </div>
                <div class="col-sm-6">
                    <p class="text-justify fontSz10">
                      <b>I.{{wallGreensResponsibilities}} </b>
                        <br/>
                        <br/> 1.1
                      <u>{{wallGreensResponsibilitiesPara1Heading}}</u> {{wallGreensResponsibilitiesCvrdServices}}
                        <br/>
                        <br/> 1.2
                      <u>{{profJudgementHeading}}</u> {{profJudgementText}}
                        <br/>
                        <br/> 1.3
                      <u>{{provHealthCrProfHdng}}</u>{{provHealthCrProfText}}
                        <br/>
                        <br/>
                      <b>II. {{clientsResponsibilites}}</b>
                        <br/>
                        <br/> 2.1
                      <u>{{vouchersHeading}}</u>{{vouchersText}}
                        <br/>
                        <span class="printPgBrk"></span>
                        <span class="printMrgnOrpdng"><br/><br/></span>
                        <br/> 2.2
                      <u>{{offSiteLocation}}</u>
                      <b>**{{important}}**</b> {{offSiteLocationText1}}
                      <b>{{siteMin}}</b><span [innerHTML]="siteMinText"></span>
                      <b>{{siteAvg}}</b>{{siteAvgText}}
                        <br/>
                        <br/>
                      <b>III. {{pmtAndBIlling}}</b>
                        <br/>
                        <br/> 3.1
                      <u>{{payment}}</u>{{paymentText}}
                        <br/>
                        <br/> 3.2
                      <u>{{latePayment}}</u>{{latePaymentText}}
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="text-justify fontSz10">
                      <b> IV. {{termAndTermCaps}} </b>
                        <br/>
                        <br/> 4.1
                      <u>{{termAndTerm}}</u>{{termAndTermText}}
                        <br/>
                        <br/> 4.2
                      <u>{{effectAndTerminiation}}</u>{{effectAndTerminiationText}}
                        <br/>
                        <br/> 4.3
                      <u>{{waiver}}</u>{{waiverText}}
                        <br/>
                        <br/>
                      <b>V. {{insurAndIndemnify}}</b>
                        <br/>
                        <br/> 5.1
                      <u>{{insurance}}</u>{{insuranceText}}
                        <br/>
                        <br/> 5.2
                      <u>{{indemnification}}</u>{{indemnificationText}}
                        <br/>
                        <br/>
                        <span class="printPgBrk"></span>
                        <span class="printMrgnOrpdng"><br/><br/></span>
                      <b>VI.{{generalTerms}}</b>
                        <br/>
                        <br/> 6.1
                      <u>{{confidentiality}}</u>{{confidentialityP1}}
                      <b>{{phi}}</b> or
                      <b>{{phiAb}}</b>{{confidentialityP2}}
                        <br/>
                        <br/> 6.2
                      <u>{{Advertising}}</u>{{AdvertisingText}}
                        <br/>
                        <br/> 6.3
                      <u>{{frcMaj}}</u>{{frcMajText}}
                        <br/>
                        <br/> 6.4
                      <u>{{compliance}}</u>{{complianceText}}
                        <br/>
                        <br/> 6.5
                      <u>{{assignment}}</u>{{assignmentText}}
                        <br/>
                        <br/> 6.6
                      <u>{{notices}}</u>{{noticesText}}
                        <br/>
                        <br/> 6.7
                      <u>{{entireAgr}}</u>{{entireAgrText}}
                    </p>
                </div>
                <div class="col-sm-6"><span>V/W Agreement 05082018</span></div>
                <div class="col-sm-6">
                   <span class="float-right">© {{today|date:'yyyy'}} Walgreen Co. {{rights}}</span>
                  </div>
            </div>

        </div>
        </div></div>
        <div class="col-md-3 col-sm-3">
            <div class="p-15 bg-light">
              <span class="mt-10"><b>{{emailAgrmntTo}}</b></span>
                <div class="fancy-form" >                    
                    <i class="fa fa-user"></i>
                    <input type="email" class="form-control required" name="agreementEmails" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$" placeholder="Email" [(ngModel)]="agreementEmails">
                </div>
                <span class="text-muted" style="font-size:12px;">{{multipleEmailAddrss}}</span>
                <div class="row mt-20 mb-5">
                    <div class="col-md-12 text-center">
                <button type="button" (click)="sendEmail()" class="btn btn-primary btn-md btn-block">{{sendAgreeMnt}}</button>
                    </div>
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col-md-12 text-center">
                        <button type="submit" (click)="btnClick()" class="btn btn-primary  btn-md  btn-block">{{editAgreeMnt}}</button>
                    </div>
                </div>
                <div class="row  mt-5 mb-5">
                    <div class="col-md-12 text-center">
                        <button type="button" (click)="saveAgreement()" class="btn btn-primary  btn-md  btn-block">{{saveAgreeMnt}}</button>
                    </div>
                </div>
                <div class="row  mt-5 mb-5">
                    <div class="col-md-12 text-center">
                        <!-- <button type="button" class="btn btn-outline-secondary  btn-md  btn-block" *ngIf="enlanguageSelection== true" (click)="changeLanguageToSpanish()">TRADUCIR AL ESPAÑOL</button> -->
                        <!-- <button type="button" class="btn btn-outline-secondary  btn-md  btn-block" *ngIf="splanguageSelection== true"  (click)="changeLanguageToEnglish()">TRANSLATE TO ENGLISH</button> -->
                    </div>
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col-md-12 text-center">
                        <button type="button" (click)="print()" class="btn btn-outline-secondary  btn-md  btn-block">{{printAgreementTxt}}</button>
                    </div>
                </div>
                <div class="row  mt-5 mb-5">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-primary  btn-md  btn-block"(click)="cancelAgreementClicked()">{{cancelTxt}}</button>
                            <span class="text-justify txt10">{{noteTxt}}</span>
                        </div>
                    </div>

                   
            </div>
        </div>
    </div>
    
</div>