.no-border-tbl td,
  .no-border-tbl th {
    border-top: none !important;
  }

  .no-border-tbl td {
    vertical-align: top !important;
  }
  .black-font, .font-weight-bold, b{
      color: #000000 !important;
  }
