<div class="card cardHeaderBlueBg">
  <div class="card-heading card-heading-transparent">
     <h2 class="card-title text-white">Store Information</h2>
  </div>
  <div class="card-block bdrBtmOnly cardBodyBlueBg">
     <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
           <div class="form-group row">
              <label for="assignedStore" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Assigned To:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="assignedStore">
              </div>
           </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
          <label class="checkbox">
            <input type="checkbox" value="1">
            <i></i> Charity (HHS Voucher) Clinic
          </label>
        </div>
     </div>
  </div>
</div>
<div class="card cardHeaderGreenBg">
  <div class="card-heading card-heading-transparent">
     <h2 class="card-title text-white">Opportunity Information</h2>
  </div>
  <div class="card-block bdrBtmOnly cardBodyGreenBg">
     <div class="row">
        <div class="col-md-6 col-sm-6 col-12">
           <div class="form-group row">
              <label for="clientName" class="col-lg-4 col-md-12 col-sm-12 col-12   col-form-label">Client Name:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <span>ILLINOIS STATE BAPTIST ASSN</span>
              </div>
           </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
           <div class="form-group row">
              <label for="email" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Contact Email: </label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="email">
              </div>
           </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
           <div class="form-group row">
              <label for="firstName" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">Contact First Name:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="firstName">
              </div>
           </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
           <div class="form-group row">
              <label for="lastName" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
              Contact Last Name:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="lastName">
              </div>
           </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
           <div class="form-group row">
              <label for="phone" class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
              Contact Phone:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="phone">
              </div>
           </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
           <div class="form-group row">
              <label for="jobTitle" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">
              Contact Job Title:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="jobTitle">
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="card cardHeaderVioletBg">
  <div class="card-heading card-heading-transparent">
     <h2 class="card-title text-white">Billing & Vaccine Information</h2>
  </div>
  <div class="card-block bdrBtmOnly cardBodyVioletBg">
     <div class="row mb-20">
        <div class="col-md-4 col-sm-4 col-12">
           <div class="form-group row">
              <label for="planID" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">Plan ID:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="planID">
              </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
           <div class="form-group row">
              <label for="idRecipient" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">
              ID Recipient:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="idRecipient">
              </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
           <div class="form-group row">
              <label for="clientName" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">Group ID:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" readonly class="form-control-plaintext" id="clientName">
              </div>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
           <div>
              <div class="d-block d-sm-none">
                 <hr/>
                 <div class="row">
                    <div class="col-md-6 col-6">
                       <strong>Vaccines Covered</strong>
                    </div>
                    <div class="col-md-6  col-6">
                       <span>Standard – Trivalent</span>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-6 col-6">
                       <strong>Vouchers Distributed</strong>
                    </div>
                    <div class="col-md-6  col-6">
                       <span>{{22}}</span>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-6 col-6">
                       <strong>Payment Method</strong>
                    </div>
                    <div class="col-md-6  col-6">
                       <span>{{45}}</span>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-6 col-6">
                       <strong>Est Vol</strong>
                    </div>
                    <div class="col-md-6  col-6">
                       <span>
                       <input type="text" name="immunization[estimatedQuantity]" pInputText pKeyFilter="num" class="form-control required">
                       </span>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-6 col-6">
                       <h5>Total Administered</h5>
                    </div>
                    <div class="col-md-6  col-6">
                       <p>
                          <input type="text" name="immunization[totalImmAdministered]" pInputText class="form-control required">
                       </p>
                    </div>
                 </div>
              </div>
              <div class="d-none d-sm-block table-responsive" id="tblBillingVaccineInfo">
                 <table class="table table-sm border-0">
                    <thead class="cardHeaderVioletBg text-white  border-0">
                       <tr>
                          <th>Vaccines Covered</th>
                          <th>Vouchers Distributed</th>
                          <th>Estimated Volume</th>
                          <th>Total Administered</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr>
                          <td>Standard – Trivalent</td>
                          <td>
                             <input type="text" name="immunization[estimatedQuantity]" pInputText pKeyFilter="num" class="form-control required">
                          </td>
                          <td>
                             <input type="text" class="form-control required">
                          </td>
                          <td>
                            <input type="text" class="form-control required">
                         </td>
                       </tr>
                    </tbody>
                 </table>
              </div>
             
           </div>
        </div>
     </div>
  </div>
</div>
<div class="card cardHeaderYellowBg">
  <div class="card-heading card-heading-transparent">
     <button type="button"  class="btn cardHeaderYellowBgBtn btn-sm float-right">Add A Clinic Location</button>
     <h2 class="card-title text-white">Clinic Information</h2>
  </div>
  <div>
     <div class="card-block bdrBtmOnly cardBodyYellowBg pb-0 pt-0">
        <div class="row">
           <div class="col-md-12 col-sm-12 col-12">
              <div class="m-20"></div>
              <label class="checkbox">
              <input type="checkbox">
              <i></i> No Clinic (Voucher Distribution Only) 
              </label> 
           </div>
        </div>
        <div class="row">
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naClinicLocation" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">Location:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <input type="text" readonly class="form-control-plaintext" id="naClinicLocation" name="naClinicLocation">
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naClinicAddress1" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">Address 1:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <input type="text" class="form-control" id="naClinicAddress1" class="form-control required">
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naClinicAddress2" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">Address 2:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <input type="text" class="form-control" id="naClinicAddress2">
                 </div>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="clinicDate" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">Date:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    P Calendar
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naClinicStartTime" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">
                 Start Time:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    p Calendar
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naClinicEndTime" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">
                 End Time:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <p-calendar class="primeng-control"   [stepHour]="1" [stepMinute]="30"
                    [timeOnly]="true" hourFormat="12"></p-calendar>
                 </div>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naContactFirstName" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">First Name:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <input type="text" class="form-control required" id="naContactFirstName" name="naContactFirstName">
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naContactLastName" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">
                 Last Name:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <input type="text" class="form-control required" id="naContactLastName" name="naContactLastName">
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naClinicContactPhone" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">
                 Phone#:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <input type="text" class="form-control required" id="naClinicContactPhone" name="naClinicContactPhone">
                 </div>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naContactEmail" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">Email:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <input type="email" class="form-control" id="naContactEmail" name="naContactEmail">
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naClinicCity" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">
                 City:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <input type="text" class="form-control required" id="naClinicCity" name="naClinicCity">
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naClinicState" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">State:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="fancy-form">
                       <select class="form-control required" id="naClinicState">
                          <option value="">Select</option>
                          <option>{{534553}}</option>
                       </select>
                       <i class="fancy-arrow"></i>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="naClinicZip" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">Zip:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <input type="text" class="form-control required" id="naClinicZip" name="naClinicZip">
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-4 col-12">
              <div class="form-group row">
                 <label for="confirmedClientName" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">Confirmed By:</label>
                 <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <input type="text" class="form-control" id="confirmedClientName" placeholder="Name of Client Contact Who Confirmed"
                       name="confirmedClientName">
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- Pharmacist & Post Clinic Information -->
<div class="card cardHeaderDBlueBg">
  <div class="card-heading card-heading-transparent">
     <h2 class="card-title text-white">Pharmacist & Post Clinic Information</h2>
  </div>
  <div class="card-block bdrBtmOnly cardBodyDBlueBg">
     <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
           <div class="form-group row">
              <label for="pharmacistName" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">Rx Host:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="pharmacistName"  name="pharmacistName" placeholder="Enter Rx Name">
              </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
           <div class="form-group row">
              <label for="pharmacistPhone" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">
              Rx Phone#:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="pharmacistPhone"  name="pharmacistPhone">
              </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12">
           <div class="form-group row">
              <label for="totalHours" class="col-lg-4 col-md-12 col-sm-12 col-12  col-form-label">
              Clinic Hours:</label>
              <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                 <input type="text" class="form-control" id="totalHours" name="totalHours" placeholder="Total # of Hours at Clinic">
              </div>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
           <div class="form-group">
              <label for="feedbackNotes">Feedback/ Notes:</label>
              <textarea class="form-control" id="feedbackNotes" rows="3"></textarea>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- Pharmacist & Post Clinic Information -->
<div class="row">
  <div class="col-md-12 col-sm-12 col-12 text-center">
     <button type="submit"  class="btn btn-primary btn-lg m-5">Confirm</button>
     <button type="submit" class="btn btn-primary btn-lg  m-5" >Complete</button>
     <button type="submit"  class="btn btn-primary btn-lg  m-5">Cancel Clinic</button>
     <button type="submit" class="btn btn-primary btn-lg  m-5">Save Changes</button>
  </div>
</div>
<div class="card cardHeaderDGrayBg">
  <div class="card-heading card-heading-transparent">
     <h2 class="card-title text-white">History Log</h2>
  </div>
  <div class="card-block bdrBtmOnly cardBodyDGrayBg">
     <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
           <div class="d-block d-sm-none">
              <div class="row">
                 <div class="col-md-6 col-6">
                    <strong>Date</strong>
                 </div>
                 <div class="col-md-6  col-6">
                    <span>{{55}}</span>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-6 col-6">
                    <strong>Action</strong>
                 </div>
                 <div class="col-md-6  col-6">
                    <span>{{5}}</span>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-6 col-6">
                    <strong>Updated Field</strong>
                 </div>
                 <div class="col-md-6  col-6">
                    <span>{{6}}</span>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-6 col-6">
                    <strong>Update</strong>
                 </div>
                 <div class="col-md-6  col-6">
                    <span>{{44}}</span>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-6 col-6">
                    <h5>User</h5>
                 </div>
                 <div class="col-md-6  col-6">
                    <span>{{56}}</span>
                 </div>
              </div>
           </div>
           <div class="d-none d-sm-block table-responsive mt-10" id="tblBillingVaccineInfo">
              <table class="table table-sm">
                 <thead class="cardHeaderDGrayBg text-white">
                    <tr>
                       <th>Date</th>
                       <th>Action</th>
                       <th>Updated Field</th>
                       <th>Update</th>
                       <th>User</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>hist.date</td>
                       <td>hist.action</td>
                       <td>hist.updatedField</td>
                       <td>hist.update</td>
                       <td>hist.user</td>
                    </tr>
                 </tbody>
              </table>
           </div>
        </div>
     </div>
  </div>
</div>

<hintscomponent [dispHintDialog]="showHints"  [title]="pageName" ></hintscomponent>