<div  [formGroup]="followupForm" >
    <div class="card-block">
        <div class="row">
            <div class="col-md-12" *ngIf="ip_followup">
                <div class="card card-default">
                    <div class="card-heading card-heading-transparent">
                        <h4 class="card-title">Immunization Follow-Up Email Reminder</h4>
                    </div>

                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('imzemail')">
                                    <label for="exampleInputEmail1">Email To:</label>
                                    <input type="email" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$" class="form-control" aria-describedby="emailHelp" formControlName="imzemail">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('imzdate')">
                                    <label for="exampleInputEmail2">Send On:</label>
                                    <p-calendar (onSelect)="onFolloUpIPDateSelected($event)"  class="primeng-control" [minDate]="minDateValue" formControlName="imzdate"></p-calendar>
                                </div>
                            </div>

                            <div class="col-md-12 mt-10">

                                <!-- checkbox -->
                                <label class="checkbox">
                                    <input type="checkbox" value="1" formControlName="doNotSendImz">
                                    <i></i> Do not send an email reminder
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12" *ngIf="sr_followup">
                <div class="card card-default">
                    <div class="card-heading card-heading-transparent">
                        <h4 class="card-title">Senior Outreach Follow-Up Email Reminder</h4>
                    </div>

                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('sremail')">
                                    <label for="exampleInputEmail3">Email To:</label>
                                    <input type="email" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$" class="form-control" aria-describedby="emailHelp" formControlName="sremail">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="displayFieldCss('srdate')">
                                    <label for="exampleInputEmail4">Send On:</label>
                                    <p-calendar (onSelect)="onFolloUpSRDateSelected($event)" class="primeng-control" [minDate]="minDateValue" formControlName="srdate"></p-calendar>
                                </div>
                            </div>

                            <div class="col-md-12 mt-10">

                                <!-- checkbox -->
                                <label class="checkbox">
                                    <input type="checkbox" value="2" formControlName="doNotSendSR">
                                    <i></i> Do not send an email reminder
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="float-right">
                    <button type="button" class="btn btn-primary m-5" (click)="onCancel()">Cancel</button>
                    <button type="button" (click)="onSave()" class="btn btn-primary m-5">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog [(visible)]="displayOnSucc" id="dialgFollowUp" modal="modal" modal="true" [responsive]="true">
    <p-header >
        Scheduled Follow-up Reminder
    </p-header>
    A Follow-up Email Reminder has been scheduled successfully!
    <p-footer>
        <div class="float-right">
        <button type="button" (click)="onClick()" class="btn btn-primary m-5">Ok</button>
    </div>
    </p-footer>
</p-dialog>

<p-dialog class="blueBgDark" header="{{dialogSummary}}" [(visible)]="savePopUp" modal="modal" modal="true" [responsive]="true"
    [contentStyle]="{'max-width':'640px'}">
    <p>{{dialogMsg}}</p>
    <p-footer>
        <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="Continue()">{{doNotSaveText}}</button>
            <button type="button" class="btn btn-primary" (click)="doNotSave()">{{setUp}}</button>
        </div>
    </p-footer>
</p-dialog>
<hintscomponent [dispHintDialog]="showHints" [title]="pageName" ></hintscomponent>