<div class="container">
  <div class="row process-wizard process-wizard-primary">

    <div class="col-4 col-md-4 col-lg-4 col-sm-4 process-wizard-step" [ngClass]="{'active': step===1, 'complete': step>=1}">
      <div class="text-center process-wizard-stepnum">Step 1</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a class="process-wizard-dot"></a>
      <div class="process-wizard-info text-center">Contract Approved – Contact Client</div>
    </div>

    <div class="col-4 col-md-4 col-lg-4 col-sm-4 process-wizard-step" [ngClass]="{'active': step===2, 'complete': step>=2}">
      <!-- complete -->
      <div class="text-center process-wizard-stepnum">Step 2</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a class="process-wizard-dot"></a>
      <div class="process-wizard-info text-center">Confirmed Clinic</div>
    </div>

    <div class="col-4 col-md-4 col-lg-4 col-sm-4  process-wizard-step" [ngClass]="{'active': step===3, 'complete': step>=3}">
      <div class="text-center process-wizard-stepnum">Step 3</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a  class="process-wizard-dot"></a>
      <div class="process-wizard-info text-center">{{clinicstatus}}</div>
    </div>

  </div>
</div>

<div class="tab-content container">
  <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===1}" id="step1" *ngIf='step===1'>
    <app-local-clinic-details *ngIf="clickedPath==='LocalClinicProgramDetails'" (clinicSubmit)="GoToStep($event)"></app-local-clinic-details>
    <app-co-clinic-details *ngIf="clickedPath==='CommunityOutreachProgramDetails'" (clinicSubmit)="GoToStep($event)"></app-co-clinic-details>
  </div>

  <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===2}" id="step2" *ngIf='step===2'>
    <app-local-clinic-details  *ngIf="clickedPath==='LocalClinicProgramDetails'"  (clinicSubmit)="GoToStep($event)"></app-local-clinic-details>
    <app-co-clinic-details  *ngIf="clickedPath==='CommunityOutreachProgramDetails'"  (clinicSubmit)="GoToStep($event)"></app-co-clinic-details>
  </div>

  <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===3}" id="step3" *ngIf='step===3'>
    <app-local-clinic-details  *ngIf="clickedPath==='LocalClinicProgramDetails'"  (clinicSubmit)="GoToStep($event)"></app-local-clinic-details>
    <app-co-clinic-details  *ngIf="clickedPath==='CommunityOutreachProgramDetails'"  (clinicSubmit)="GoToStep($event)"></app-co-clinic-details>
  </div>


</div>


<hintscomponent [dispHintDialog]="showHints"  [title]="pageName" ></hintscomponent>