<p-dialog header="{{dialogSummary}}" [(visible)]="locDlgDisplay" [closable]="false" [closeOnEscape]="false" modal="modal"
        width="450" [responsive]="true">
        <p [innerHTML]="dialogMsg"></p>
        <p-footer>
                <button type="button" class="pull-right" pButton (click)="locDlgDisplay=false" label="Ok"></button>
        </p-footer>
</p-dialog>
<div [formGroup]="locationForm">
        <div class="row">
                <div class="col-md-8 col-sm-8 form-group text-left">
                        <h5>Estimated Shots per Immunization (25 shot minimum per location)</h5>
                        <div formArrayName="clinicImzQtyList">
                                <div *ngFor="let immunization of locationForm.controls.clinicImzQtyList['controls']; let i = index" name="immunization" class="row">
                                        <div class="col-md-2 col-sm-2 form-group" formGroupName="{{i}}" [ngClass]="displayFieldCssForArray('estimatedQuantity', i)">
                                                <input type="text" pInputText (keypress)="onlyNumberKey($event)" (paste)="$event.preventDefault()" formControlName="estimatedQuantity" name="location[est_shots]" maxlength="5"
                                                        class="form-control required">
                                        </div>
                                        <div class="col-md-10 col-sm-10 form-group">
                                                <label>{{immunization.get('immunizationName').value}}
                                                        <br/> ({{immunization.get('paymentTypeName').value}})</label>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-md-4 col-sm-4 form-group" >
                        <h5>Setup Options</h5>
                        <div *ngIf='locationNumber>=1'>
                                <label class="checkbox" *ngIf='locationNumber>=1'>
                                        <input type="checkbox" formControlName="previousContact" (change)="copyPreviousContactInfo(locationNumber, $event.target.checked)">
                                        <i></i> Copy Previous Contact Info
                                </label>
                                <br/>
                                <label class="checkbox" *ngIf='(locationNumber>=1 && !isStoreIsfromRestrictedState())'>
                                        <input type="checkbox" formControlName="previousLocation" (change)="copyPreviousLocation(locationNumber, $event.target.checked)">
                                        <i></i> Copy Previous Address
                                </label>

                        </div>
                        <label class="checkbox" *ngIf="outReachProgramType==='contracts'">
                                <input type="checkbox" formControlName="isNoClinic" 
                                (change)="noClinicOptionChanged(locationNumber, $event.target.checked)">
                                <i></i> No Clinic (Voucher Distribution Only)
                        </label>
                        <br/>
                        <label class="checkbox" *ngIf="!isStoreIsfromRestrictedState() && outReachProgramType==='contracts'">
                                <input type="checkbox" formControlName="isReassign">
                                <i></i> Re-assign based on geography
                        </label>
                </div>
        </div>
        <div class="row">
                <div class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss('contactFirstName')">
                        <label>Local Contact First Name</label>
                        <input type="text" name="location[contactFirstName]" pInputText formControlName="contactFirstName" class="form-control required">
                        <app-field-error-display [displayError]="isFieldValid('contactFirstName')"></app-field-error-display>
                </div>
                <div class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss('contactLastName')">
                        <label>Local Contact Last Name</label>
                        <input type="text" name="location[contactLastName]" pInputText formControlName="contactLastName" class="form-control required">
                        <app-field-error-display [displayError]="isFieldValid('contactLastName')"></app-field-error-display>
                </div>
                <div class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss('contactPhone')">
                        <label>Local Contact Phone</label>
                        <input type="text" name="location[phone_num]" minlength="10" maxlength="10" pInputText (keypress)="onlyNumberKey($event)"  formControlName="contactPhone"
                                class="form-control" data-placeholder="X">
                        <app-field-error-display [displayError]="isFieldValid('contactPhone')"></app-field-error-display>
                </div>
                <div class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss('contactEmail')">
                        <label>Local Contact Email</label>
                        <input type="email" name="location[email]" formControlName="contactEmail" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$"
                                value="" class="form-control required">
                        <app-field-error-display [displayError]="isFieldValid('contactEmail')"></app-field-error-display>
                </div>
        </div>
        <div class="row">
                <div class="col-md-3 col-sm-3 form-group"  [ngClass]="displayFieldCss('address1')">
                        <label>Address1</label>
                        <input  type="text" [readonly]="isStoreIsfromRestrictedState()==true?true:false"  name="location[address1]" pInputText formControlName="address1" value="" class="form-control required">
                        <app-field-error-display [displayError]="isFieldValid('address1')"></app-field-error-display>
                </div>
                <div class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss('address2')">
                        <label>Address2</label>
                        <input type="text" [readonly]="isStoreIsfromRestrictedState()==true?true:false"  name="location[address2]" pInputText formControlName="address2" value="" class="form-control required">
                        <app-field-error-display [displayError]="isFieldValid('address2')"></app-field-error-display>
                </div>
                <div class="col-md-2 col-sm-2 form-group" [ngClass]="displayFieldCss('city')">
                        <label>City</label>
                        <input type="text" [readonly]="isStoreIsfromRestrictedState()==true?true:false"  name="location[city]" pInputText formControlName="city" value="" class="form-control required">
                        <app-field-error-display [displayError]="isFieldValid('city')"></app-field-error-display>
                </div>
                <div class="col-md-2 col-sm-2 form-group" [ngClass]="displayFieldCss('state')">
                        <label>State</label>
                        <div class="fancy-form">
                                <select [attr.disabled]="isStoreIsfromRestrictedState()==true ? true : null" class="form-control required" formControlName="state" name="location[state]">
                                        <option value="">Select</option>
                                        <option *ngFor="let state of states" [ngValue]="state.id">{{state.id}}</option>
                                </select>
                                <i class="fancy-arrow"></i>
                        </div>
                        <app-field-error-display [displayError]="isFieldValid('state')"></app-field-error-display>
                </div>
                <div class="col-md-2 col-sm-3 form-group" [ngClass]="displayFieldCss('zipCode')">
                        <label>Zip</label>
                        <input type="zip" [readonly]="isStoreIsfromRestrictedState()==true?true:false"  formControlName="zipCode" value="" class="form-control required" minlength="5" maxlength="5" pInputText
                        (keypress)="onlyNumberKey($event)">
                        <app-field-error-display [displayError]="isFieldValid('zipCode')"></app-field-error-display>
                </div>
                <div style="display:none">
                <input  type="text" name="location[location]" pInputText formControlName="location" value="" class="form-control">
                </div>
        </div>
        <div class="row" *ngIf="outReachProgramType==='contracts'">
                  <div *ngIf="locationForm.controls[ 'isNoClinic'].value==false" class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss( 'clinicDate') ">
                        <label>Clinic Date</label>
                        <p-calendar class="primeng-control" readonlyInput="true " formControlName="clinicDate" utc="false"
                         [defaultDate]="defaultDate" [minDate]="minDateValue" [maxDate]="maxDateValue" 
                                (onSelect)="onClinicDateSelected($event)"></p-calendar>
                </div> 
                
                <div *ngIf="checkIfFluImmForCorpInvoiceSelected()===true&& locationForm.controls[ 'isNoClinic'].value==true"
                 class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCssexpiry( 'fluExpiryDate') ">
 
                                <label>Voucher Flu Exp.</label>
                                <p-calendar class="primeng-control" readonlyInput="true" utc="false" formControlName="fluExpiryDate"
                                 [defaultDate]="defaultDate" [minDate]="minDateValue" [maxDate]="maxDateValue"></p-calendar>
                               
                        </div>
                        <div *ngIf="checkIfNonFluImmForCorpInvoiceSelected()===true && locationForm.controls['isNoClinic'].value==true" class="col-md-3 col-sm-3 form-group " [ngClass]="displayFieldCssexpiry( 'routineExpiryDate') ">
                                        <label>Voucher Routine Exp.</label>
                                        <p-calendar class="primeng-control" readonlyInput="true" utc="false" formControlName="routineExpiryDate"
                                         [defaultDate]="defaultDate" [minDate]="minDateValue" [maxDate]="maxDateValue"></p-calendar>
                                        
                                 </div> 
                 <div *ngIf="locationForm.controls['isNoClinic'].value==false" class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss( 'startTime') ">
                        <label>Start Time</label>
                        <p-calendar class="primeng-control " formControlName="startTime" 
                        [defaultDate]="defaultStartTime" [stepHour]="1" [stepMinute]="30"
                                [timeOnly]="true"  hourFormat="12"></p-calendar>
                </div>   
                 <div *ngIf="locationForm.controls[ 'isNoClinic'].value==false" class="col-md-3 col-sm-3 form-group"
                 [ngClass]="displayFieldCss( 'endTime')">
                        <label>End Time</label>
                        <p-calendar class="primeng-control" formControlName="endTime" [defaultDate]="defaultStartTime" 
                        [stepHour]="1" [stepMinute]="30" 
                                [timeOnly]="true"  hourFormat="12"></p-calendar>
                        <app-field-error-display [displayError]="isFieldValid( 'endTime')"></app-field-error-display>
                </div> 
            
        </div>
        <div class="row" *ngIf="outReachProgramType==='communityoutreach'">
                <div  class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss( 'clinicDate')">
                        <label>Clinic Date</label>
                        <p-calendar class="primeng-control" readonlyInput="true" formControlName="clinicDate"
                         [defaultDate]="defaultDate" [minDate]="minDateValue" [maxDate]="maxDateValue"
                                (onSelect)="onClinicDateSelected($event)"></p-calendar>
                       
                </div>               
                <div  class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss( 'startTime')">
                        <label>Start Time</label>
                        <p-calendar class="primeng-control" formControlName="startTime" 
                        [defaultDate]="defaultStartTime" [stepHour]="1" [stepMinute]="30"
                                [timeOnly]="true"  hourFormat="12"></p-calendar>
                        <app-field-error-display [displayError]="isFieldValid( 'startTime')"></app-field-error-display>
                </div>
                <div  class="col-md-3 col-sm-3 form-group
                " [ngClass]="displayFieldCss('endTime')">
                        <label>End Time</label>
                        <p-calendar class="primeng-control" formControlName="endTime" [defaultDate]="defaultStartTime" [stepHour]="1" [stepMinute]="30"
                                [timeOnly]="true"  hourFormat="12"></p-calendar>
                        <app-field-error-display [displayError]="isFieldValid( 'endTime') "></app-field-error-display>
                </div>
        </div>
        <div *ngIf="outReachProgramType==='communityoutreach'">
                <h4>Outreach Type</h4>
        </div>
        <div class="row " *ngIf="outReachProgramType==='communityoutreach'">
                <div class="col-md-2 col-sm-2 form-group" [ngClass]="displayFieldCss( 'coOutreachTypeId')">
                        <!-- radio -->
                        <label class="radio">
                                <input class="form-control required" type="radio" value="1" formControlName="coOutreachTypeId" (change)="onOtherRadioClicked($event.target.value)">
                                <i></i> Brownbag
                        </label>
                </div>
                <div class="col-md-3 col-sm-3 form-group" [ngClass]="displayFieldCss( 'coOutreachTypeId')">
                        <!-- radio -->
                        <label class="radio">
                                <input type="radio" class="form-control required" value="2" formControlName="coOutreachTypeId" (change)="onOtherRadioClicked($event.target.value)">
                                <i></i> Health Fair
                        </label>
                </div>
                <div class="col-md-4 col-sm-4 form-group " [ngClass]="displayFieldCss( 'coOutreachTypeId') ">
                        <!-- radio -->
                        <label class="radio">
                                <input type="radio" class="form-control required" value="3"
                                 formControlName="coOutreachTypeId" (change)="onOtherRadioClicked($event.target.value)">
                                <i></i> Presentation/Education
                        </label>
                </div>
                <div class="col-md-1 col-sm-1 form-group" [ngClass]="displayFieldCss( 'coOutreachTypeId')">
                        <!-- radio -->
                        <label class="radio">
                                <input type="radio" class="form-control required" value="4" formControlName="coOutreachTypeId" (change)="onOtherRadioClicked($event.target.value)">
                                <i></i> Other
                        </label>
                </div>
                <div class="col-md-2 col-sm-2 form-group" *ngIf="outReachTypeOtherVisible==true" [ngClass]="displayFieldCss('coOutreachTypeDesc')">
                        <input type="text" name="location[outReachTypeOtherValue]" pInputText formControlName="coOutreachTypeDesc" value=" " class="form-control required">
                </div>
        </div>

</div>