.cFont {
    font-size: 19px;
}

.ng-invalid:not(form) {
    border: #ec0d0d 2px solid !important;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    }