<div id="header"  class="navbar-toggleable-md static header-md clearfix">

  
  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container">
      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <!-- BUTTONS -->
      <ul class="float-right nav nav-pills nav-second-main" >
       
      </ul>
      <!-- /BUTTONS -->
      <!-- Logo -->
      <a class="logo hidden-sm-down float-left pt-10" href="index.html">
        <img src="assets/images/walgreens_1901_logo.png" />

      </a>
      <a class="logo hidden-md-up float-left" href="index.html">
        <img src="assets/images/_smarty/Walgreens_mobile_logo.png" style="width:32px; height: 35px;" />
      </a>
     
      <div class="navbar-collapse collapse float-right nav-main-collapse">
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main">           
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- <div class="container">
  <header id="topNav" >
         
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
              <i class="fa fa-bars"></i>
            </button>
                 
      <a class="logo hidden-sm-down float-left pt-10" style="cursor:unset">
          <img src="assets/images/walgreens_1901_logo.png" />
  
        </a>
        <a class="logo hidden-md-up float-left"  style="cursor:unset">
          <img src="assets/images/_smarty/Walgreens_mobile_logo.png" style="width:32px; height: 35px;" />
        </a>
  </header>
</div> -->
  <!-- /Top Nav -->
  </div>
  <section class="page-header page-header-xs dark pt-10 pb-10">
    <div class="container">
      <h1 class="small">CONTRACTING CLIENT INFORAMTION</h1>
      
    </div>
  </section>
<div class="container">
  <div class="row process-wizard process-wizard-primary mt-50">
     
    <div class="col-6 col-md-6 col-lg-6 col-sm-6 process-wizard-step" [ngClass]="{'active': step===1, 'complete': step>=1}">
      <div class="text-center process-wizard-stepnum">Step 1</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a (click)="GoToStep(1)" class="process-wizard-dot"></a>
      <div  class="process-wizard-info text-center">Contracting Client Information</div>    
    </div>
  
    <div class="col-4 col-md-6 col-lg-6 col-sm-6 process-wizard-step" [ngClass]="{'active': step===2, 'complete': step>=2}">
      <div class="text-center process-wizard-stepnum">Step 2</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a (click)="GoToStep(2)" class="process-wizard-dot"></a>
      <div class="process-wizard-info text-center">Review & Approve</div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4 offset-md-4 col-12 mb-0 text-center">
      <button *ngIf="showBtnSp" (click)="languageChangeToSpanish()" class="btn btn-outline-secondary  btn-sm">TRANSLATE TO SPANISH</button>
      <button *ngIf="showBtnEn" (click)="languageChangeToEnglish()" class="btn btn-outline-secondary  btn-sm">TRANSLATE TO ENGLISH</button>
    </div>
  </div> -->
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-sm-12">
         <div class="tab-content mt-20">
    <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===1}" id="step1" *ngIf='step===1'>
      <h3 style="color:red" >{{errormessage}}</h3>
      <h4>Please enter your business information in the form below to complete the Walgreens Community Off-Site Agreement.</h4>
      <app-businesscontactpage  [currentLanguage]="currentLanguage"></app-businesscontactpage>
   </div>
    
    <div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===2}" id="step2" *ngIf='step===2'>
     <app-approveagreement  [currentLanguage]="currentLanguage"></app-approveagreement> 
    </div>

  </div>
  <ul class="pager">
    <li class="previous"  *ngIf="step<2"><button class="btn btn-primary btn-lg" (click)="step > 1 ? GoToStep(step - 1) : null" [ngClass]="{'disabled': step===1}">Back</button></li>
    <li class="next"  *ngIf="step<2"><button class="btn btn-primary btn-lg" (click)="step < 2 ? GoToStep(step + 1) : null" [ngClass]="{'disabled': step===2}" >Next</button></li>
  </ul>

  </div>
  </div>
</div>

<div class="container">
  <p class="text-center">
      All scheduled corporate, charity (HHS Voucher), community outreach and local clinics will be monitored on a weekly
      basis by the Purchasing Team to ensure that the hosting store is shipped the proper
      Flu vaccine. For status of shipment please go to Storenet > Patient Care > Immunization
      Services > Immunization Reports</p>
  <p class="text-center">
      For Questions or Concerns, please open a ticket with the <span ><a
          href="https://helpctr.walgreens.com/docugen/viewmenu/immunization_services" 
          target="_blank">Immunization Service Desk</a></span>.</p>
  <p class="text-center">
      The <span><a href="https://helpctr.walgreens.com/docugen/viewmenu/immunization_services"
           target="_blank">Immunization Service Desk</a></span> can be
      accessed directly through the <span class="class24"><a href="http://snetapp.walgreens.com/SNETGatewayLBWeb/walgreens/snet/utl/StoreNetMain.html"
          target="_blank">Immunization Services Storenet page</a></span>
      (Storenet > Patient Care > Immunization Services), by clicking the Immunization
      Service Desk hyperlink under the “Questions” header located on the main page.</p>

</div>