<div id="header" class="navbar-toggleable-md static header-md clearfix">
    <!-- TOP NAV -->
    <header id="topNav">
       <div class="container">
          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
          </button>
          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
             <!-- SEARCH -->
             <!-- /SEARCH -->
          </ul>
          <!-- /BUTTONS -->
          <!-- Logo -->
          <a class="logo hidden-sm-down float-left pt-10"  routerLink="landing">
          <img src="assets/images/walgreens_1901_logo.png"  />
          </a>
          <a class="logo hidden-md-up float-left" routerLink="landing">
          <img src="assets/images/_smarty/Walgreens_mobile_logo.png" style="width:32px; height: 35px;" />
          </a>
          <div class="navbar-collapse collapse float-right nav-main-collapse">
             <nav class="nav-main">
                <ul id="topMain" class="nav nav-pills nav-main">
                   <li>
                      <a (click)="loginRedirect()" ><b>LOGIN</b></a>
                   </li>
                </ul>
             </nav>
          </div>
       </div>
    </header>
    <!-- /Top Nav -->
    </div>
    <section class=" mb-40" id="slider" style="height:365px !important; background:url('assets/images/wags_icons/walgreens.jpg')">
       <div class="display-table mt-60">
          <div class="display-table-cell vertical-align-middle">
          </div>
       </div>
    </section>
    <!-- /SLIDER -->
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <img class="img-fluid" style="margin-top:13px;" src="assets/images/wags_icons/immunizationWags.jpg" />
          </div>
          <div class="col-md-6">
             <p>
                <span style="font-size:32px; font-weight:bold;">Thank you for using the Community Outreach Portal</span>
                <br/><br/>
                <span style="font-size:28px;">Come back soon to log your most recent outreach efforts and to manage your upcoming events.</span>
             </p>
          </div>
       </div>
    </div>