/* You can add global styles to this file, and also import other style files */
element.style {
  height: 135px;
}
.control-label.required:after { 
  color: red;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top:7px;
}

.error-msg {
  color: red;
}
 .has-error label{
  color:red!important;
  }
  .has-error input {
  border:1px solid red !important;
  } 
  .has-error textarea {
    border:1px solid red !important;
    } 

  .has-error span {
    border:1px solid white !important;
    margin: -1px;
  }
  .btn-teal {
    background-color: #3c7bb4;
    color: #FFF !important;
}

.process-wizard-primary > .process-wizard-step > .process-wizard-dot, .process-wizard-primary > .process-wizard-step > .progress > .progress-bar {
  background: #7dc546;
}

.widget-content[_ngcontent-c4] {
  padding: 0px 10px 0px 10px !important;
 
}

  p-accordiontab.bg-success .ui-accordion-header {
    background: #7ac143 !important;
    border-top: 1px solid #7ac143 !important;
}

p-accordiontab.bg-info .ui-accordion-header {
  background: #17a2b8 !important;
  border-top: 1px solid #17a2b8 !important;
}

p-accordiontab.bg-primary .ui-accordion-header {
  background: #57a1d3 !important;
  border-top: 1px solid #57a1d3 !important;
}

p-accordiontab.bg-warning .ui-accordion-header {
  background: #ffc107 !important;
  border-top: 1px solid #ffc107 !important;
}

p-accordiontab.bg-success div a span, p-accordiontab.bg-primary div a span, p-accordiontab.bg-info div a span, p-accordiontab.bg-warning div a span {color:white !important;}

p-accordiontab.bg-success div a.ui-paginator-element span {color: #212121 !important}


section.dark.page-header {
  color: #fff;
  background-color: #2a7db5  !important;
}
.bg-dark {
  background-color:#2a7db5  !important;
}

.bg-cyan {background: #17adc2}
.bg-green {background: #7dc546}
.bg-magenta {background: #a43794}
.bg-yellow {background: #f4ae32}
.bg-lipurple {background: #794ee6}

.ui-inputtext {
  display: block !important;
  width: 100% !important;
  height: 30px;
  font-size: 12px !important;
  line-height: 1.5 !important; 
  color: #495057 !important;
  background-color: #fff !important;
  background-image: none !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
  border: #c6c6c6 1px solid !important;
  box-shadow: none !important;
  border-radius: 3px !important; 
}
.card{
  overflow-y: unset !important;
}

#opportunityContactLog .ui-dialog.ui-widget .ui-dialog-content {
  min-height: 600px;
}


.ui-calendar {
  display: block !important;
}




.ui-dialog-footer {
  padding: 15px 20px 40px 20px !important;
}
.ui-dialog.ui-widget .ui-dialog-titlebar {
  padding: 6px 6px 6px 20px !important; 
}

.ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title {
  font-size: 18px  !important; 
}

.form-control {
  padding: 0px 10px;
}


textarea.form-control{
  height: auto !important;
}


.has-error p-calender {
  border: none !important; 
}

.cardHeaderDGrayBg > .ui-accordion .ui-accordion-header {
  background-color: #333333 !important;
}

#accorAdvOpt > div{
  background: #787878 !important;
  border: none !important;
}

#accorAdvOpt > div a{
  color: #fff !important;
}

#accorAdvOpt  .ui-accordion-content {
  background-color: #d8d8d8 !important;
  border: 1px solid  #333333 !important;
}


.bg-light{
  background-color:#edf0f3 !important;
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fancy-form > .fancy-arrow, .fancy-form > .fancy-arrow-double {
    display: none !important;
  }
}

.greenText {
  color: rgb(59, 164, 1);
}
.greyText{
color:#343a40;
}
.yellowText{
  color: rgb(254, 161, 2);
}
.redText{
    color: rgb(207, 0, 60);
}

.lightGreenBg{
  background-color: #d7ecc1;
}
.lightBlueBg{
  background-color: #c1dfec;
}
.lightYellowBg{
  background-color: #f2eebb;
}
.smallText {
  font-size:12px;
}
.lightBrownBG{
  background-color: #777777 !important;
  border-color: #616161 !important;
}
.lightDrkCreameBg {
  background-color: #f0debc;
}
.lightPinkBg {
  background-color: #f3d8d9;
}
.lightGrayBg {
  background-color: #eeeeee;
}
.cardHeaderBlueBg {
  background-color: #17adc2 !important;
}
button.cardHeaderBlueBg{
  color:white;
}
.cardBodyBlueBg {
  background-color: #b2e4eb !important;
}
.cardHeaderGreenBg {
  background-color: #7dc546 !important;
}
.cardBodyGreenBg {
  background-color: #d4ecc1 !important;
}
.cardHeaderVioletBg {
  background-color: #a43794 !important;
}

a.activeVioletBg, .activeVioletBg{
  background-color: #a43794 !important;
  color:#ffffff !important;
}


a.activeYellowBg, .activeYellowBg{
  background-color: #f4ae32 !important;
  color:#ffffff !important;
}

#Clinics .ui-tabview .ui-tabview-nav > li.ui-state-active {
  background: #ffffff;
  font-weight: bold;
  color: #a43794 !important;
  border-top:3px solid #a43794 !important;
}

#LocalOppourtunies .ui-tabview .ui-tabview-nav > li.ui-state-active {
  background: #ffffff;
  font-weight: bold;
  color: #f4ae32 !important;
  border-top:3px solid #f4ae32 !important;
}


#Clinics .ui-datatable th.ui-state-default, #Clinics .ui-column-title {
  background-color: #a43794 ;
  color:white;
}
#Clinics .ui-paginator .ui-paginator-page.ui-state-active {
  background: #a43794 !important;
  color: #ffffff !important;
  border-color: #a43794 !important;
}

#LocalOppourtunies .ui-datatable th.ui-state-default, #LocalOppourtunies .ui-column-title {
  background-color: #f4ae32;
  color:white;
}
#LocalOppourtunies  .ui-paginator .ui-paginator-page.ui-state-active {
  background: #f4ae32 !important;
  color: #ffffff !important;
  border-color: #f4ae32 !important;
}

#LocalOppourtunies  .ui-paginator, #Clinics  .ui-paginator {
  text-align: left !important;
}

#LocalOppourtunies table, #Clinics table {
  margin-bottom: 0px !important;
}

.activeTabPrimeNg{
  border-top:3px solid #a43794 !important;
}
.activeTabYellowPrimeNg{
  border-top:3px solid #f4ae32 !important;
}
.cardBodyVioletBg {
  background-color: #e1bcdb !important;
}
.cardHeaderYellowBg {
  background-color: #f4ae32 !important;
}
.cardHeaderYellowBgBtn {
  background-color: #de8903 !important;
}
.cardBodyYellowBg {
  background-color: #fbe4bb !important;
}
.cardHeaderDBlueBg {
  background-color: #3c7bb4 !important;
}
.cardBodyDBlueBg {
  background-color: #bed3e6 !important;
}
.cardHeaderDGrayBg{
  background-color: #787878 !important;
}
.cardBodyDGrayBg{
  background-color: #eeeeee !important;
}
.cardBodyDBlueBg label, .cardBodyDBlueBg span, .cardBodyYellowBg label, .cardBodyYellowBg span, .cardBodyVioletBg label, .cardBodyVioletBg span, .cardBodyGreenBg label, .cardBodyGreenBg span, .cardBodyBlueBg label, .cardBodyBlueBg span{
  color: #333333;
}
.bdrBtmOnly{
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.whiteBG{
  background-color:white;
}

.BulkActionSpan {
  position: absolute;
  bottom: -4px;
  right: 28px;
  text-align: right;
}
.ui-inputtext{
  padding: 0px 10px !important;
  font-size: 14px !important;
}

.hintModal
{
  background: #3c7bb4;
  color:white;
}



.hintConfBtn {
  border: 1px solid #cf1737;
  background: #cf1737 !important;
}

.hintConfBtn:hover {
  border: 1px solid #cf1737  !important;
}

#HintDlg .btn-primary:not([disabled]):not(.disabled):active  {
  background-color: #cf1737 !important;
  border-color: #cf1737  !important;
}

.hintConfBtn:not( :hover ){ border: 1px solid #cf1737  !important; }


#HintDlg .ui-widget-header {
  background: transparent !important;
  height: 0px  !important;
}

#HintDlg .hintBtn{
  background: #cf1737 !important;
    color: white;
    position: relative;
    top: -32px;
    left: 30px;
    font-weight: 900;
    font-size: 20px;
    padding: 1px 10px;
    border-radius: 30px;
    border: 1px solid #cf1737;
}
#HintDlg .ui-dialog .ui-dialog-titlebar-close span{
  background: #cf1737 !important;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  border: 1px solid #cf1737;
  position: absolute;
  top: -10px;
  right: -14px;
}

#HintDlg .ui-dialog {
  overflow: visible !important;
  border-top: #cf1737 4px solid;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#HintDlg .fa-fw {
  width: 30px !important;
    padding: 4px;

}
#HintDlg .ui-dialog .ui-dialog-titlebar-close {
  float: none important;
  }

#myModal3 .modal-content {
  border-top-color: #cf1737;
}



#myModal4 .hintModal
{
  background: #505050;
  color:white;
}

#myModal4 .modal-content {
  border-top-color: #505050;
}



#ipNatConDNC p-dtcheckbox:first-child {
  display: none !important;
  

}

.ipNationalCntSearch{
 border-color:lightgrey;width:86%; border-style:solid; border-width:0.5px; font-family:Arial, Helvetica, sans-serif;}

 .pointerFa  i.fa-trash {
   cursor: pointer;
 }

 .ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
  background-color: transparent !important;
  color: #222222 !important;
}

 
#popOnSucc .fa-close, #dialgFollowUp  .fa-close, p-dialog[header="Send Invoice To:"] .fa-close{
  display: none !important;

}

#hintCheckBox .ui-inputswitch-on {
  border-color: #cf1737 !important;
  background: #cf1737  !important;
  color: #ffffff !important;
}

#hintCheckBox .ui-widget-content {
  cursor: pointer !important;
  display: inline-block !important;
  position: relative !important;
  height: 25px !important;
  width: 64px !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 20px !important;
  text-align: center !important;
  background: #B5C1C7 !important;
  border: 2px solid #B5C1C7 !important;
  text-transform: uppercase !important;
  font-family: Helvetica, Arial, sans-serif !important;
  -webkit-transition: 0.3s ease-out !important;
  -moz-transition: 0.3s ease-out !important;
  -o-transition: 0.3s ease-out !important;
  transition: 0.3s ease-out !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  border-radius: 2px !important;
}

#hintCheckBox .ui-inputswitch-checked {
  border: 2px solid #cf1737 !important;
}

ngb-typeahead-window {
  left:0px !important;
  max-height: 420px;
  overflow: hidden;
  overflow-y: auto;
  max-width: 561px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.printMrgnOrpdng{
  display: none !important;
}

.txt10{
  font-size: 12px;
  line-height: 1px;
}

.undLink{
  text-decoration: underline !important;
}

.w30{
  width:30px;
}
.w90{
  width:240px;
}

#HintDlg .ui-dialog{
  position: absolute;
  top:100px !important;
  } 


  .list-group-item {
    padding: 5px 10px !important;
  }

  .noBg{
    background-color:transparent !important;
  }



  .inTbl  .btn {
    height: 24px !important;
    font-size: 10px !important;
    padding: 4px 4px  !important;
}

.border-0  thead th{
  border-bottom: none !important;
  border-top: none !important;
}


.bdr2{
  border-radius: 8px !important;
}

.blueText {
  color:#2a7db5  !important
}

.h-340 {
  height: 340px !important;
}

.mh300 {
  min-height: 300px;
  height: 300px;
  max-height: 300px;
}

.f24b {
  font-size: 24px !important;
  font-weight: bold;
}
.f18r{
  font-size: 18px !important;
}

input::-ms-clear, input::-ms-reveal, ::-ms-clear, ::-ms-reveal {
  display: none !important;
}

.elipsisText{
  overflow-wrap: break-word;
  margin-bottom: 20px;
}

.column3{
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  }
  
  .column3 ul li{
    line-height: 30px;
  }