<section>
				<div class="container">
				<div class="row">

						<!-- RIGHT -->
						<div class="col-lg-9 col-md-9 col-sm-8 order-md-2 order-sm-2 mb-80">

							<ul class="nav nav-tabs nav-top-border">
								<li><a href="#info" class="active" data-toggle="tab">Personal Info</a></li>
								<li><a href="#assignments" data-toggle="tab">Assignments</a></li>
							</ul>

							<div class="tab-content mt-20">

								<!-- PERSONAL INFO TAB -->
								<div class="tab-pane active" id="info">
									<form action="#" method="post">
										<div class="form-group">
												<label class="form-control-label">User Role *</label>
										<div class="fancy-form fancy-form-select">
										<select class="form-control select2" name="userRole" (change)="onSelect($event.target.value)" [(ngModel)]="selectedUserRole">
											<option value="0">--- Select Role ---</option>
											<option *ngFor="let item of userRoleItems"
											value="{{item.id}}">
												{{ item.RoleName }}
											</option>
										</select>
										<i class="fancy-arrow"></i>
									</div>
									</div>
										<div class="form-group">
											<label class="form-control-label">First Name *</label>
											<input type="text" name="contact[first_name]" value="{{user?.firstname}}" class="form-control required">
										</div>
										<div class="form-group">
											<label class="form-control-label">Last Name *</label>
											<input type="text" name="contact[last_name]" value="{{user?.lastname}}" class="form-control required">
										</div>
										<div class="form-group">
											<label class="form-control-label">Email *</label>
											<input type="email" name="contact[email]" value="{{user?.username}}" class="form-control required">
										</div>
										<div class="form-group">
											<label class="form-control-label">Region</label>
											<label class="form-control-label">{{user?.regionId}}</label>
										</div>
										<div class="form-group">
											<label class="form-control-label">Area</label>
											<label class="form-control-label">{{user?.areaId}}</label>
										</div>
										<div class="form-group">
											<label class="form-control-label">District</label>
											<label class="form-control-label">{{user?.districtId}}</label>
										</div>
										<div class="form-group">
											<label class="form-control-label">Store</label>
											<label class="form-control-label">{{user?.storeId}}</label>
										</div>
										<!--<div class="form-group">
										<label>District Stores</label>
										<select name="contact[position]" class="form-control pointer required">
											<option value="">--- Select ---</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											</select>
										</div>-->
										<div class="margiv-top10">
											<a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Save Changes </a>
											<a routerLink="/userprofile" class="btn btn-primary">Cancel </a>
										</div>
									</form>
								</div>
								<!-- /PERSONAL INFO TAB -->

								<!-- userrole TAB -->
								<div class="tab-pane fade" id="userrole">

									<form class="clearfix" action="#" method="post" enctype="multipart/form-data">
										<div class="form-group">

											<div class="row">
<div class="col-md-6 col-sm-6">
         <label>
                <input type="radio" name="radio-btn" value="1" (click)="setradio(1)" [checked]='true'>
                <i></i> Admin
                </label>
                 <label>
                <input type="radio" name="radio-btn" value="2" (click)="setradio(2)">
                <i></i> Regional Healthcare Director
                </label>
                 <label >
                <input type="radio" name="radio-btn" value="3" (click)="setradio(3)">
                <i></i> Regional Vice President
                </label>
                <label>
                <input type="radio" name="radio-btn" value="4" (click)="setradio(4)">
                <i></i> Healthcare Supervisor
                </label>
                 <label>
                <input type="radio" name="radio-btn" value="5" (click)="setradio(5)">
                <i></i> Director – Rx & Retail Ops
                </label>
                 <label>
                <input type="radio" name="radio-btn" value="6" (click)="setradio(6)">
                <i></i> District Manager
                </label>
                 <label>
                <input type="radio" name="radio-btn" value="7" (click)="setradio(7)">
                <i></i> Pharmacy Manager
                </label>
                 <label>
                <input type="radio" name="radio-btn" value="8" (click)="setradio(8)">
                <i></i> Store Manager
                </label>
	    </div>
		</div>

											</div>


										<div class="margiv-top10">
											<a href="#" class="btn btn-primary">Save Changes </a>
											<a routerLink="/userprofile" class="btn btn-primary">Cancel </a>
										</div>

									</form>

								</div>
								<!-- /userrole TAB -->

								<!-- assignments TAB -->
								<div class="tab-pane fade" id="assignments">

									<form action="#" method="post">

										<p> User Assignments logic here! </p>

									</form>

								</div>
								<!-- /assignments TAB -->
							</div>

						</div>

						
						<!-- LEFT -->
						<div class="col-lg-3 col-md-3 col-sm-4 pull-lg-9 order-md-1 order-sm-1">
						
							<div class="thumbnail text-center">
								<h2 class="fs-18 mt-10 mb-0">{{user?.firstname}} {{user?.lastname}}</h2>
								<h3 class="fs-11 mt-0 mb-10 text-muted">{{user?.RoleName}}</h3>
							</div>

							<!-- SIDE NAV -->
							<ul class="side-nav list-group mb-60" id="sidebar-nav">
                                <li class="list-group-item active"><a href="page-profile-settings.html"><i class="fa fa-gears"></i> SETTINGS</a></li>
								<li class="list-group-item"><a href="page-profile-history.html"><i class="fa fa-history"></i> HISTORY</a></li>								
							</ul>
							<!-- /SIDE NAV -->
						</div>

					</div>
				</div>
			</section>