<div class="container">
		<p-confirmDialog header="Confirmation"  [closable]="false" [closeOnEscape]="false"  [responsive]="true"  width="600"  #cd>
				<p-footer class="float-right">
					<button type="button" pButton icon="fa-check" label="Continue" (click)="cd.accept()"></button>
					<button type="button" pButton icon="fa-close" label="Cancel" (click)="cd.reject()"></button>
				</p-footer>
			</p-confirmDialog>
			  <p-dialog header="{{dialogSummary}}" [(visible)]="display" [closable]="false" [closeOnEscape]="false" modal="modal" width="600" [responsive]="true">
				<p>{{dialogMsg}}</p>
					<p-footer>
						<button type="button" class="pull-right" pButton (click)="okClicked()" label="Ok"></button>
					</p-footer>
			</p-dialog>
<div class="row process-wizard process-wizard-primary">

	<div class="col-3 col-md-3 col-lg-3 col-sm-3 process-wizard-step" [ngClass]="{'active': step===1, 'complete': step>=1}">
		<div class="text-center process-wizard-stepnum">Step 1</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a (click)="GoToStep(1)" class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center">Immunizations & Payment Methods</div>
	</div>

	<div class="col-3 col-md-3 col-lg-3 col-sm-3 process-wizard-step" [ngClass]="{'active': step===2, 'complete': step>=2}"><!-- complete -->
		<div class="text-center process-wizard-stepnum">Step 2</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a (click)="GoToStep(2)" class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center">Clinic Locations</div>
	</div>

	<div class="col-3 col-md-3 col-lg-3 col-sm-3  process-wizard-step" [ngClass]="{'active': step===3, 'complete': step>=3}"><!-- complete -->
		<div class="text-center process-wizard-stepnum">Step 3</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a (click)="GoToStep(3)"class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center">Pharmacy Information</div>
	</div>

	<div class="col-3 col-md-3 col-lg-3 col-sm-3 process-wizard-step" (uploaded)="GoToStep($event)" [ngClass]="{'active': step===4, 'complete': step>=4}"><!-- active -->
		<div class="text-center process-wizard-stepnum">Step 4</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a (click)="GoToStep(4)"class="process-wizard-dot"></a>
		<div class="process-wizard-info text-center">Review & Send</div>
	</div>

</div>
</div>

<div class="tab-content mt-60 container">
	<div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===1}" id="step1" *ngIf='step===1'>
    <app-immunizations  [outReachProgramType]="OutReachProgramType" (clinicSubmit)="GoToStep($event)"></app-immunizations>

	</div>

	<div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===2}" id="step2" *ngIf='step===2'>
		 <app-locations-list (clinicSubmit)="calculateNextStep($event)" [outReachProgramType]="OutReachProgramType"></app-locations-list>					
	</div>

	<div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===3}" id="step3" *ngIf='step===3'>
	
		<app-witness (clinicSubmit)="GoToStep($event)"></app-witness>
	</div>

	<div role="tabpanel" class="tab-pane" [ngClass]="{'active': step===4}" id="step4" *ngIf='step===4'>
		<app-agreement (clinicSubmit)="GoToStep($event)"></app-agreement>
	</div>
	

<ul class="pager">
  <li class="previous" *ngIf="step<4"><button class="btn btn-primary btn-lg" (click)="step > 1 ? GoToStep(step - 1) : null" [ngClass]="{'disabled': step===1}">Back</button></li>
  <li class="text-center"><button class="btn btn-primary btn-sm"  *ngIf="step < 4" (click)="cancelContract()">Cancel</button></li>	
  <li class="text-center"><button class="btn btn-primary btn-lg" *ngIf="step < 4" (click)="saveBtnClicked()" >Save</button></li>  
  <li class="next" *ngIf="step<4"><button class="btn btn-primary btn-lg" (click)="step < 4 ? GoToStep(step + 1) : null" [ngClass]="{'disabled': step===4}">Next</button></li>
</ul>
<!-- <pre>{{contractData | json}}</pre> -->
</div>
<p-dialog class="blueBgDark" header="{{dialogSummary}}" [(visible)]="savePopUp" modal="modal" modal="true" [responsive]="true"
    [contentStyle]="{'max-width':'640px'}">
    <p>{{dialogMsg}}</p>
    <p-footer>
        <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="doNotSave()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="Continue()">Ok</button>
        </div>
    </p-footer>
</p-dialog>

<hintscomponent [dispHintDialog]="showHints" [stepNumber]="step" [title]="pageName" ></hintscomponent>