<div id="header" class="navbar-toggleable-md sticky header-sm clearfix">
  <!-- TOP NAV -->
  <header id="topNav">
     <div class="container">
        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
        </button>
        <!-- BUTTONS -->
        <ul class="float-right nav nav-pills nav-second-main">
           <!-- SEARCH -->
          
           <!-- /SEARCH -->
        </ul>
        <!-- /BUTTONS -->
        <!-- Logo -->
        <a class="logo hidden-sm-down float-left pt-10" href="index.html">
          <img src="assets/images/Walgreens-logo.png" style="width:240px; height: 53px; "/>
        </a>
             <a class="logo hidden-md-up float-left" href="index.html">
          <img src="assets/images/_smarty/Walgreens_mobile_logo.png"style="width:32px; height: 35px;"  />
        </a>
        <!-- 
           Top Nav 
           
           AVAILABLE CLASSES:
           submenu-dark = dark sub menu
           -->
        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
           <nav class="nav-main">
              <ul id="topMain" class="nav nav-pills nav-main">
                 <li class="dropdown">
                    <!-- HOME -->
                    <a class="dropdown-toggle" routerLink="/home"
                    routerLinkActive="active">
                    HOME
                    </a>
                    <ul  class="dropdown-menu">
                      <li>
                       <a class="dropdown-toggle" routerLink="/contract"
                       routerLinkActive="active">CONTRACT</a>
                      </li>
                      
                      <li>
                       <a class="dropdown-toggle" routerLink="/addbusiness"
                       routerLinkActive="active">ADD BUSINESS</a>
                      </li>
                      <li>
                       <a class="dropdown-toggle" routerLink="/editbusiness"
                       routerLinkActive="active">EDIT BUSINESS</a>
                      </li>
                      <li>
                       <a class="dropdown-toggle" routerLink="/scheduleevent"
                       routerLinkActive="active">SCHEDULE EVENT</a>
                      </li>
                    </ul>
                 </li>
                 <li class="dropdown">
                    <!-- DASHBOARD -->
                    <a class="dropdown-toggle" href="#">
                    DASHBOARD
                    </a> 
                     <ul  class="dropdown-menu">      
                    <li>
                       <a class="dropdown-toggle" routerLink="/contractapprove"
                       routerLinkActive="active">APPROVE CONTRACT</a>
                      </li>  
                     </ul>           
                 </li>
                 <li class="dropdown">
                    <!-- MAP -->
                    <a class="dropdown-toggle" routerLink="/scheduleevent"
                    routerLinkActive="active">
                    MAP
                    </a>
                 </li>
                 <li class="dropdown">
                    <!-- RESOURCES -->
                    <a class="dropdown-toggle">RESOURCES</a>
                 </li>
                 <li class="dropdown">
                    <!-- REPORTS -->
                    <a class="dropdown-toggle" href="#">
                    REPORTS
                    </a>
                 </li>
                 <li class="dropdown">
                    <!-- ADMIN -->
                    <a class="dropdown-toggle">ADMIN</a>
                                          <ul class="dropdown-menu">
                         <li><a routerLink="/userprofile">User Profile</a></li>
                       </ul>
                 </li>
                 <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                    <!-- THEMATIC -->
                    <a class="dropdown-toggle noicon" href="#">
                    <b>SIGN OUT</b>
                    </a>
                 </li>
              </ul>
           </nav>
        </div>
     </div>
  </header>
  <!-- /Top Nav -->
</div>
<section class="page-header page-header-xs dark">
  <div class="container">
     <h1 class="small">{{header_title}}</h1>
      
     <!-- breadcrumbs -->
     
     
     <!-- /breadcrumbs -->
  </div>
</section>
<!-- /PAGE HEADER -->
<!--<div class="container">
<div class="row float-right search search-box">             
              <a href="javascript:;"><i class="fa fa-search"></i></a>              
              <app-store-search></app-store-search>
           </div>
</div>-->