
section.dark.page-header {
		color:#fff;
		background-color:#3c7bb4 !important;
	}
  section.page-header.page-header-xs
  {
      padding: 10px 0 10px 0;
  }
  ol{
      flex-direction: column;
  }
  section.page-header .breadcrumb>li+li:before {
	content:"";
}
section.dark .form-control {
     background-color: #fff; 
}