<div class="container">
    <div class="alert alert-mini alert-success mb-30">
        <strong>ATTENTION:</strong> Please enter the number of Vouchers Distributed and Estimated Shots below, even if a clinic is
        <strong>not</strong> conducted
    </div>
    <p-confirmDialog header="Confirmation"  [closable]="false" [closeOnEscape]="false" width="600" height="200"  [responsive]="true" #cd>
        <p-footer class="float-right">
            <button type="button" pButton icon="fa-check" label="Continue" (click)="cd.accept()"></button>
            <button type="button" pButton icon="fa-close" label="Cancel" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
    <p-dialog header="{{dialogSummary}}"  [closable]="false" [closeOnEscape]="false"  [(visible)]="display" modal="modal" width="400" [responsive]="true">
        <p>{{dialogMsg}}</p>
        <p-footer>
            <button type="button" class="pull-right" pButton (click)="okClicked()" label="Ok"></button>
        </p-footer>
    </p-dialog>
    <p-dialog header="{{dialogSummary}}"  [closable]="false" [closeOnEscape]="false"  [(visible)]="errordisplay" modal="modal" width="400" [responsive]="true">
            <p>{{dialogMsg}}</p>
            <p-footer>
                <button type="button" class="pull-right" pButton (click)="okErrorClicked()" label="Ok"></button>
            </p-footer>
        </p-dialog>
    <form [formGroup]="contractForm" (ngSubmit)="save()" class="mb-0">
        <p-growl [(value)]="msgs"></p-growl>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div>
                    <div>
                        <div class="text-right mb-10">
                            <a (click)="addLocation(undefined)" style="cursor: default">
                                Add Location
                                <button type="button" class="btn btn-teal">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </a>
                        </div>
                        <div formArrayName="clinicList">
                            <div *ngFor="let address of contractForm.controls.clinicList['controls']; let i=index" [formGroupName]="i" class="card card-default">
                                <div class="card-heading card-heading-transparent">
                                    <span>Clinic {{i + 1 | locationNumber: i }}</span>
                                    <span class="glyphicon glyphicon-remove pull-right" *ngIf="i > 0" (click)="removeLocation(i)"></span>
                                </div>
                                <div class="card-block">
                                    <app-charity-locations [locFormArray]="contractForm.controls.clinicList" [group]="contractForm.controls.clinicList.controls[i]" [locationNumber]="i"></app-charity-locations>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-0 mt-0">
            <div class="col-md-6 offset-md-3 sm-offset-3 col-sm-6 col-xs-12">
                <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                <button type="button" (click)="CancelCharity()" class="btn btn-primary   btn-block">Cancel</button>
                            </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <button type="submit" (click)="save()" class="btn btn-primary btn-block btn-xs">Submit Program Details</button>
                    </div>
                  

                </div>
            </div>
        </div>
    </form>
</div>

<p-dialog class="blueBgDark" header="{{dialogSummary}}" [(visible)]="savePopUp" modal="modal" modal="true" [responsive]="true"
    [contentStyle]="{'max-width':'640px'}">
    <p>{{dialogMsg}}</p>
    <p-footer>
        <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="doNotSave()">Do Not Save</button>
            <button type="button" class="btn btn-primary" (click)="Continue()">Continue Setup</button>
        </div>
    </p-footer>
</p-dialog>

<hintscomponent [dispHintDialog]="showHints" [title]="pageName" ></hintscomponent>