<p-dialog header="{{dialogSummary}}"  [closable]="false" [closeOnEscape]="false"  [(visible)]="display" modal="modal" width="600" [responsive]="true">
    <p>{{dialogMsg}}</p>
    <p-footer>
        <button type="button" class="pull-right" pButton (click)="display=false" label="Ok"></button>
    </p-footer>
</p-dialog>
<form [formGroup]="immunizationForm">
        <div>
                <!-- <div class="row mb-20" *ngIf="outReachProgramType === 'contracts'">
                <div class="col-md-12 col-sm-12" [ngClass]="displayFieldCss('everGreen')">
                        <label class="radio pl-0"><strong>Is this an Evergreen Contract</strong></label>
                            <label class="radio">
                                    <input type="radio" (click)="radioCheck('1')" value="1" formControlName="everGreen">
                                    <i></i> Yes
                                </label>
                                <label class="radio">
                                        <input type="radio" (click)="radioCheck('2')" value="2" formControlName="everGreen">
                                        <i></i> No
                                    </label>
                        </div>
                </div> -->
            <div class="row mb-20">
                 
                <div class="col-md-4 col-sm-4">
                    <label for="immunizations">Immunization *</label>
                    <div class="fancy-form" [ngClass]="displayFieldCss('immunizationSelected')">
                        <select name="immunizations" class="form-control pointer required" formControlName="immunizationSelected" (change)="ImmChanged($event.target.value)">
                            <option value="">Select Immunization</option>
                            <option *ngFor="let immunization of boundImmunizations | unique : 'immunizationId'" value={{immunization.immunizationId}}>{{immunization.immunizationName}}</option>
                        </select>
                        <i class="fancy-arrow"></i>
                    </div>
                    <app-field-error-display [displayError]="isFieldValid('immunizationSelected')"></app-field-error-display>
                </div>
                <div class="col-md-4 col-sm-4">
                    <label for="payments">Payment Method *</label>
                    <div class="fancy-form form-group" [ngClass]="displayFieldCss('paymentsSelected')">
                        <select name="payments" class="form-control required" formControlName="paymentsSelected" (change)="PmtChanged($event.target.value)">
                            <option value="">Select Payment Method</option>
                            <option *ngFor="let Payment of PaymentTypes" value={{Payment.paymentTypeId}}>{{Payment.paymentTypeName}}</option>
                        </select>
                        <i class="fancy-arrow"></i>
                    </div>
                    <app-field-error-display [displayError]="isFieldValid('paymentsSelected')"></app-field-error-display>
                </div>
                <div class="col-md-1 col-sm-2">
                    <label>Rate</label> 
                    <label *ngIf ="price<0 || price === 'N/A'">{{'N/A'}}</label>
                    <label *ngIf ="price>=0">{{price | currency:'USD':true:'2.2'}}</label>
                </div>
                <div class="col-md-3 col-sm-2">
                    <button type="button" class="btn btn-teal mt-30" (click)="addFieldValue()">
                            <span>Add</span> <i class="fa fa-plus"></i> 
                    </button>
                </div>
            </div>
            <p-dialog class="blueBgDark" header="Send Invoice To:" [(visible)]="displayDialog" 
            [width]="1000" modal="modal"  [responsive]="true" class="validate">
                <div class="row" [ngClass]="displayFieldCss('select_outreach')">
                    <div class="col-md-12 col-sm-12 mb-10">
                            <div class="alert alert-mini alert-warning mb-30">
                                    <p>By selecting ‘Corporate to Invoice Client Directly’ STORE acknowledges intent for EMPLOYER/CLIENT to be invoiced for all claims billed in IC+ to assigned IMZ group number. Portal IMZ group numbers should not be used for charity clinics or insurance billing</p>
                                </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mb-10">
                        <div *ngIf="sendInvoiceTo">
                            <div class="row">
                                <div class="col-md-3 col-sm-3" [ngClass]="displayFieldCss('name')">
                                    <label>Name*</label>
                                    <input type="text" pInputText  name="contact[invoice_name]" formControlName="name" value="" class="form-control required">
                                </div>
                                <div class="col-md-3 col-sm-3" [ngClass]="displayFieldCss('phone')">
                                    <label>Phone*</label>
                                    <input type="text" name="contact[invoice_phone]" formControlName="phone" class="form-control required" minlength="10" maxlength="10"
                                        pInputText pKeyFilter="pint">
                                </div>
                                <div class="col-md-3 col-sm-3" [ngClass]="displayFieldCss('email1')">
                                    <label>Email*</label>
                                    <input type="email" name="contact[invoice_email]" formControlName="email1" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$"
                                        value="" class="form-control required">
                                </div>
                                <div class="col-md-3 col-sm-3" [ngClass]="displayFieldCss('email2')">
                                    <label>Verify Email*</label>
                                    <input type="email" name="contact[invoice_verify_email]" formControlName="email2" pattern="^[a-zA-Z][\w\.-]*[a-zA-Z0-9]@[a-zA-Z0-9][\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$"
                                        value="" class="form-control required">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3" [ngClass]="displayFieldCss('address1')">
                                    <label>Address1*</label>
                                    <input type="text" name="contact[invoice_address1]" formControlName="address1" value="" class="form-control required">
                                </div>
                                <div class="col-md-3 col-sm-3" [ngClass]="displayFieldCss('address2')">
                                    <label>Address2</label>
                                    <input type="text" name="contact[invoice_address2]" formControlName="address2" value="" class="form-control">
                                </div>
                                <div class="col-md-2 col-sm-2" [ngClass]="displayFieldCss('city')">
                                    <label>City*</label>
                                    <input type="text" name="contact[invoice_city]" value="" formControlName="city" class="form-control required">
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <label>State*</label>
                                    <div class="fancy-form" [ngClass]="displayFieldCss('state')">
                                        <select class="form-control select required" formControlName="state" name="contact[invoice_state]">
                                            <option value="">Select</option>
                                            <option *ngFor="let state of states" [ngValue]="state.id">{{state.id}}</option>
                                        </select>
                                        <i class="fancy-arrow"></i>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2" [ngClass]="displayFieldCss('zip')">
                                    <label>Zip Code*</label>
                                    <input type="zip" name="contact[invoice_zip]" formControlName="zip" pInputText pKeyFilter="pint" minlength="5" maxlength="5"
                                        value="" class="form-control required">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <label>Is Employer Tax Exempt?*</label>
                                    <div class="fancy-form" [ngClass]="displayFieldCss('isTaxExempt')">
                                        <select class="form-control select required" formControlName="isTaxExempt" name="contact[invoice_taxexempt]">
                                            <option value="">Select</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                        <i class="fancy-arrow"></i>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <label>Will Patient Pay a Portion of the Cost - Is There a Copay?*</label>
                                    <div class="fancy-form" style="width: 25%" [ngClass]="displayFieldCss('isCopay')">
                                        <select class="form-control select required" name="contact[invoice_iscopay]" formControlName="isCopay"
                                         (change)="handleCopay($event.target.value)">
                                            <option value="">Select</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                        <i class="fancy-arrow"></i>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2" *ngIf="isCopay===true" [ngClass]="displayFieldCss('copayValue')">
                                    <label>Copay*</label>
                                    <span style="display: inline-flex;align-items: baseline;"> $ <span class="mr-5"></span><input type="text" name="contact[invoice_copay]" pInputText pKeyFilter="num"   formControlName="copayValue" value="" class="form-control required"></span> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <label>Voucher Needed*</label>
                                    <div class="fancy-form" [ngClass]="displayFieldCss('isVoucherNeeded')">
                                        <select class="form-control select required" name="contact[invoice_isvoucher]" formControlName="isVoucherNeeded" (change)="handleVoucher($event.target.value)">
                                            <option value="">Select</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                        <i class="fancy-arrow"></i>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2" *ngIf="isVoucher==='1' || isVoucher===true || isVoucher===1 || isVoucher==='Yes'">
                                    <label>Expiration Date</label>
                                    <p-calendar class="primeng-control required" formControlName="expirationDate"  readonlyInput="true" [minDate]="minDateValue" utc="false"
                                    [defaultDate]="voucherExpirationDate" (onSelect)="onClinicDateSelected($event)" [maxDate]="maxDateValue"></p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p-footer>
                    <div class="float-right">
                    <button type="button" (click)="displayDialogCC()" class="btn btn-teal" >
                        Cancel
                    </button>
                    <button type="button" *ngIf="btnContinue" (click)="displayDialogContinue()" class="btn btn-teal">
                        Continue
                    </button>
                    <button *ngIf="btnUpdate" type="button" (click)="displayDialogUpdate()" class="btn btn-teal">
                        Update
                    </button>
                </div>
                </p-footer>
            </p-dialog>
        </div>
        <div class="card card-default">
            <div class="card-heading">
                <h2 class="card-title">Added Immunizations and Payment Methods</h2>
            </div>
            <div class="card-block">
                <!--<div class="row mt-5" *ngFor="let ca of contract?.ClinicAgreement.Immunizations.Immunization; let i = index">-->
                <div class="mt-5" *ngFor="let ca of addedImmunizations; let i = index">
                        <hr *ngIf="i>0"/>
                    <div class="row">
                    <div class="col-12 col-md-4">
                        <span class="font-weight-bold" >Immunization</span>
                        <label class="font-weight-normal">{{ca.immunizationName}}</label>
                    </div>
                    <div class="col-12 col-md-4">
                        <span class="font-weight-bold" >Payment Method</span>
                        <label class="font-weight-normal">{{ca.paymentTypeName}}</label>
                       
                        <div *ngIf="ca.sendInvoiceTo == '1'" class="font-weight-bold">Send Invoice to:
                            <span class="font-weight-normal"><br/>{{ca.name}} <br/></span>
                            <span class="font-weight-normal">{{ca.address1}} {{ca.address2}}<br/></span>
                            <span class="font-weight-normal">{{ca.city}}, {{ca.state}} {{ca.zip}} <br/><br/></span>
                            <span class="font-weight-normal">{{getPhoneNoInUSFormat(ca.phone)}} <br/></span>
                            <span class="font-weight-normal">{{ca.email}} <br/><br/></span>
                        </div>
                        <div *ngIf="ca.sendInvoiceTo == '1'" class="font-weight-bold">Is Employer Tax Exempt?
                            <label class="font-weight-normal">{{ca.isTaxExempt=='1'?'Yes':'No'}}</label>
                            Will patient pay a portion of the cost – Is there a Copay?
                            <label class="font-weight-normal">{{ca.isCopay=='1'?'Yes':'No'}}</label>
                        </div>
                        <span *ngIf="ca.sendInvoiceTo == '1' && ca.isCopay=='1' " class="font-weight-bold">Copay Value:
                            <label class="font-weight-normal">{{ca.copayValue | currency:'USD':true:'2.2'}}</label>
                        </span>
                        <span *ngIf="ca.sendInvoiceTo == '1'" class="font-weight-bold">Voucher Needed:
                            <label class="font-weight-normal">{{ca.isVoucherNeeded=='1'? 'Yes':'No'}}</label>
                        </span>
                        <!-- <span *ngIf="ca.sendInvoiceTo == 'yes' && isVoucherFieldNeeded==true" class="font-weight-bold">Expiration Date:
                            <label class="font-weight-normal">{{ca.voucherExpirationDate}}</label>
                        </span> -->
                        <span *ngIf="ca.sendInvoiceTo == '1' && ca.isVoucherNeeded=='1'" class="font-weight-bold">Expiration Date:
                            <label class="font-weight-normal">{{ca.voucherExpirationDate | date:'MM/dd/yyyy'}}</label>
                        </span>
                    </div>
                    <div class="col-12 col-md-2 col-lg-1">
                        <span class="font-weight-bold">Rate</span>
                        <label *ngIf="ca.showprice == '0' || ca.price<0 || ca.price == 'N/A'"> {{'N/A'}}</label>
                        <label *ngIf="ca.price >=0"> {{ca.price | currency:'USD':true:'2.2'}}</label>
                    </div>
                    <div class="col-md-2 col-sm-1">
                        <button type="button" class="btn btn-teal" (click)="deleteFieldValue(i)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <span *ngIf="ca.sendInvoiceTo=='1'" class="col-md-1 col-sm-1" >
                                <button type="button" class="btn btn-teal" (click)="editCorporateToInvoice(ca.immunizationPk,i)">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                            </span>
                    </div>
                 
                </div></div>
            </div>
        </div>
</form>

