/* ul a + ul { display: none; }
ul a.open + ul { display: block; } */

.search span {
    cursor: pointer;
}
.oSearch {
    display: inline-block;
    width: 560px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 33px;
    right: 0px;
    padding: 10px;
}
.oSelect {
    width: 130px;
}
