<div id="header"  class="navbar-toggleable-md static header-md clearfix">

  
  <!-- TOP NAV -->
  <header id="topNav" *ngIf="isShowHeaderFooter" >
    <div class="container">
      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <!-- BUTTONS -->
      <ul class="float-right nav nav-pills nav-second-main" *ngIf="isStoreTitle" >
        <!-- SEARCH -->
        <li class="search" (clickOutside)="onClickedOutside($event)">
          <span *ngIf="isAdmin" (click)="storeSearch()">Store Search</span>
          <div *ngIf="showVar" class="oSearch">

            <input id="typeahead-format" placeholder="Search by store id, city or state to select a Walgreens store location." type="text"
              class="form-control" [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="formatter" (selectItem)="onSelect($event)"/>
          </div>
          <!-- select -->
          <div *ngIf="isPowerUser" class="">
            <select class="form-control form-control-sm oSelect" (change)="selectDropdownStore($event.target.value);">
              <option value="0"> Select Store</option>
              <option value="{{store_data.storeId}}" *ngFor="let store_data of storeInfo">
                {{store_data.storeId}} - {{store_data.address}}
              </option>
            </select>
          </div>
        </li>
        <!-- /SEARCH -->
      </ul>
      <!-- /BUTTONS -->
      <!-- Logo -->
      <a class="logo hidden-sm-down float-left pt-10">
        <img routerLink="/landing" src="assets/images/walgreens_1901_logo.png" />

      </a>
      <a class="logo hidden-md-up float-left">
        <img routerLink="/landing" src="assets/images/_smarty/Walgreens_mobile_logo.png" style="width:32px; height: 35px;" />
      </a>
      <!-- 
           Top Nav 
             [attr.ariaExpanded]="link.navigationItems && openElements[i] ? true : null"
                  [attr.ariaHasPopup]="link.navigationItems ? true : null"
                  (click)="link.navigationItems ? openElements[i] = !openElements[i] : null"
                  [class]="openElements[i] ? 'open' : null"
           AVAILABLE CLASSES:
           submenu-dark = dark sub menu
           -->
      <div class="navbar-collapse collapse float-right nav-main-collapse">
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main">
            <li [ngClass]="{'dropdown': link.navigationItems?.length > 0}" *ngFor="let link of menu; let i = index;">
              <a [ngClass]="{'dropdown-toggle': link.navigationItems?.length > 0}" routerLink="{{link.url}}" aria-role="menuitem">
                {{link.title}}
              </a>

              <ul *ngIf="link.navigationItems" role="menu" class="dropdown-menu">
                <li [ngClass]="{'dropdown': link.navigationItems?.length > 0}" *ngFor="let link of link.navigationItems;let i=index">
                  <a [ngClass]="{'dropdown-toggle': link.navigationItems?.length > 0}" routerLink="{{link.url}}" [innerHTML]="link.title" [attr.target]="link.target ? link.target : null"
                    role="menuitem">
                  </a>
                  <ul *ngIf="link.navigationItems"  class="dropdown-menu">                  
                    <li *ngFor="let slink of link.navigationItems">
                      <a routerLink="{{slink.url}}">{{slink.title}}</a>
                </li>
              </ul>
            </li>
          </ul>
          </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container" *ngIf="!isShowHeaderFooter">
  <header id="topNav" >
          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
              <i class="fa fa-bars"></i>
            </button>
                  <!-- Logo -->
      <a class="logo hidden-sm-down float-left pt-10" style="cursor:unset">
          <img src="assets/images/walgreens_1901_logo.png" />
  
        </a>
        <a class="logo hidden-md-up float-left"  style="cursor:unset">
          <img src="assets/images/_smarty/Walgreens_mobile_logo.png" style="width:32px; height: 35px;" />
        </a>
  </header>
</div>
  <!-- /Top Nav -->
  </div>
  <section class="page-header page-header-xs dark pt-10 pb-10">
    <div class="container">
      <h1 class="small">{{header_title}}</h1>
      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li>
          <span>{{displayName}} {{displayNumber}}</span>
          <span *ngIf="isPowerUser">|</span> {{storeAddress}}</li>
        <!--<li class="text-right"><app-store-search></app-store-search></li>-->
        <li class="bold" >Last Activity: {{last_access | date:'MM/dd/yyyy' }}</li>
      </ol>
      <!-- /breadcrumbs -->
    </div>
  </section>
  <!-- /PAGE HEADER -->
  <section class="pt-20">
    <div class="container">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
  </section>

  <!-- FOOTER -->
  <app-footer *ngIf="isShowHeaderFooter"></app-footer>
  <div class="container" *ngIf="!isShowHeaderFooter">
      <!-- <p class="text-center">
          All scheduled corporate, charity (HHS Voucher), community outreach and local clinics will be monitored on a weekly
          basis by the Purchasing Team to ensure that the hosting store is shipped the proper
          Flu vaccine. For status of shipment please go to Storenet > Patient Care > Immunization
          Services > Immunization Reports</p>
      <p class="text-center">
          For Questions or Concerns, please open a ticket with the <span ><a
              href="https://helpctr.walgreens.com/docugen/viewmenu/immunization_services" 
              target="_blank">Immunization Service Desk</a></span>.</p>
      <p class="text-center">
          The <span><a href="https://helpctr.walgreens.com/docugen/viewmenu/immunization_services"
               target="_blank">Immunization Service Desk</a></span> can be
          accessed directly through the <span class="class24"><a href="http://snetapp.walgreens.com/SNETGatewayLBWeb/walgreens/snet/utl/StoreNetMain.html"
              target="_blank">Immunization Services Storenet page</a></span>
          (Storenet > Patient Care > Immunization Services), by clicking the Immunization
          Service Desk hyperlink under the “Questions” header located on the main page.</p> -->

  </div>
  <!-- /FOOTER -->
  <!-- <app-store-home></app-store-home> -->