<div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable">
       <span [innerHTML]="alert.message"></span>
     <a class="close" (click)="removeAlert(alert)">&times;</a>
</div>