<form [formGroup]="schedule_event_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-success">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group" [ngClass]="displayFieldCss('eventdate')">
                                    <label for="eventdate" class="required">*Date of Event</label>
                                    <p-calendar (onSelect)="onScheduleDateSelected($event)" class="primeng-control" readonlyInput="true" formControlName="eventdate"></p-calendar>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group" [ngClass]="displayFieldCss('eventStartTime')">
                                    <label for="inputPassword" class="required">*Event Time Start</label>
                                    <p-calendar class="primeng-control" formControlName="eventStartTime" [defaultDate]="defaultTime" [stepHour]="1" [stepMinute]="30"
                                        [timeOnly]="true" hourFormat="12"></p-calendar>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group" [ngClass]="displayFieldCss('eventEndTime')">
                                    <label for="inputPassword" class="required">*Event Time End</label>
                                    <p-calendar class="primeng-control" formControlName="eventEndTime" [defaultDate]="defaultTime" [stepHour]="1" [stepMinute]="30"
                                        [timeOnly]="true" hourFormat="12"></p-calendar>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="estNoOfAttnds" class="shortLabel">Estimated Number of Attendees</label>
                                    <input type="text" class="form-control" formControlName="numberOfAttendees" id="estNoOfAttnds" (keypress)="onlyNumbers($event)" (paste)="$event.preventDefault()">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group" [ngClass]="displayFieldCss('eventTypeId')">
                                    <label for="inputPassword" class="required">*Event Type</label>
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                                <label class="radio shortLabel">
                                                    <input type="radio" value="6" checked="checked" (change)="eventTypeClick()" formControlName="eventTypeId">
                                                    <i></i> Social Event (Bingo, etc.)
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                                <label class="radio">
                                                    <input type="radio" value="7" checked="checked" (change)="eventTypeClick()" formControlName="eventTypeId">
                                                    <i></i> Health & Wellness
                                                </label>
                                            </div>
                                            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                                                <label class="radio">
                                                    <input type="radio" value="3" checked="checked" (change)="eventTypeClick()" formControlName="eventTypeId">
                                                    <i></i> Presentation
                                                </label>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                <label class="radio">
                                                    <input type="radio" value="5" checked="checked" (change)="eventTypeClick()" formControlName="eventTypeId">
                                                    <i></i> Education
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                                <label class="radio">
                                                    <input type="radio" value="2" checked="checked" (change)="eventTypeClick()" formControlName="eventTypeId">
                                                    <i></i> Drop Off Materials
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                                <label class="radio">
                                                    <input type="radio" value="4" checked="checked" (change)="eventTypeClick()" formControlName="eventTypeId">
                                                    <i></i> Local Business
                                                </label>
                                            </div>
                                            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                                                <label class="radio">
                                                    <input type="radio" value="1" checked="checked" (change)="eventTypeClick()" formControlName="eventTypeId">
                                                    <i></i> Open House
                                                </label>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                                <div class="row">
                                                    <div class="col-md-3 col-3">
                                                        <label class="radio">
                                                            <input type="radio" value="8" checked="checked" (change)="eventTypeOtherClick()" formControlName="eventTypeId">
                                                            <i></i> Other
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-9 col-md-9 col-sm-9 col-9" [ngClass]="displayFieldCss('eventDescription')">
                                                        <input style="height:32px !important;" type="text" class="form-control form-control-sm" formControlName="eventDescription" [readonly]="isEventTypeReadOnly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-20">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="inputPassword">Walgreens Role </label>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                                <label class="radio">
                                                    <input type="radio" value="1" checked="checked" (change)="walgreensRoleClick()" formControlName="walgreensRoleId">
                                                    <i></i> Presentation
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                                <label class="radio">
                                                    <input type="radio" value="2" checked="checked" (change)="walgreensRoleClick()" formControlName="walgreensRoleId">
                                                    <i></i> Event Sponsorship
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                                <div class="row">
                                                    <div class="col-md-4 col-4">
                                                        <label class="radio">
                                                            <input type="radio" value="3" checked="checked" (change)="walgreensRoleOtherClick()"  formControlName="walgreensRoleId">
                                                            <i></i> Other
                                                        </label>
                                                    </div>
                                                    <div class="col-md-8 col-8" [ngClass]="displayFieldCss('walgreensRoleDescription')">
                                                        <input style="height:32px !important;" type="text" class="form-control form-control-sm" formControlName="walgreensRoleDescription" [readonly]="isWallgreenRoleReadOnly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="inputPassword">Provide Educational Material</label>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                            <label class="radio">
                                                <input type="radio" value="1" checked="checked" formControlName="provideEducationalMaterial">
                                                <i></i> Yes
                                            </label>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                            <label class="radio">
                                                <input type="radio" value="2" checked="checked" formControlName="provideEducationalMaterial">
                                                <i></i> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-20">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="inputPassword">Description of Educational Materials</label>
                                    <textarea style="height:100px;" formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                                    <div class="mt-20 text-center">
                                        <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
                                        <button (click)="onSubmit()" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<p-dialog [(visible)]="displayOnSucc" id="popOnSucc" modal="modal" modal="true" [responsive]="true">
    <p-header>
        Scheduled Event Information
    </p-header>
    Event information for this Scheduled Event has been entered successfully!
    <p-footer>
        <div class="float-right">
            <button type="button" (click)="onClick()" class="btn btn-primary m-5">Ok</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="blueBgDark" header="{{dialogSummary}}" [(visible)]="savePopUp" modal="modal" modal="true" [responsive]="true"
    [contentStyle]="{'max-width':'640px'}">
    <p>{{dialogMsg}}</p>
    <p-footer>
        <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="Continue()">{{doNotSaveText}}</button>
            <button type="button" class="btn btn-primary" (click)="doNotSave()">{{setUp}}</button>
        </div>
    </p-footer>
</p-dialog>
<hintscomponent [dispHintDialog]="showHints"  [title]="pageName" ></hintscomponent>