.tab-content {
    padding: 5px 0;
}

.radio, .checkbox {
    margin: 0 2px 5px 0 !important;
}

.error-msg {
    color: red;
  }
   .has-error label{
    color:red!important;
    }
    .has-error input{
    border:1px solid red !important;
    } 
 