

            <div class="card card-default">
                        <div class="card-heading">
                              <h2 class="card-title">Pharmacy Information</h2>
                        </div>
                        <div class="card-block">
                                    <form  [formGroup]="witnessForm" novalidate >
                                                <div class="row">
                                               <div class="col-md-6 col-sm-6"   [ngClass]="displayFieldCss('name')">
                                                  <label>Executed By (Walgreen Co. Employee Name)</label>
                                                  <input type="text" name="contact[name]" class="form-control required" formControlName="name">
                                               </div>
                                               <div class="col-md-6 col-sm-6"  [ngClass]="displayFieldCss('title')" >
                                                  <label>Title</label>
                                                  <input type="text" name="contact[title]"  class="form-control required"  formControlName="title">
                                               </div>
                                            </div>
                                            <div class="row">
                                               <div class="col-md-6 col-sm-6"  [ngClass]="displayFieldCss('preparedDate')" >
                                                      <label>Expiration Date</label>
                                                      <p-calendar class="primeng-control required" utc="false" formControlName="preparedDate"
                                                      name="contact[expiration_date]" [defaultDate]="preparedDate" [minDate]="preparedDate" 
                                                        readonlyInput="true"></p-calendar>
                                               </div>
                                               <div class="col-md-6 col-sm-6"  [ngClass]="displayFieldCss('districtNumber')" >
                                                  <label>District Number</label>
                                                  <input type="text" maxlength="5" name="contact[dist_number]" formControlName="districtNumber"  class="form-control required"
                                                  pInputText pKeyFilter="pint" (keypress)="onlyNumberKey($event)">
                                               </div>
                                            </div>
                                      </form>
                        </div>
                  </div>

