<div id="header" class="navbar-toggleable-md static header-md clearfix">
    <!-- TOP NAV -->
    <header id="topNav">
       <div class="container">
          <!-- /BUTTONS -->
          <!-- Logo -->
          <a class="logo hidden-sm-down float-left pt-10"  routerLink="/login">
          <img src="assets/images/walgreens_1901_logo.png"  />
          </a>
          <a class="logo hidden-md-up float-left" routerLink="/login">
          <img src="assets/images/_smarty/Walgreens_mobile_logo.png" style="width:32px; height: 35px;" />
          </a>
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
             <nav class="nav-main">
                <ul id="topMain" class="nav nav-pills nav-main">
                </ul>
             </nav>
          </div>
       </div>
    </header>
    <!-- /Top Nav -->
 </div>
 <section class="h-340" id="slider" style="background:url('assets/images/wags_icons/walgreens_store.jpg')">
    <div class="overlay dark-6"></div>
    <div class="display-table mt-60">
       <div class="display-table-cell vertical-align-middle">
          <div class="container text-center">
             <h1 class="m-0 wow fadeInUp" data-wow-delay="0.4s">
                COMMUNITY OUTREACH 
                <!--
                   TEXT ROTATOR
                   data-animation="fade|flip|flipCube|flipUp|spin"
                   -->
                <span class="rotate " data-animation="fade" data-speed="1500">
                PORTAL
                </span>
             </h1>
          </div>
       </div>
    </div>
 </section>
 <!-- /SLIDER -->
 <!-- -->
 <section class="pt-20">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h1 class="f24b text-uppercase mb-0">You appear to be an unauthorized user</h1>
             <p class="f18r">Please use your Walgreens Community Outreach access link or login credentials to access the portal.</p>
          </div>
          <div class="col-md-6">
             <div class="box-static box-border-top p-30 mh300">
                <div class="box-title mb-30">
                   <h2 class="fs-20">Send Access Link</h2>
                </div>
                <form class="sky-form">
                        <label class="input">
                        <i class="ico-append fa fa-envelope"></i>
                        <input type="email" placeholder="Email address">
                        </label>
                        <div class="row mb-45">
                           <div class="col-md-12 col-sm-12 col-12 text-right mt-25 mb-5">
                              <button (keydown.enter)="getDashboard()" (click)="getDashboard()" class="btn btn-primary">SUBMIT</button>
                              <br/>
                           </div>
                        </div>
                    </form>
             </div>
          </div>
          <div class="col-md-6">
             <div class="box-static box-border-top p-30 mh300">
                <div class="box-title mb-30">
                   <h2 class="fs-20">Login</h2>
                </div>
                <div class="sky-form">
                   <label class="input">
                   <i class="ico-append fa fa-envelope"></i>
                   <input type="email" placeholder="User Name" [(ngModel)]="emailAddress">
                   </label>
                   <label class="input">
                   <i class="ico-append fa fa-lock"></i>
                   <input type="password" placeholder="Password" [(ngModel)]="password"  (keydown.enter)="getDashboard()">
                   </label>
                   <span class="text-danger" *ngIf="loginError"> The entered username and password combination is invalid.</span>
                   <div class="row">
                      <div class="col-md-12 col-sm-12 col-12 text-right mt-20">
                         <button  (keydown.enter)="getDashboard()"  (click)="getDashboard()" class="btn btn-primary">LOG IN</button>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>